
body {
    background-color: #e84c01;
}

.bottomborder {
    background-color:#e84c01;
}

.rightborder {
    background-color:#e84c01;
}

.topborder {
    background-color:#e84c01;
}

.leftborder {
    background-color:#e84c01;
}

.text{
    color: #e84c01;
}

.home a {
    text-shadow: 0 0 2px #e84c01, 0 0 6px #e84c01, 0 0 10px #e84c01;
}

.prev a {
    text-shadow: 0 0 2px #e84c01, 0 0 6px #e84c01, 0 0 10px #e84c01;
}

.next a {
    text-shadow: 0 0 2px #e84c01, 0 0 6px #e84c01, 0 0 10px #e84c01;
}

#play {
    fill: #e84c01;
}
