
body {
    background-color: #524942;
}

.bottomborder {
    background-color:#524942;
}

.rightborder {
    background-color:#524942;
}

.topborder {
    background-color:#524942;
}

.leftborder {
    background-color:#524942;
}

.text{
    color: #524942;
}

.home a {
    text-shadow: 0 0 2px #524942, 0 0 6px #524942, 0 0 10px #524942;
}

.prev a {
    text-shadow: 0 0 2px #524942, 0 0 6px #524942, 0 0 10px #524942;
}

.next a {
    text-shadow: 0 0 2px #524942, 0 0 6px #524942, 0 0 10px #524942;
}

#play {
    fill: #524942;
}

