
body {
    background-color: #a202c8;
}

.bottomborder {
    background-color:#a202c8;
}

.rightborder {
    background-color:#a202c8;
}

.topborder {
    background-color:#a202c8;
}

.leftborder {
    background-color:#a202c8;
}

.text{
    color: #a202c8;
}

.home a {
    text-shadow: 0 0 12px #a202c8, 0 0 20px #a202c8;
}

.prev a {
    text-shadow: 0 0 12px #a202c8, 0 0 20px #a202c8;
}

.next a {
    text-shadow: 0 0 12px #a202c8, 0 0 20px #a202c8;
}

#play {
    fill: #a202c8;
}

