
body {
    background-color: #c8660b;
}

.bottomborder {
    background-color:#c8660b;
}

.rightborder {
    background-color:#c8660b;
}

.topborder {
    background-color:#c8660b;
}

.leftborder {
    background-color:#c8660b;
}

.text{
    color: #c8660b;
}

.home a {
    text-shadow: 0 0 2px #c8660b, 0 0 6px #c8660b, 0 0 10px #c8660b;
}

.prev a {
     text-shadow: 0 0 2px #c8660b, 0 0 6px #c8660b, 0 0 10px #c8660b;
}

.next a {
     text-shadow: 0 0 2px #c8660b, 0 0 6px #c8660b, 0 0 10px #c8660b;
}

#play {
    fill: #c8660b;
}

