\*{  
    padding: 0;
    margin: 0;
/*    box-sizing: border-box;*/
}

@font-face {
    font-family: TRJN-DaVinci-Italic-Display;
    src: url("../fonts/TRJN-DaVinci-Italic-Display.otf") format("opentype");
    src: url("../fonts/TRJN-DaVinci-Italic-Display.woff") format("woff");
    src: url("../fonts/TRJN-DaVinci-Italic-Display.ttf") format("truetype");
    font-style: normal;

}

@font-face {
    font-family: SuisseIntlRegular;
    src: url("../fonts/SuisseIntlRegular.otf") format("opentype");
    font-style: normal;
}
@font-face {
    font-family: TRJNDaVinci-Text;
    src: url("../fonts/TRJNDaVinci-Text.otf") format("opentype");
    font-style: normal;

}


@font-face {
    font-family: Itals;
    src: url("../fonts/Itals.otf") format("opentype");
    font-style: oblique;
}

body {
    margin: 0px;
}

section {
    display: flex;
}


.bottomborder {
    height: 8px;
    width:100vw;
    position: fixed;
    bottom:0px;
    z-index: 500;
}

.rightborder {
    height: 100vh;
    width:8px;
    position: fixed;
    right:0px;
    z-index: 500;
}

.topborder {
    height: 8px;
    width:100vw;
    position: fixed;
    top:0px;
    z-index: 500;
}

.leftborder {
    height: 100vh;
    width:8px;
    position: fixed;
    left:0px;
    z-index: 500;
}

.perfume{
    height: 100vh;
    position: fixed;
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.text{
    font-family: SuisseIntlRegular;
    font-size: 1.45rem;
    line-height: 1.25;
    background: white;
    text-align: left;
    display: inline-block;
    overflow-y: scroll;
    padding-left: 15px;
    margin-top: 0px;
    padding-right: 20px;
    z-index: 100;
}

.text::-webkit-scrollbar {
    display: none;
}

.text p{
    margin-top: 10px;
	margin-bottom: 20px;
}

.italic {
  font-family: TRJNDaVinci-Text;
/*  font-style:oblique;*/
}

.text h1{
    font-family: TRJN-DaVinci-Italic-Display;
    font-size: 4rem;
    line-height: 1;
    margin-top: 100px;
    margin-bottom: 18px;
    padding-left: 8px;
    letter-spacing: -.015em;
    font-weight: bold;
}

.picture {
    top: 1px;
    height: 100vh;
    margin-bottom: 20px;  
    z-index: 200;
}

.picture img{
	height: 100vh;
}

.home {
    position: fixed;
    top:20px;
    width:100vw;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
}

.home a {
	text-decoration: none;
	font-family: TRJN-DaVinci-Italic-Display;
    font-size: 1.75rem;
    color: white;
    -webkit-text-stroke: 1px white;
}

.prev {
    position: fixed;
    top:20px;
    left:17px;
    width: 120px;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
}

.prev a {
    text-decoration: none;
    font-family: TRJN-DaVinci-Italic-Display;
    font-size: 1.75rem;
    color: white;
    -webkit-text-stroke: .75px white;
}

.next {
    position: fixed;
    width: 75px;
    top:20px;
    right:20px;
    margin: 0 auto;
    text-align: center;
    z-index: 105;
        display: block;
        overflow: visible;
}

.next a {
    text-decoration: none;
    font-family: TRJN-DaVinci-Italic-Display;
    font-size: 1.75rem;
    color: white;
    -webkit-text-stroke: .75px white;
           display: block;
        overflow: visible;
}

#play {
    height: 65px;
}

#play { transition: all .2s ease-in-out; }
#play:hover { transform: scale(1.05); }

/*.text #leftarrow { 
    display:none;
}

.text #rightarrow { 
    display:none;
}
*/


/*/* Smartphones (portrait) ----------- */

@media screen and (max-width: 1036px) {
.perfume{
/*    background-color: transparent;*/
    height: 100vh;
    position: absolute;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}


body {
    margin: 0px;
    background-color: white;
}

section {
    display: block;
}

.picture {
/*    position: sticky;*/
    top:0;
    margin: 0 auto;
    text-align: center;
    z-index: 90;
    width: 100%;
height: auto;
}

.picture img{
width: 100%;
height: auto;
}

.text {
    font-size: 1em;
    line-height: 1.25;
  /*  position: sticky;*/
    top: 6vw;
    overflow-y: scroll;
    background: transparent;
    z-index: 400;
/*    color:white;*/
    margin-left: 0px;
    padding-left: 20px;
    padding-top: 10px;

}

.text p{
    margin-top: 10px;
    margin-bottom: 15px;
}

.text h1{
    font-size: 2rem;
    line-height: 1;
/*    color:white;*/
    margin-top: 0px;
    padding-left: 5px;
    font-weight: bold;
}

/*.links {
  display: none;
  z-index: 1;
}*/

.home {
    top:2vw;
    height: 150px;
    z-index:410;
    top: 15px;

}

.home a {
    font-size: 1.45rem;
}

.prev {

    height: 50px;
    z-index:410;
    left:1px;
    width: 120px;
    top: 15px;
} 

.next {

    height: 50px;
    z-index:410;
    right:9px;
    top: 15px;
}  

.prev a {
     font-size: 1.45rem;
}

.next a {
     font-size: 1.45rem;

}

.bottomborder {
display: none;
}

.leftborder {
display: none;
}

.topborder {
display: none;
}

#play {
    height: 40px;
/*    fill:white;*/
}

.rightborder {
display: none;
}


/*.text #leftarrow { 
    fill:white;
    height:25px;
    display:inline-block;
    position: absolute;
    left:20px;
    top:2vw;
}

.text #rightarrow { 
    fill:white;
    height: 25px;
    display:inline-block;
    position: absolute;
    right:20px;
    top:2vw;
}*/

}