/*pixel 2*/
/*@media screen and (width:411px) and (height: 731px) {
.text {
    top: 115vw;
}
}*/

/*pixel 2xl*/
/*@media screen and (width:411px) and (height: 823px) {
.text {
    top: 115vw;
}
}*/

/*iphone X*/
/*@media screen and (width:375px) and (height: 812px)  {
.text {
    top: 115vw;
}
}*/

/*iphone 6,7,8*/
/*@media screen and (width:375px) and (height: 667px)  {
.text {
    top: 115vw;
}
}*/

/*iphone 6,7,8+*/
/*@media screen and (width:414px) and (height: 736px) {
.text {
    top: 115vw;
}
}
*/
/*iphone 5*/
@media screen and (width:320px) and (height: 568px) {
.text {
    top: 113vw;
}
}

/*galaxyS5, moto G4*/
/*@media screen and (width:360px) and (height: 640px) {
.text {
    top: 115vw;
}
}*/


/*surface duo*/
@media screen and (width: 540px) and (height: 720px) {
.text {
    top: 118vw;
}
}

/*galaxy fold*/
@media screen and (width: 280px) and (height: 653px) {
.text {
    top: 112vw;
}
}

/*ipad pro*/
@media screen and (width:1024px) and (height: 1366px) {
.text {
    top: 120vw;
    font-size: 1.25rem;
}

.text #rightarrow { 
    height: 30px;
    bottom:40px;
}

.text #leftarrow { 
    height: 30px;
    bottom:40px;
}

#play {
    height: 60px;
    fill:white;
}

.home a {
    font-size: 2.25rem;
}

h1{
    font-size: 3.3rem;
    line-height: 1.1;
}
}

/*ipad*/
@media screen and (width:768px) and (height: 1024px) {
.text {
    top: 119vw;
    font-size: 1.25rem;
}

.home a {
    font-size: 2.25rem;
}

h1{
    font-size: 3.3rem;
    line-height: 1.1;
}
}










