/*more specific phone queries*/

/*pixel 2xl*/
@media screen and (max-height: 824px) {
.text {
    top: 36vh;
}
}

/*iphone X*/
@media screen and (max-height: 816px) {
.text {
    top: 32vh;
}
}

/*iphone 6,7,8plus and pixel2 and motog4+*/
@media screen and (max-height: 737px) {
.text {
    top: 40vh;
}
}

/*iphone 6,7,8+*/
@media screen and (max-height: 668px) {
.text {
    top: 38vh;
}
}

/*iphone 5*/
@media screen and (max-height: 569px) {
.text {
    top: 35vh;
}
}

/*galaxy S5*/
@media screen and (width: 360px) and (height: 640px) {
.text {
    top: 38vh;
}
}

/*surface duo*/
@media screen and (width: 540px) and (height: 720px) {
.text {
    top: 59vh;
}
}

/*galaxy fold*/
@media screen and (width: 280px) and (height: 653px) {
.text {
    top: 25vh;
}
}


/*ipad pro*/
@media screen and (width:1024px) and (height: 1366px) {
.text {
    top: 66vh;
    font-size: 1.25rem;
}

.text #rightarrow { 
    height: 30px;
    bottom:40px;
}

.text #leftarrow { 
    height: 30px;
    bottom:40px;
}

#play {
    height: 60px;
    fill:white;
}

.home a {
    font-size: 2.25rem;
}

h1{
    font-size: 3.3rem;
    line-height: 1.1;
}

}

/*ipad*/
@media screen and (width:768px) and (height: 1024px) {
.text {
    top: 62vh;
    font-size: 1.25rem;
}

.home a {
    font-size: 2.25rem;
}

h1{
    font-size: 3.3rem;
    line-height: 1.1;
}
}










