/*surface duo*/
@media screen and (width: 540px) and (height: 720px) {
.text {
    top: 93vw;
}
}

/*galaxy fold*/
@media screen and (width: 280px) and (height: 653px) {
.text {
    top: 86vw;
}
}

/*ipad pro*/
@media screen and (width:1024px){
.text {
    top: 96vw;
    font-size: 1.25rem;
}

#play {
    height: 60px;
    fill:white;
}

.home a {
    font-size: 2.25rem;
}

h1{
    font-size: 3.3rem;
    line-height: 1.1;
}
}

/*ipad*/
@media screen and (width:768px){
.text {
    top: 93.5vw;
    font-size: 1.25rem;
}

.home a {
    font-size: 2.25rem;
}

h1{
    font-size: 3.3rem;
    line-height: 1.1;
}
}










