* { 
    padding: 0;
    margin: 0;
}


body{
  background-image: url("beach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.gif{
  padding-top: 20px;
	margin: 0 auto;
	text-align: center;
	width:90vw;
}

.gif img{
    height:95vh;
}
