body {
    font-family: 'Source Code Pro', monospace;
    background background-color: white;
    cursor: url("paw.png"), auto;   
}

.sushi img{
	margin: auto;
	text-align: center;
    width: 300px;
    transition: transform 1s;
}

.sushi {
	z-index: 40;
}

.canned {
	z-index: 40;

}

.canned img{
	margin: auto;
	text-align: center;
    width: 180px;
    transition: transform 1s;
}

.canned img:hover {
  transform: rotate(10deg);
}

.bird {
    z-index: 40;
}

.bird img{
	margin: auto;
	text-align: center;
    width: 300px;
    transition: transform 1s;
}

.cat {
    margin: auto;
    width: 200px;
    padding-top: 100px;
    z-index: 50;
    transition: transform 1s;
}

.cat img{
    margin: auto;
    width: 200px;
    z-index: 30;
    transition: transform 1s;
    position: fixed;
}


.cat img:hover {
  transform: scale(1.9);
}

.sushi img:hover {
  transform: rotate(-180deg);
}

.bird img:hover {
  transform: rotate(45deg);
}

a {
    width:100px;
    color:red;
    text-align: center;
    text-decoration-style: wavy;
    text-decoration-color: #f442c2;
    font-weight: 700;
    margin-left: 600px;
    margin-top: 100px;
}

.home {
        z-index: 10;
}

.home img {
    width:500px;
    transform: rotate(60deg);
}
