
body {
    background-color: #e90495;
}

.bottomborder {
    background-color:#e90495;
}

.rightborder {
    background-color:#e90495;
}

.topborder {
    background-color:#e90495;
}

.leftborder {
    background-color:#e90495;
}

.text{
    color: #e90495;
}

.home a {
    text-shadow: 0 0 12px #e90495, 0 0 20px #e90495;
}

.prev a {
    text-shadow: 0 0 12px #e90495, 0 0 20px #e90495;
}

.next a {
    text-shadow: 0 0 12px #e90495, 0 0 20px #e90495;
}

#play {
    fill: #e90495;
}

/*/* Smartphones (portrait) ----------- */

@media screen and (max-width: 1036px) {
.perfume{
    background-color: #e90495;
}

body {
    background-color: #e90495;
}

h1{
    text-shadow:0 0 12px #e90495, 0 0 20px #e90495;
}