
body {
    background-color: #00d9d2;
}

.bottomborder {
    background-color:#00d9d2;
}

.rightborder {
    background-color:#00d9d2;
}

.topborder {
    background-color:#00d9d2;
}

.leftborder {
    background-color:#00d9d2;
}

.text{
    color: #00d9d2;
}

.home a {
    text-shadow: 0 0 2px #00d9d2, 0 0 6px #00d9d2, 0 0 10px #00d9d2;
}

.prev a {
    text-shadow: 0 0 2px #00d9d2, 0 0 6px #00d9d2, 0 0 10px #00d9d2;
}

.next a {
    text-shadow: 0 0 2px #00d9d2, 0 0 6px #00d9d2, 0 0 10px #00d9d2;
}

#play {
    fill: #00d9d2;
}

