
@font-face {
    font-family:Knockout-28;
    src: url("fonts/Knockout-28.otf") format("opentype");
}

* { 
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
/*    background-image: url("images/overlay.png");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

#content {
    height: 100%;
    font-family: Knockout-28;
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 30px;
    line-height: 1.5;
}
#left {
    float: left;
    width: 50%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
    color:#ffe0e9;
    background-color: black;
    text-align: right;
    padding-right: 9px;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#left::-webkit-scrollbar {
    display: none;
}

#right {
    float: left;
    width: 50%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
    color:black;
    background-color: #ffe0e9;
    text-align: left;
    padding-left: 12px;
    overflow-y: scroll;
}

#right::-webkit-scrollbar {
    display: none;
}

#border {
	position: absolute;
}

#border img{
	position: relative;
	height: 80px;
}


