
@font-face {
    font-family:Knockout-28;
    src: url("fonts/Knockout-28.otf") format("opentype");
}

* { 
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

#key {
  position: absolute;
  bottom: 70px;
  right: 17px;
  display: none;
  font-size: 1.75em;
  font-family: Knockout-28;
  background-color: #ffe0e9;
  width:500px;
  padding:25px;
  border-style: solid;
}

button{
  background-color: #ffe0e9;
  color:black;
  bottom: 5px;
  right: 17px;
  position: absolute;
  font-size: 3em;
  font-family: Knockout-28;
  border: none;
}

button:focus {outline:0;}

button:hover {
  cursor: pointer;
}

.title {
    font-family: Knockout-28;
    text-transform: uppercase;
    font-size: 7em;
}

#content {
    height: 100%;
    font-family: Knockout-28;
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 30px;
    line-height: 1.5;
}
#left {
    float: left;
    width: 50%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
    color:#ffe0e9;
    background-color: black;
    text-align: right;
    padding-right: 9px;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#left::-webkit-scrollbar {
    display: none;
}

#right {
    float: left;
    width: 50%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
    color:black;
    background-color: #ffe0e9;
    text-align: left;
    padding-left: 12px;
    overflow-y: scroll;
}

#right::-webkit-scrollbar {
    display: none;
}

#border {
	position: absolute;
}

#border img{
	position: relative;
	height: 80px;
}


