
body {
    background-color: #36914d;
}

.bottomborder {
    background-color:#36914d;
}

.rightborder {
    background-color:#36914d;
}

.topborder {
    background-color:#36914d;
}

.leftborder {
    background-color:#36914d;
}

.text{
    color: #36914d;
}

.home a {
    text-shadow: 0 0 2px #36914d, 0 0 6px #36914d, 0 0 10px #36914d;
}

.prev a {
    text-shadow: 0 0 2px #36914d, 0 0 6px #36914d, 0 0 10px #36914d;
}

.next a {
    text-shadow: 0 0 2px #36914d, 0 0 6px #36914d, 0 0 10px #36914d;
}

#play {
    fill: #36914d;
}

