* { 
    padding: 0;
}

body {
    background: black;
}

/*#B1 {
    position: absolute;;
    left:850px;
    top:300px;
    margin: 0 auto;
}

#B1 img{
    position: relative;
    width:220px;
    z-index: 260;
}

#B2 {
    position: relative;
    margin:0 auto;
    z-index: 1;
    padding-top: 100px;
}

#B2 img{
    position: relative;
    width: 250px;
    z-index: 250;
    top:270px;
    left:70px;
}

#B3 {
    position: absolute;
    top:900px;
    left:700px;
    margin: 0 auto;
}

#B3 img{
    top:200px;
    position: relative;
    width: 250px;
    z-index: 250;
}

#B4 {
    position: absolute;
    top:1500px;
    left:100px;
    margin: 0 auto;
}

#B4 img{
    position: relative;
    width: 250px;
    z-index: 250;
    left:820px;
    top:50px;
}


#B5 {
    position: absolute;
    top:1000px;
    left:200px;
    margin: 0 auto;
}

#B5 img{
    position: relative;
    width:200px;
    z-index: 220;
}

#B6 {
    position: absolute;
    top:600px;
    left:600px;
    margin: 0 auto;
}

#B6 img{
    position: relative;
    width:200px;
    z-index: 260;
}

#B7 {
    position: absolute;
    top:1700px;
    left:500px;
    margin: 0 auto;
}

#B7 img{
    position: relative;
    width:250px;
    z-index: 260;
}

#B8 {
    position: absolute;
    top:1900px;
    left:200px;
    margin: 0 auto;
}

#B8 img{
    position: relative;
    width:150px;
    z-index: 260;
}*/





