
body {
    background-color: #eb4e09;
}

.bottomborder {
    background-color:#eb4e09;
}

.rightborder {
    background-color:#eb4e09;
}

.topborder {
    background-color:#eb4e09;
}

.leftborder {
    background-color:#eb4e09;
}

.text{
    color: #eb4e09;
}

.home a {
    text-shadow: 0 0 2px #eb4e09, 0 0 6px #eb4e09, 0 0 10px #eb4e09;
}

.prev a {
    text-shadow: 0 0 2px #eb4e09, 0 0 6px #eb4e09, 0 0 10px #eb4e09;
}

.next a {
    text-shadow: 0 0 2px #eb4e09, 0 0 6px #eb4e09, 0 0 10px #eb4e09;
}

#play {
    fill: #eb4e09;
}

