* { 
    padding: 0;
    margin: 0;
}

body{
  background-image: linear-gradient(red, #e3ef6f);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.jello{
  padding-top: 100px;
	margin: 0 auto;
	text-align: center;
	width:80vw;
}

.jello img{
    width:50vw;
}

img:hover {
  animation: jiggle 2.5s; 
  animation-iteration-count: 1; 
}

@keyframes jiggle {

  8%, 22% {
    transform: scale(1.0, 1.0)
  }
  10% {
    transform: scale(1.1, 0.9)
  }
  16% {
    transform: scale(0.9, 1.1) translate(0, -5px)
  }
  19% {
    transform: scale(1.0, 1.0) translate(0, -3px)
  }

}
