@font-face {
    font-family: 'bluuitalic';
    src: url('../fonts/bluunext-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/bluunext-bolditalic-webfont.woff') format('woff'),
         url('../fonts/bluunext-bolditalic.ttf') format('truetype'),
         url('../fonts/bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'circular-book';
    src: url('../fonts/circular-book.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

* {
  margin:0;
  cursor: url('../assets/arrow.png'), default;
}

body {
  background: white;
  cursor: url('../assets/arrow.png'), default;
}

a:hover{
  cursor: url('../assets/arrow.png'), default;
}
/*Topnav*/

.topnav {
    z-index:500;
    background-color: transparent;
    position: fixed;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 60px;
}

.topnav p {
    display: block;
    color: white;
    text-align: left;
    font-size: 2.5rem;
    font-family: 'bluuitalic'; 
    text-shadow: 
    #0c1e3d 0px 0px 1.5px,   
    #0c1e3d 0px 0px 1.5px,   
    #0c1e3d 0px 0px 1.5px,
    #0c1e3d 0px 0px 1.5px,   
    #0c1e3d 0px 0px 1.5px,   
    #0c1e3d 0px 0px 1.5px;
    font-smoothing: antialiased;
    margin:0px;
    letter-spacing: .05em;
}

.topnav a{
  text-decoration: none;
  color: white;
}

.topnav a:hover{
    text-shadow: 
    #ff2400 0px 0px 1px,   
    #ff2400 0px 0px 1px,   
    #ff2400 0px 0px 1px,
    #ff2400 0px 0px 1px,   
    #ff2400 0px 0px 1px,   
    #ff2400 0px 0px 1px;
    font-smoothing: antialiased;
}

/*Links*/

.links {
padding-top: 110px;
padding-bottom: 90px;
z-index: 5;
}

.links a{
  z-index: 10;
  position: relative;
  color:#0c1e3d;
}

.links a:hover {
  color:#ff2400;
}

.petey, .fish, .forbidden, .believe,
.steinweiss, .hooked, .coupons, .russian {
  z-index: 4;
  position: relative;
  margin:0 auto;
  display: block;
  font-size: 7rem;
  font-family:'bluuitalic';
  text-align: left;
  line-height:1.5em;
  padding-top: 20px;
  padding-left: 90px;
  padding-right: 30px;
  color:#0c1e3d;
}

/*Icons*/

.peteyface img{
  width:80px;  
  z-index: 13;
  position: absolute;
  margin-left: 30px;
  margin-top:-160px;
  transform: rotate(-20deg);
  -webkit-transition: all 3s ease;  
  -moz-transition: all 3s ease;  
  -o-transition: all 3s ease;  
  -ms-transition: all 3s ease;  
  transition: all 3s ease;
}

.plant img{
  width:160px;  
  z-index: 11;
  position: absolute;
  margin-left: 900px;
  margin-top:-180px;
}

.fishnet img {
  width:110px;  
  z-index: 11;
  position: absolute;
  margin-left: 290px;
  margin-top:-170px;
  transform: rotate(-90deg);
  -webkit-transition: all 7s ease;  
  -moz-transition: all 7s ease;  
  -o-transition: all 7s ease;  
  -ms-transition: all 7s ease;  
  transition: all 7s ease;
}

.fruitpic img {
  width:160px;  
  z-index: 1;
  position: absolute;
  margin-left: 1010px;
  margin-top:-220px;
}

.believeicons img {
  width:650px;  
  z-index: 1;
  position: absolute;
  margin-left: 165px;
  margin-top:-165px;
}

.nogoogle img {
  width:120px;  
  z-index: 1;
  position: absolute;
  margin-left: 760px;
  margin-top:-100px;
}

.gursky img {
  width:110px;  
  z-index: 1;
  position: absolute;
  margin-left: 890px;
  margin-top:-170px;
}

.gursky2 img {
  width:110px;  
  z-index: 1;
  position: absolute;
  margin-left: 820px;
  margin-top:-100px;
}

.russia img {
  height:150px;  
  z-index: 1;
  position: absolute;
  margin-left: 270px;
  margin-top:-70px;
  transform: rotate(90deg);
}

.russia2 img {
  height:100px;  
  z-index: 10;
  position: absolute;
  margin-left: 590px;
  margin-top:-170px;
  -webkit-transition: all 5s ease;  
  -moz-transition: all 5s ease;  
  -o-transition: all 5s ease;  
  -ms-transition: all 5s ease;  
  transition: all 5s ease;
}

.russia2-active {
  transform: translateX(450px);
}

.peteyface-active {
  transform: translateX(450px);
}

/* POPUPS*/

.popup {
z-index: 100;
width:100vw;
height:100vh;
display:none;
position: absolute;
top:0px;
left:0px;
}

.popup-inner {
  width:700px;
  float:right;
  position: relative;

}

.popup-inner p{
  width:400px;
  padding:15px;
  background-color: white;
  color: #0c1e3d;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'circular-book', sans-serif;
  outline-width: 2px;
  outline-color: #0c1e3d;
  outline-style: solid;
  top:60px;
  right:90px;
  position: absolute;
  z-index:16;
  cursor: url('../assets/smallx.png'), default;
}

.popup-inner img{
  width:700px;
  position: absolute;
  cursor: url('../assets/smallx.png'), default;
}

.popup-inner-active{
display: none;
}

/*fishconspiracy popups*/

#fishinner1 {
  transform:translate(-30px,400px);
  width: 550px;
}

#fishinner2 {
  transform:translate(-170px,130px);
  width: 550px;
}

#fishcover {
  transform:translate(-400px,250px);
  width: 550px;
}

#fishclose.popup-close {
top:300px;
left:340px;
}

/*PT sans popups*/

#specfront {
  transform:translate(-250px,1060px);
  width:450px;
}

#spec7 {
  transform:translate(-200px,850px);
  width:600px;
}

#spec3 {
  transform:translate(-120px,1000px);
  width:600px;
}

#spec4 {
  transform:translate(-500px,960px);
  width:600px;
}

#spec5 {
  transform:translate(-50px,750px);
  width:600px;
}

#specback {
  transform:translate(-370px,900px);
  width:450px;
}

#ptclose.popup-close {
top:1280px;
left:170px;
}

#pttext.popup-inner p{
top:1100px;
left:-600px;
}

/*fruit popups*/

#fruitbackcover {
  transform:translate(-700px,200px);
}

#fruitinside2 {
  transform:translate(20px,170px);
}

#pom {
  transform:translate(-250px,450px);
  width:500px;
}

#cherry {
  transform:translate(-90px,250px);
  width:500px;
}

#fruitcover {
  transform:translate(-370px,0px);
  width:500px;
}

#fruitposter {
  transform:translate(-190px,120px);
  width:480px;
}

#fruitclose.popup-close {
top:30px;
left:100px;
}

#fruit.popup-inner p{
top:380px;
left:-400px;
}

/*nogoogle popups*/

#ngback {
  transform:translate(-350px,710px);
  width:400px;
}

#nginside11 {
  transform:translate(60px,870px);
  width:600px;
}

#nginside4 {
  transform:translate(-20px,750px);
  width:600px;
}

#nginside9 {
  transform:translate(-190px,650px);
  width:600px;
}

#nginside2 {
  transform:translate(-90px,920px);
  width:580px;
}

#stack {
  transform:translate(-300px,860px);
  width:500px;
}

#nogoogleclose.popup-close {
top:560px;
left:100px;
}

#nogoogletext.popup-inner p{
top:980px;
left:-200px;
}

/*believe popups*/

#outtakes {
  transform:translate(-300px,700px);
  width:450px;
}

#round3 {
  transform:translate(-390px,250px);
  width:450px;
}

#round2 {
  transform:translate(70px,620px);
  width:450px;
}

#believefinal {
  transform:translate(-80px,410px);
  width:450px;
}

#xbelieve.popup-close {
top:800px;
left:-330px;
}

#xbelieve.popup-inner p{
top:580px;
left:-460px;
}

/*petey popups*/


#food {
  transform:translate(-400px,100px);
  width:450px;
}
#plant {
  transform:translate(-80px,0px);
  width:450px;
}
#litter {
  transform:translate(-500px,410px);
  width:450px;
}
#breakfast {
  transform:translate(90px,260px);
  width:450px;
}

#peteyclose.popup-close {
top:30px;
left:-110px;
}

#peteypop.popup-inner p{
top:380px;
left:200px;
}

/*coupon popups*/

#blackandwhite {
  transform:translate(-150px,700px);
  width:300px;
}

#vehicle2 {
  transform:translate(-500px,790px);
  width:1050px;
}

#couponx.popup-close {
top:740px;
left:380px;
}

#coupontext.popup-inner p{
top:900px;
left:-400px;
}

/* Close Button */

.popup-inner a{
font-size:8rem;
font-family: 'bluuitalic';
text-decoration: none;
color:white;
text-shadow: 
#0c1e3d 0px 0px 2.5px,   
#0c1e3d 0px 0px 2.5px,   
#0c1e3d 0px 0px 2.5px,
#0c1e3d 0px 0px 2.5px,   
#0c1e3d 0px 0px 2.5px,   
#0c1e3d 0px 0px 2.5px;
}

.popup-inner a:hover{
color:white;
text-shadow: 
#ff2400 0px 0px 2.5px,   
#ff2400 0px 0px 2.5px,   
#ff2400 0px 0px 2.5px,
#ff2400 0px 0px 2.5px,   
#ff2400 0px 0px 2.5px,   
#ff2400 0px 0px 2.5px;
}

.popup-close {
width:90px;
top:320px;
left:580px;
}


@media screen and (max-width: 904px) {
}
}