@font-face {
    font-family: 'bluuitalic';
    src: url('../fonts/bluunext-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/bluunext-bolditalic-webfont.woff') format('woff'),
         url('../fonts/bluunext-bolditalic.ttf') format('truetype'),
         url('../fonts/bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

* {
  margin:0;
  cursor: url('../assets/arrow.png'), default;
}

body {
background: blue;
}

.topnav {
    z-index:6;
    background-color: transparent;
    position: fixed;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 60px;
}

.topnav p {
    display: block;
    color: white;
    text-align: left;
    font-size: 2.5rem;
    font-family: 'bluuitalic'; 
    text-shadow: 
    black 0px 0px 1.5px,   
    black 0px 0px 1.5px,   
    black 0px 0px 1.5px,
    black 0px 0px 1.5px,   
    black 0px 0px 1.5px,   
    black 0px 0px 1.5px;
    font-smoothing: antialiased;
    margin:0px;
    letter-spacing: .05em;
}

.sketches {
  z-index: 2;
  margin:0 auto;
  display: block;
  font-size: 7rem;
  font-family:'bluuitalic';
  text-align: left;
  line-height:1.5em;
  padding-top: 20px;
  padding-left: 90px;
  padding-right: 30px;
  color:black;
  }

.petey img{
  width:80px;  
  z-index: 1;
  position: absolute;
  margin-left: 30px;
  margin-top:-160px;
  transform: rotate(-20deg);
}

.plant img{
  width:160px;  
  z-index: 1;
  position: absolute;
  margin-left: 900px;
  margin-top:-180px;
}

.fish img {
  width:140px;  
  z-index: 1;
  position: relative;
  margin-left: 290px;
  margin-top:-170px;
  transform: rotate(-90deg);
}


.topnav a{
  text-decoration: none;
  color: white;
}

.links a:hover {
  color:#ff2400;
}

.topnav a:hover{
    text-shadow: 
    #ff2400 0px 0px 1px,   
    #ff2400 0px 0px 1px,   
    #ff2400 0px 0px 1px,
    #ff2400 0px 0px 1px,   
    #ff2400 0px 0px 1px,   
    #ff2400 0px 0px 1px;
    font-smoothing: antialiased;
}

/* Outer */
.popup {
z-index: 100;
width:100%;
height:100%;
display:none;
position: fixed;
top:0;
left:0;
}
/* Inner */
.popup-inner {
max-width:700px;
width:90%;
height:70%;
padding:0px;
position:absolute;
top:50%;
left:50%;
font-size: 2rem;
font-family:'bluuitalic';
-webkit-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
background: transparent;
}

.links {
padding-top: 110px;
padding-bottom: 90px;
}

.icons img {
max-width:250px;  
max-height: 160px;
z-index: 1;
padding: 50px;
}

/*@media screen and (max-width: 904px) {
  a:hover {cursor: url('../assets/cellphone.png'), default;
}
}*/