@font-face {
    font-family: 'bluuitalic';
    src: url('../fonts/bluunext-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/bluunext-bolditalic-webfont.woff') format('woff'),
         url('../fonts/bluunext-bolditalic.ttf') format('truetype'),
         url('../fonts/bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

* {
  margin:0;
  cursor: url('../assets/arrow.png'), default;
}

body {
background: white;
}

/*Topnav*/

.topnav {
    z-index:6;
    background-color: transparent;
    position: fixed;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 60px;
}

.topnav p {
    display: block;
    color: white;
    text-align: left;
    font-size: 2.5rem;
    font-family: 'bluuitalic'; 
    text-shadow: 
    black 0px 0px 1.5px,   
    black 0px 0px 1.5px,   
    black 0px 0px 1.5px,
    black 0px 0px 1.5px,   
    black 0px 0px 1.5px,   
    black 0px 0px 1.5px;
    font-smoothing: antialiased;
    margin:0px;
    letter-spacing: .05em;
}

.topnav a{
  text-decoration: none;
  color: white;
}

.topnav a:hover{
    text-shadow: 
    #ff2400 0px 0px 1px,   
    #ff2400 0px 0px 1px,   
    #ff2400 0px 0px 1px,
    #ff2400 0px 0px 1px,   
    #ff2400 0px 0px 1px,   
    #ff2400 0px 0px 1px;
    font-smoothing: antialiased;
}

/*Links*/

.links {
padding-top: 110px;
padding-bottom: 90px;
z-index: 5;
}

.links a{
  z-index: 10;
  position: relative;
}

.links a:hover {
  color:#ff2400;
}

.sketches {
  z-index: 4;
  margin:0 auto;
  display: block;
  font-size: 7rem;
  font-family:'bluuitalic';
  text-align: left;
  line-height:1.5em;
  padding-top: 20px;
  padding-left: 90px;
  padding-right: 30px;
  color:rgb(9, 60, 68);
}

/*Icons*/

.believe img {
  width:450px;  
  z-index: 11;
  position: absolute;
  margin-left: 160px;
  margin-top:-140px;
}

.nogoogle img {
  width:120px;  
  z-index: 1;
  position: absolute;
  margin-left: 760px;
  margin-top:-100px;
}

.fruit img {
  width:160px;  
  z-index: 1;
  position: absolute;
  margin-left: 1010px;
  margin-top:-220px;
}

.peteyface img{
  width:80px;  
  z-index: 1;
  position: absolute;
  margin-left: 30px;
  margin-top:-160px;
  transform: rotate(-20deg);
}

.plant img{
  width:160px;  
  z-index: 11;
  position: absolute;
  margin-left: 900px;
  margin-top:-180px;
}

.fish img {
  width:110px;  
  z-index: 11;
  position: absolute;
  margin-left: 290px;
  margin-top:-170px;
  transform: rotate(-90deg);
}

.gursky img {
  width:110px;  
  z-index: 1;
  position: absolute;
  margin-left: 890px;
  margin-top:-170px;
}

.gursky2 img {
  width:110px;  
  z-index: 1;
  position: absolute;
  margin-left: 820px;
  margin-top:-100px;
}

.russia img {
  height:150px;  
  z-index: 1;
  position: absolute;
  margin-left: 270px;
  margin-top:-70px;
  transform: rotate(90deg);
}

.russia2 img {
  height:130px;  
  z-index: 1;
  position: absolute;
  margin-left: 590px;
  margin-top:-170px;
}

.hooked img {
  width:100px;  
  z-index: 1;
  position: absolute;
  margin-left: 35px;
  margin-top:-35px;
}

/* Outer */
.popup {
z-index: 100;
width:100%;
height:100%;
display:none;
position: fixed;
top:0;
left:0;
}
/* Inner */
.popup-inner {
max-width:700px;
width:90%;
height:70%;
padding:0px;
position:absolute;
top:50%;
left:50%;
font-size: 2rem;
font-family:'bluuitalic';
-webkit-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
background: transparent;
display: inline-block;
}

.icons img {
max-width:250px;  
max-height: 160px;
z-index: 1;
padding: 50px;
}

.popup-inner img{
  width:650px;
  padding:50px;

}

.popup-inner img:hover{
cursor: url('../assets/bombsmall.png'), default;
}

/*@media screen and (max-width: 904px) {
  a:hover {cursor: url('../assets/cellphone.png'), default;
}
}*/