/*
@font-face {
    font-family:GT-Walsheim-Pro-Medium;
    src: url("fonts/GT-Walsheim-Pro-Medium.otf") format("opentype");
}
*/
* { 
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    background-image: url("images/pinksky.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

button{
  background-color: transparent;
  color:black;
  bottom: 18px;
  right: 28px;
  position: fixed;
  font-size: 3em;
  font-family:serif;
  border: none;
  z-index: 100;
}

#key {
  position: fixed;
  bottom: 85px;
  right: 25px;
  display: none;
  font-size: 20px;
  font-family:sans-serif;
  background-color: white;
  width:600px;
  padding:15px;
  border-style: solid;
  z-index: 100;
  line-height: 1.15;
  background-image: url("images/pinksky.gif");

}


button:focus {outline:0;}

button:hover {
  cursor: pointer;
  color:magenta;
}

#title {
    font-family:GT-Walsheim-Pro-Medium;
    font-size: 3em;
    padding: 25px;
    background-color: transparent;
    position: fixed;
}

#title img {
  height:40px;
  margin-right: 8px;
}

#content {
    font-family: sans-serif;
    font-size: 1.35em;
    background-color: transparent;
    height: 100%;
}

#left {
    float: left;
    width: 30%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    color:black;
    background-color: transparent;
    text-align: left;
    overflow-y: scroll;
    text-transform: uppercase;
    padding-left: 25px;
    padding-top: 250px;
    line-height: 1.3em;
}

#left a{
  color:black;
}

#left a:hover {
  cursor:pointer;
  color:magenta;
}

#right {
    float: right;
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    color:black;
    background-color: transparent;
    overflow-y: scroll;
    text-align: center;
    margin: 0 auto;
}

#right img{
  max-width:65vw;
  max-height:80vh;
}

