
body {
    background-color: #e0707a;
}

.bottomborder {
    background-color:#e0707a;
}

.rightborder {
    background-color:#e0707a;
}

.topborder {
    background-color:#e0707a;
}

.leftborder {
    background-color:#e0707a;
}

.text{
    color: #e0707a;
}

.home a {
    text-shadow: 0 0 2px #e0707a, 0 0 6px #e0707a, 0 0 10px #e0707a;
}

.prev a {
    text-shadow: 0 0 2px #e0707a, 0 0 6px #e0707a, 0 0 10px #e0707a;
}

.next a {
    text-shadow: 0 0 2px #e0707a, 0 0 6px #e0707a, 0 0 10px #e0707a;
}

#play {
    fill: #e0707a;
}

