
body {
    background-color: #705e50;
}

.bottomborder {
    background-color:#705e50;
}

.rightborder {
    background-color:#705e50;
}

.topborder {
    background-color:#705e50;
}

.leftborder {
    background-color:#705e50;
}

.text{
    color: #705e50;
}

.home a {
    text-shadow: 0 0 2px #705e50, 0 0 6px #705e50, 0 0 10px #705e50;
}

.prev a {
    text-shadow: 0 0 2px #705e50, 0 0 6px #705e50, 0 0 10px #705e50;
}

.next a {
    text-shadow: 0 0 2px #705e50, 0 0 6px #705e50, 0 0 10px #705e50;
}

#play {
    fill: #705e50;
}