
body {
    background-color: #007775;
}

.bottomborder {
    background-color:#007775;
}

.rightborder {
    background-color:#007775;
}

.topborder {
    background-color:#007775;
}

.leftborder {
    background-color:#007775;
}

.text{
    color: #007775;
}

.home a {
    text-shadow: 0 0 12px #007775, 0 0 20px #007775;
}

.prev a {
    text-shadow: 0 0 12px #007775, 0 0 20px #007775;
}

.next a {
    text-shadow: 0 0 12px #007775, 0 0 20px #007775;
}

#play {
    fill: #007775;
}

