
body {
    background-color: #ae7ff0;
}

.bottomborder {
    background-color:#ae7ff0;
}

.rightborder {
    background-color:#ae7ff0;
}

.topborder {
    background-color:#ae7ff0;
}

.leftborder {
    background-color:#ae7ff0;
}

.text{
    color: #ae7ff0;
}

.home a {
    text-shadow: 0 0 2px #ae7ff0, 0 0 6px #ae7ff0, 0 0 10px #ae7ff0;
}

.prev a {
    text-shadow: 0 0 2px #ae7ff0, 0 0 6px #ae7ff0, 0 0 10px #ae7ff0;
}

.next a {
    text-shadow: 0 0 2px #ae7ff0, 0 0 6px #ae7ff0, 0 0 10px #ae7ff0;
}

#play {
    fill: #ae7ff0;
}

