@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
	margin:0;
}
body {
	font-family: 'Press Start 2P', cursive;
}

.topnav {
position: relative;
width:100%;
background: white;
z-index: 1;
}

.topnav h1 {
    float: left;
    color: black;
    font-size: 5em;
    margin-left: 75px;
    margin-top: 75px;
    margin-right: 50px;
}

.topnav img{
  margin-top: 30px;
  width: 125px;
  margin-left: -10px;
}

.info {
  position: absolute;
  padding-left: 300px;
  padding-right: 100px;
  padding-top: 80px;
}

.info p{
  font-size:1em;
  line-height: 1.5em;
}

h2 {
  padding-top:50px;
  padding-bottom: 25px;
}

.floating {
  position: absolute;
  top:120px;
  z-index: 2;
}

.floating img {
  display: flex;
  width:20px;
  padding: 140px;
}