@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Cairo:400, 900');
* {
	margin:0;
}
body {
	font-family: 'Press Start 2P', cursive;
  background-color: rgb(255, 233, 214);
  color:rgb(51, 1, 158);
}

.topnav {
position: relative;
width:100%;
background: transparent;
z-index: 1;
}

.topnav h1 {
    float: left;
    font-size: 5em;
    margin-left: 140px;
    margin-top: 75px;
    margin-right: 50px;
}

.topnav img{
  margin-top: 30px;
  width: 125px;
  margin-left: -10px;
}

.info {
  font-weight: normal;
  position: relative;
  padding-left: 300px;
  padding-right: 100px;
}

.info p{
  width: 800px;
  font-family: 'Cairo', sans-serif;
  font-size:1.2em;
  line-height: 1.5em;
  position: relative;
}

.info li{
  font-family: 'Cairo', sans-serif;
  font-size:1.2em;
  line-height: 1.5em;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info img{
width:800px;
margin:0 auto;
padding-bottom: 35px;
padding-top: 35px;
}

.info #new img{
  width:200px;
}

.mixup img{
  width:120px;
  margin-left: 55px;
}

h2 {
  padding-top:110px;
  padding-bottom: 25px;
  line-height: 1.7em;
}

.study img:hover {
  transition: transform 1s;
 transform: rotate(360deg); 
}

.mixup img:hover {
  transition: transform 1s;
 transform: rotate(360deg); 
}

#gucci {
  width:500px;
  margin-left:165px;
}

#first {
  width:600px;
  margin-left:100px;
}

#snake {
  width:600px;
  margin-left:100px;
}

#burgers {
  width:600px;
  margin-left:100px;
}

.study img{
  width: 100px;
  margin-left:120px;
}

.joiner img{
  width: 170px;
  margin-left: 15px;
}

.floating {
  position: absolute;
  top:120px;
  z-index: 2;
}

.floating img {
  display: flex;
  width:20px;
  padding: 140px;
}