
body {
    background-color: #d443c6;
}

.bottomborder {
    background-color:#d443c6;
}

.rightborder {
    background-color:#d443c6;
}

.topborder {
    background-color:#d443c6;
}

.leftborder {
    background-color:#d443c6;
}

.text{
    color: #d443c6;
}

.home a {
    text-shadow: 0 0 2px #d443c6, 0 0 6px #d443c6, 0 0 10px #d443c6;
}

.prev a {
    text-shadow: 0 0 2px #d443c6, 0 0 6px #d443c6, 0 0 10px #d443c6;
}

.next a {
    text-shadow: 0 0 2px #d443c6, 0 0 6px #d443c6, 0 0 10px #d443c6;
}

#play {
    fill: #d443c6;
}

