
* { 
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: oidia;
    src: url("../fonts/oidia.TTF") format("truetype");
}

@font-face {
    font-family: SuisseIntl-Regular;
    src: url("../fonts/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
    font-family: SuisseIntl-RegularItalic;
    src: url("../fonts/SuisseIntl-RegularItalic.otf") format("opentype");
}

html, body {
    height: 100%;
    margin: 0;
    background-image: url("../images/pinksky.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#WIP{
    width:100%;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: fixed;
    font-family:SuisseIntl-Regular;
    font-size: 1.5em;
}

#WIP a{
text-decoration: none;
    color:black;
}

#WIP a:hover {
  color: white;
}

#WIP img {
  width:40vw;
}


/*/* Smartphones (portrait) ----------- */
@media screen and (max-width: 450px) {
}

}*/

