
body {
    background-color: #121212;
}

.bottomborder {
    background-color:#121212;
}

.rightborder {
    background-color:#121212;
}

.topborder {
    background-color:#121212;
}

.leftborder {
    background-color:#121212;
}

.text{
    color: #121212;
}

.home a {
    text-shadow: 0 0 2px #121212, 0 0 6px #121212, 0 0 10px #121212;
}

.prev a {
    text-shadow: 0 0 2px #121212, 0 0 6px #121212, 0 0 10px #121212;
}

.next a {
    text-shadow: 0 0 2px #121212, 0 0 6px #121212, 0 0 10px #121212;
}

#play {
    fill: #121212;
}

