* {
/*  margin:10px;
  margin-top: 5px;*/
}

@font-face {
    font-family: FrizQuadrataStd;
    src: url("../fonts/FrizQuadrataStd.otf") format("opentype");
}

@font-face {
    font-family: FrizQuadrataStd;
    src: url("../fonts/FrizQuadrataStd.otf") format("opentype");
}

body {
	color:#e8e8e8;

}

.deadgirls{
    font-family: FrizQuadrataStd;
    font-size: 12em;
    text-transform:uppercase;
    line-height: 1em;
    color: #333;
    text-shadow: 1px 6px 1px rgba(255,255,255,.5);
    text-align: center;
    margin: 0 auto;
/*    display: block;*/
    margin-top: 120px;
    width: 1250px;
    z-index: 20;
    position: fixed;
}

.flower1{
    left:100px;
    position: fixed;
    top:500px;
}

.flower1 img{
    height: 500px;
    position: fixed;
    transform: rotate(-50deg);
}

.flower2{
    left:100px;
    position: fixed;
    top:500px;
}

.flower2 img{
    height: 500px;
    position: fixed;
    transform: rotate(-50deg);
}

.flower3{
    left:100px;
    position: fixed;
    top:500px;
}

.flower3 img{
    height: 400px;
    position: fixed;
    transform: rotate(-50deg);
}

.flower4{
    left:500px;
    position: fixed;
    top:450px;
}

.flower4 img{
    width: 300px;
    position: fixed;
    transform: rotate(70deg);
}

.index {
    position: fixed;
    left:50px;
    top:30px;
    font-family: sans-serif;
    color:#333;
    font-size: 1.5em;
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
    cursor: default;
}

.background img{
    z-index: 0;
    position: fixed;
    width:100vw;
}


