@font-face {
    font-family: AbadiMTStd-Bold;
    src: url("../../fonts/AbadiMTStd-Bold.otf") format("opentype");
}

* {
  margin:0;
}

.description {
	font-size: 1em;
	font-family: AbadiMTStd-Bold;
	margin-left: 30px;
	margin-bottom: 30px;
	line-height: 1.25em;
	width: 400px;
	text-align: left;
	position: fixed;
}

.description a{
	color: black;
	line-height: 1.75em;
}

.pics {
	text-align: right;
	margin-right: 30px;
}

.pics img{
	max-height: 650px;
	max-width: 520px;
	padding-bottom: 30px;
	padding-left: 30px;
}

.votepics {
	text-align: right;
	margin-right: 30px;
}

.votepics img{
	max-height: 650px;
	max-width: 520px;
	padding-bottom: 30px;
	padding-left: 30px;
}

