
body {
    background-color: #a8a500;
}

.bottomborder {
    background-color:#a8a500;
}

.rightborder {
    background-color:#a8a500;
}

.topborder {
    background-color:#a8a500;
}

.leftborder {
    background-color:#a8a500;
}

.text{
    color: #a8a500;
}

.home a {
    text-shadow: 0 0 12px #a8a500, 0 0 20px #a8a500;
}

.prev a {
    text-shadow: 0 0 12px #a8a500, 0 0 20px #a8a500;
}

.next a {
    text-shadow: 0 0 12px #a8a500, 0 0 20px #a8a500;
}

#play {
    fill: #a8a500;
}

