
body {
    background-color: #655d24;
}

.bottomborder {
    background-color:#655d24;
}

.rightborder {
    background-color:#655d24;
}

.topborder {
    background-color:#655d24;
}

.leftborder {
    background-color:#655d24;
}

.text{
    color: #655d24;
}

.home a {
    text-shadow: 0 0 12px #655d24, 0 0 20px #655d24;
}

.prev a {
    text-shadow: 0 0 12px #655d24, 0 0 20px #655d24;
}

.next a {
    text-shadow: 0 0 12px #655d24, 0 0 20px #655d24;
}

#play {
    fill: #655d24;
}

