@font-face {
    font-family: GRAVE-GraveMedium;
    src: url("fonts/GRAVE-GraveMedium.otf") format("opentype");
}

/*@font-face {
    font-family: FaktSmConPro-Medium;
    src: url("fonts/FaktSmConPro-Medium.otf") format("opentype");
}*/

* {
  margin:0;
}

body {
	background-color: #ffd8ea;
	font-family: GRAVE-GraveMedium;
	color:#0a5e3a;
}

.header p{
	margin-top: 130px;
	margin-left: 48px;
	font-size: 5em;
	line-height: 1.07em;
}

.main {	
	margin-top: 50px;
	margin-bottom: 60px;
}

.main img{
	margin: 0 auto;
	height:120vw;
	display: block;
}

.main img:hover{
	cursor: pointer;
}

.main a:hover{
	cursor: default;
}

.tabs {
	text-transform: uppercase;
	font-size: 2em;
	top: 25px;
	margin-left: 40px;
	position: fixed;
	letter-spacing:.025em;
}

.tabs a {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 10px;
	border-style: solid;
	border-width: 3px;
	text-decoration: none;
	color:#0a5e3a;
	background-color: #ffd8ea;
}

.tabs a:hover{
	color:#ffd8ea;
	background-color: #0a5e3a;
	border-color: #0a5e3a;
}

.here a{
	color:#ffd8ea;
	background-color: #0a5e3a;
	border-color: #0a5e3a;
}

.info {
	display: none;
}

