* {
	margin:0;
  display: inline-grid;
/*  cursor: url(images/mouse.png), auto;*/
}

body {
background-image: url("images/sky.gif");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
}

.text {
  position: absolute;
  z-index: 1
}

.text img{
  margin:250px;
  max-width:700px;
}

.images img{
    position: absolute;
    z-index: 3;
}

#AFV img{
  width:320px; left:1079px; top:2451px;
}

#amalclooney img{
  width:260px;
}

#amandashow img{
  width:200px;
}

#andy img{
  width:160px; left:934px; top:2313;
}

#annaw img{
  width:190px;
}

#april img{
  width:150px; left:216px; top:5704px;
}

#ariana img{
  width:240px;
}

#ariel img{
  width:200px;
}

#aristocats img{
  width:120px;
}

#avril img{
  width:130px; left:902px; top:1400px;
}

#bachelor img{
  width:270px; left:1045px; top:3601px;
}

#bachelorp img{
  width:190px; left:832px; top:4060px;
}

#balenciaga img{
  width:220px; left:115px; top:1860px;
}

#barbie img{
  width:200px;
}

#bathbomb img{
  width:230px; left:499px; top:2221px;
}

#beachboys img{
  width:130px; top:49px; left:269px;
}

#beanie img{
  width:280px; left:6px; top:368px;
}

#beatles img{
  width:270px;
}

#beetlejuice img{
  width:170px; left:306px; top:39px;
}

#beyonce img{
  width:270px; left:1061px; top:4364px;
}

#bill img{
  width:110px;
}

#blair img{
  width:250px;
}

#blankspace img{
  width:290px; left:972px; top:2493px;
}

#blockbuster img{
  width:100px;
}

#blonde img{
  width:330px;
}

#bluecrush img{
  width:200px; left:1286px; top:1579px;
}

#blueivy img{
  width:160px;
}

#bobross img{
  width:170px; left:842px; top:4340px;
}

#bow img{
  width:160px; left:1050px; top:4439px;
}

#braceface img{
  width:180px; left:74px; top:3946px;
}

#bridesmaids img{
  width:180px; left:321px; top:3794px;
}

#bridget img{
  width:150px; left:311px; top:3190px;
}

#britney img{
  width:100px; left:1056px; top:900px;
}

#britney2 img{
  width:500px;
}

#broadcity img{
  width:200px; left:306px; top:75px;
}

#bunny img{
  width:280px; left:1068px; top:5037px;
}

#bushpainting img{
  width:200px; left:342px; top:79px;
}

#buzzfeed img{
  width:100px; left:875px; top:1041px;
}

#cake img{
  width:190px; left:679px; top:7108px;
}

#cakeboss img{
  width:210px; left:719px; top:88px;
}

#cakephone img{
  width:180px;
}

#callmeby img{
  width:140px; left:378px; top:-13px;
}

#carly img{
  width:130px;
}

#cat img{
  width:160px; left:539px; top:6740px;
}

#cd img{
  width:400px; left:932px; top:2603px;
}

#cheese img{
  width:210px; left:804px; top:6737px;
}

#chelsea img{
  width:140px; left:626px; top:1566px;
}

#cherry img{
  width:250px; left:173px; top:2982px;
}

#christina img{
  width:320px; left:739px; top:4953px;
}

#christinaag img{
  width:200px; left:540px; top:3614px;
}

#cig img{
  width:180px; left:340px; top:1323px;
}

#cloudwoman img{
  width:170px;
}

#coke img{
  width:180px;
}

#cookie img{
  width:200px;
}

#cosmic img{
  width:275px; left:450px; top:856px;
}

#crazyex img{
  width:160px;
}

#creditcard img{
  width:180px; left:992px; top:2072px;
}

#cruel img{
  width:300px; left:970px; top:4900px;
}

#ctc img{
  width:200px; left:1183px; top:5766px;
}

#cupcake img{
  width:300px; left:817px; top:7px;
}

#dawson img{
  width:240px;
}

#deceasedhandbook img{
  width:140px; left:1133px; top:6620px;
}

#demi img{
  width:230px;
}

#destiny img{
  width:300px; left:471px; top:6098px;
}

#devilprada img{
  width:200px;
}

#dixie img{
  width:195px; left:738px; top:3375px;
}

#donut img{
  width:260px;
}

#dorito img{
  width:330px; left:759px; top:6040px;
}

#dunkaroos img{
  width:200px;
}

#elongrimes img{
  width:205px;
}

#empirerecords img{
  width:140px;
}

#fastfood img{
  width:255px;
}

#frances img{
  width:155px;
}

#frenchfry img {
  width:285px;
}

#froyo img {
  width:225px;
}

#froyo2 img {
  width:105px;
}

#frozen img {
  width:125px;
}

#fruitbyfoot img {
  width:305px;
}

#fullhouse img {
  width:125px;
}

#gatorade img {
  width:190px;
}

#geeks img {
  width:205px;
}

#gem img {
  width:125px;
}

#ghost img {
  width:145px;
}

#gillianjacobs img {
  width:180px;
}

#gilmoregirls img {
  width:385px;
}

#GOT img {
  width:125px;
}

#grimes img {
  width:205px;
}

#gum img {
  width:555px;
}

#gummy img {
  width:185px;
}

#gusher img {
  width:305px; left:802px; top:673px;
}

#haim img {
  width:165px;
}

#halsey img {
  width:165px;
}

#heathers img {
  width:305px;
}

#hellokitty img {
  width:125px;
}

#hocuspocus img {
  width:225px;
}

#horoscope img {
  width:165px;
}

#hot img {
  width:125px;
}

#houseofcards img {
  width:165px;
}

#housewife img {
  width:205px; left:151px; top:2070px;
}

#hungryhearts img {
  width:105px; left:911px; top:1724px;
}

#icecream img {
  width:125px; left:566px; top:5323px;
}

#instagram img {
  width:100px; left:195px; top:619px;
}

#jaeger img {
  width:155px; left:195px; top:619px;
}

#janevirgin img {
  width:200px; left:1275px; top:4096px;
}

#jess img {
  width:210px;
}

#jessica img {
  width:135px; left:118px; top:4674px;
}

#judgejudy img {
  width:145px; left:1275px; top:4096px;
}

#jumanji img {
  width:125px; left:118px; top:4674px;
}

#justin img {
  width:195px; left:884px; top:3350px;
}

#kanye img {
  width:189px; left:884px; top:3350px;
}

#katvd img {
  width:225px; left:144px; top:446px;
}

#killingeve img {
  width:205px; left:151px; top:2070px;
}

#kimhides img {
  width:200px;
}

#kimoji img {
  width:160px; left:144px; top:446px;
}

#kingp img {
  width:205px;left: 35px; top: 6936px;
}

#kioko img {
  width:300px; left:144px; top:446px;
}

#kourtney img {
  width:425px; left: 375px; top: 3542px;
}

#kruger img {
  width:110px;
}

#lacroix img {
  width:125px; left: 645px; top: 1626px;
}

#ladybird img {
  width:100px; left: 375px; top: 3542px;
}

#ladylike img {
  width:225px;
}

#lena img {
  width:100px;
}

#lightning img {
  width:225px; left: 122px; top: 239px;
}

#lipstick img {
  width:155px; left: 402px; top: 2894px;
}

#lisafrank img {
  width:125px; left: 645px; top: 1626px;
}

#lizzie img {
  width:125px; left: 745px; top: 4197px;
}

#lizzie2 img {
  width:325px; left: 745px; top: 4197px;
}

#loveactually img {
  width:115px; left: 973px; top: 1573px;
}

#m13on30 img {
  width:145px; left: 745px; top: 4197px;
}

#magicschoolbus img {
  width:125px; left: 703px; top: 2716px;
}

#marie img {
  width:235px; left: 122px; top: 239px;
}

#maryberry img {
  width:200px; left: 935px; top: 1933px;
}

#mbranch img {
  width:155px; left: 1105px; top: 333px;
}

#meangirls img {
  width:325px; left: 556px; top: 3186px;
}

#mikes img {
  width:125px; left: 556px; top: 3186px;
}

#modernfamily img {
  width:155px; left: 122px; top: 239px;
}

#moodring img {
  width:145px; left: 1232px; top: 4969px;
}

#mtndew img {
  width:225px; left: 1232px; top: 4969px;
}

#mtv img {
  width:175px; left: 869px; top: 308px;
}

#myspace img {
  width:125px; left: 138px; top: 2824px;
}

#nancy img {
  width:125px; left: 237px; top: 5170px;
}

#neko img {
  width:125px; left: 1092px; top: 6726px;
}

#netflix img {
  width:95px; left: 508px; top: 4419px;
}

#newgirl img {
  width:200px; left: 508px; top: 4419px;
}

#notebook img {
  width:175px; left: 1222px; top: 881px;
}

#now img {
  width:255px; left: 1222px; top: 881px;
}

#office img {
  width:175px; left: 672px; top: 675px;
}

#online img {
  width:145px; left: 21px; top: 4915px;
}

#orange70s img {
  width:200px; left: 992px; top: 4847px;
}

#oregontrail img {
  width:205px; left: 840px; top: 4770px;
}

#panda img {
  width:225px; left: 840px; top: 4770px;
}

#parenthood img {
  width:225px; left: 199px; top: 4188px;
}

#parenttrap img {
  width:295px; left: 199px; top: 4188px;
}

#peggy img {
  width:185px; left: 1075px; top: 3044px;
}

#peoplemag img {
  width:115px; left: 98px; top: 788px;
}

#peteariana img {
  width:300px; left: 267px; top: 522px;
}

#pizza img {
  width:235px; left: 1107px; top: -35px;
}

#poptart img {
  width:165px; left: 1107px; top: -35px;
}

#portlandia img {
  width:225px; left: 976px; top: 3916px;
}

#pretzel img {
  width:165px; left: 742px; top: 1820px;
}

#princess img {
  width:280px; left: -11px; top: 3195px;
}

#princessnokia img {
  width:125px; left: 998px; top: 3107px;
}

#queereye img {
  width:200px; left: 377px; top: 235px;
}

#raven img {
  width:125px; left: 377px; top: 235px;
}

#razr img {
  width:175px; left: 377px; top: 235px;
}

#reeses img {
  width:285px; left: 377px; top: 235px;
}

#ringpops img {
  width:210px; left: 1047px; top: 614px;
}

#riri img {
  width:400px; left: 642px; top: 5197px;
}

#riverdale img {
  width:205px; left: 613px; top: 2354px;
}

#robyn img {
  width:295px; left: 119px; top: 3313px;
}

#rose img {
  width:95px; left: 866px; top: 2061px;
}

#roseask img {
  width:295px; left: 866px; top: 2061px;
}

#royalwedding img {
  width:325px; left: 1047px; top: 2706px;
}

#rumisir img {
  width:200px; left: 77px; top: 4274px;
}

#rupaul img {
  width:255px; left: 77px; top: 4274px;
}

#sabrina img {
  width:325px; left: 708px; top: 991px;
}

#sansa img {
  width:100px; left: 1178px; top: 1814px;
}

#selena img {
  width:100px; left: 1178px; top: 1814px;
}

#sexcity img {
  width:225px; left: 1143px; top: 6997px;
}

#shining img {
  width:135px; left: 477px; top: 1691px;
}

#sicksad img {
  width:285px; left: 720px; top: 3739px;
}

#simpsons img {
  width:205px; left: 720px; top: 3739px;
}

#slutever img {
  width:180px; left: 655px; top: 2997px;
}

#smoon img {
  width:200px; left: 655px; top: 2997px;
}

#snooki img {
  width:185px; left: 903px; top: 3541px;
}

#spicegirls img {
  width:225px; left: 1149px; top: 1077px;
}

#spongebob img {
  width:120px; left: 74px; top: 1342px;
}

#starbucks img {
  width:240px; left: 317px; top: 1752px;
}

#starbursts img {
  width:100px; left: 1210px; top: 231px;
}

#stickit img {
  width:135px; left: 873px; top: 806px;
}

#stranger img {
  width:225px; left: 873px; top: 806px;
}

#stv img {
  width:200px; left: 208px; top: 2725px;
}

#SVU img {
  width:325px; left: 1038px; top: 1242px;
}

#taurus img {
  width:205px; left: 1084px; top: 3239px;
}

#terracehouse img {
  width:325px; left: 138px; top: 2824px;
}

#thrasher img {
  width:125px; left: 1185px; top: 2190px;
}

#timgunn img {
  width:295px; left: 178px; top: 1506px;
}

#timr img {
  width:135px; left: 37px; top: 1731px;
}

#titanic img {
  width:300px; left: 461px; top: 5960px;
}

#tonya img {
  width:370px; left: 334px; top: 2570px;
}

#TRL img {
  width:245px; left: 1068px; top: 1469px;
}

#tumblr img {
  width:90px; left: 982px; top: 3691px;
}

#TV img {
  width:225px; left: 1029px; top: 3420px;
}

#tvdinner img {
  width:200px; left: 659px; top: 426px;
}

#twilight img {
  width:325px; left: 396px; top: 1175px;
}

#twinpeaks img {
  width:205px; left: 1022px; top: 5390px;
}

#tyra img {
  width:200px; left: 527px; top: 1903px;
}

#us img {
  width:120px; left: 169px; top: 5425px;
}

#veronica img {
  width:285px; left: 787px; top: 2858px;
}

#vice img {
  width:200px; left: 1111px; top: 2048px;
}

#viceland img {
  width:285px; left: 53px; top: 986px;
}

#wand img {
  width:180px; left: 242px; top: 2304px;
}

#warhol img {
  width:125px; left: 984px; top: 956px;
}

#warnerbro img {
  width:200px; left: 984px; top: 956px;
}

#whatnottowear img {
  width:210px; left: 796px; top: 7043px;
}

#yesdress img {
  width:375px; left: 1014px; top: 416px;
}

#younger img {
  width:135px; left: 1014px; top: 416px;
}

#youtube img {
  width:125px; left: 359px; top: 2344px;
}

#zellner img {
  width:225px; left: 88px; top: 2461px;
}
