* {
	margin:0;
  display: inline-grid;
  cursor: url(images/mouse.png), auto;
}



body {
background-image: url("images/sky.gif");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
}

.text {
  z-index: 4;
  margin:0 auto;
  padding-top: 200px;
}

.text img{
  padding-bottom:300px;
  text-align:center;
  margin:0 auto;
  opacity: .8;
  transition: .3s;
}

.text img:hover{
  opacity: 1;
}

.images {
  text-align:center;
  margin:0 auto;
}

.images img{
    position: absolute;
    z-index: 5;
}

#AFV img{
  width:320px; left: -38px; top: 5402px;
}

#amalclooney img{
  width:260px; left: 703px; top: 8361px;
}

#amandashow img{
  width:200px; left: 685px; top: 2136px;
}

#andy img{
  width:160px; left: 204px; top: 1120px;
}

#annaw img{
  width:190px; left: 1001px; top: 4293px;
}

#april img{
  width:150px; left: 1000px; top: 6134px;
}

#ariana img{
  width:240px; left: 828px; top: 8835px;
}

#ariel img{
  width:200px; left: 913px; top: 8667px;
}

#aristocats img{
  width:120px; left: 1233px; top: 3002px;
}

#avril img{
  width:130px; left:902px; top:1400px;
}

#bachelor img{
  width:270px; left:1045px; top:3601px;
}

#bachelorp img{
  width:190px; left:832px; top:4060px;
}

#balenciaga img{
  width:220px; left: 1459px; top: 2056px;
}

#barbie img{
  width:200px; left: 370px; top: 1488px;
}

#bathbomb img{
  width:230px; left:499px; top:2221px;
}

#beachboys img{
  width:130px; left: 592px; top: 5316px;
}

#beanie img{
  width:280px; left: 660px; top: 4629px;
}

#beatles img{
  width:270px; left: 385px; top: 6827px;
}

#beetlejuice img{
  width:170px; left: 1022px; top: 4525px;
}

#beyonce img{
  width:270px; left: 277px; top: 4782px;
}

#bill img{
  width:110px; left: 319px; top: 2027px;
}

#blair img{
  width:250px; left: 1336px; top: 79px;
}

#blankspace img{
  width:290px; left: 1295px; top: 2446px;
}

#blockbuster img{
  width:100px; left: 570px; top: 2997px;
}

#blonde img{
  width:330px; left: 1223px; top: 1005px;
}

#bluecrush img{
  width:200px; left:1286px; top:1579px;
}

#blueivy img{
  width:160px; left: 896px; top: 8391px;
}

#bobross img{
  width:170px; left: 1306px; top: 4628px;
}

#bow img{
  width:160px; left: 437px; top: 4282px;
}

#braceface img{
  width:180px; left:74px; top:3946px;
}

#bridesmaids img{
  width:180px; left:321px; top:3794px;
}

#bridget img{
  width:150px; left:311px; top:3190px;
}

#britney img{
  width:100px; left:1056px; top:900px;
}

#britney2 img{
  width:500px; left: 260px; top: -41px;
    opacity: .8;
  transition: .3s;
}

#britney2 img:hover{
  opacity: 1;
}

#broadcity img{
  width:200px; left: 937px; top: 8016px;
}

#bunny img{
  width:280px; left: 1295px; top: 5124px;
}

#bushpainting img{
  width:200px; left: 712px; top: 5034px;
}

#buzzfeed img{
  width:100px; left: 1472px; top: 7092px;
}

#cake img{
  width:190px; left: 1190px; top: 7980px;
}

#cakeboss img{
  width:210px; left: 1089px; top: 294px;
}

#cakephone img{
  width:180px; left: 1430px; top: 6040px;
}

#callmeby img{
  width:140px; left: 1564px; top: 240px;
}

#carly img{
  width:130px; left: 654px; top: 4513px;
}

#cat img{
  width:160px; left: 452px; top: 6377px;
}

#cd img{
  width:350px; left: 970px; top: 2451px;
}

#cheese img{
  width:210px; left: 1212px; top: 7296px;
}

#chelsea img{
  width:140px; left:626px; top:1566px;
}

#cherry img{
  width:250px; left:173px; top:2982px;
}

#christina img{
  width:320px; left: 124px; top: 8055px;
}

#christinaag img{
  width:200px; left:540px; top:3614px;
}

#cig img{
  width:180px; left: 959px; top: 1266px;
}

#cloudwoman img{
  width:170px; left: 673px; top: 7821px;
}

#coke img{
  width:180px; left: 177px; top: 421px;
}

#cookie img{
  width:200px; left: 596px; top: 8220px;
}

#cosmic img{
  width:275px; left:450px; top:856px;
}

#crazyex img{
  width:160px; left: 1151px; top: 8101px;
}

#creditcard img{
  width:180px; left:992px; top:2072px;
}

#cruel img{
  width:300px; left: 570px; top: 7056px;
}

#ctc img{
  width:200px; left: 361px; top: 5152px;
}

#cupcake img{
  width:300px; left: 1151px; top: 71px;
}

#dawson img{
  width:240px; left: 752px; top: 3342px;
}

#deceasedhandbook img{
  width:140px; left: 118px; top: 6492px;
}

#demi img{
  width:230px; left: 151px; top: 8461px;
}

#destiny img{
  width:300px; left: 1368px; top: 6525px;
}

#devilprada img{
  width:200px; left: 522px; top: 1200px;
}

#dixie img{
  width:195px; left: 1064px; top: 6866px;
}

#donut img{
  width:260px; left: 999px; top: 638px;
}

#dorito img{
  width:330px; left: 505px; top: 6135px;
}

#dunkaroos img{
  width:200px; left: 286px; top: 102px;
}

#elongrimes img{
  width:205px; left: 1478px; top: 7472px;
}

#empirerecords img{
  width:140px; left: 236px; top: 7797px;
}

#fastfood img{
  width:255px; left: 534px; top: 641px;
}

#frances img{
  width:155px; left: 1055px; top: 5531px;
}

#frenchfry img {
  width:320px; left: 1172px; top: 8172px;
}

#froyo img {
  width:245px; left: 165px; top: 516px;
}

#froyo2 img {
  width:205px; left: 1470px; top: 6852px;
}

#frozen img {
  width:125px; left: 409px; top: 681px;
}

#fruitbyfoot img {
  width:305px; left: 5px; top: 117px;
}

#fullhouse img {
  width:125px; left: 297px; top: 8788px;
}

#gatorade img {
  width:190px; left: -69px; top: 6010px;
}

#geeks img {
  width:205px; left: 267px; top: 4512px;
}

#gem img {
  width:125px; left: 1508px; top: 4512px;
}

#ghost img {
  width:145px; left: 704px; top: 2755px;
}

#gillianjacobs img {
  width:180px; left: 959px; top: 7687px;
}

#gilmoregirls img {
  width:385px; left: 244px; top: 1553px;
}

#GOT img {
  width:125px; left: 518px; top: 7566px;
}

#grimes img {
  width:205px; left: 69px; top: 2417px;
}

#gum img {
  width:555px; left: 1032px; top: 8494px;
}

#gummy img {
  width:220px; left: 1053px; top: 7782px;
}

#gusher img {
  width:305px; left: 711px; top: 541px;
}

#haim img {
  width:165px; left: -8px; top: 8366px;
}

#halsey img {
  width:165px; left: 1188px; top: 2477px;
}

#heathers img {
  width:305px; left: -20px; top: 6221px;
}

#hellokitty img {
  width:125px; left: 691px; top: 3627px;
}

#hocuspocus img {
  width:225px; left: 595px; top: 1830px;
}

#horoscope img {
  width:165px; left: 315px; top: 2118px;
}

#hot img {
  width:125px; left: 158px; top: 4049px;
}

#houseofcards img {
  width:165px; left: 733px; top: 7421px;
}

#housewife img {
  width:205px; left: 954px; top: 2404px;
}

#hungryhearts img {
  width:105px; left:911px; top:1724px;
}

#icecream img {
  width:125px; left: 102px; top: 5726px;
}

#instagram img {
  width:100px; left: 1579px; top: 2264px;
}

#jaeger img {
  width:155px; left: 1427px; top: 1486px;
}

#janevirgin img {
  width:200px; left:1275px; top:4096px;
}

#jess img {
  width:210px; left: 97px; top: 7349px;
}

#jessica img {
  width:135px; left: 474px; top: 5022px;
}

#judgejudy img {
  width:145px; left: 1385px; top: 4880px;
}

#jumanji img {
  width:125px; left: 257px; top: 4616px;
}

#justin img {
  width:195px; left: -5px; top: 4453px;
}

#kanye img {
  width:189px; left: 1278px; top: 5594px;
}

#katvd img {
  width:225px; left: 1429px; top: 4595px;
}

#killingeve img {
  width:205px; left: 229px; top: 2112px;
}

#kimhides img {
  width:200px; left: 1496px; top: 4009px;
}

#kimoji img {
  width:160px; left: 955px; top: 146px;
}

#kingp img {
  width:205px; left: 118px; top: 6918px;
}

#kioko img {
  width:300px; left: 1456px; top: 8221px;
}

#kourtney img {
  width:425px; left: 1143px; top: 4222px;
}

#kruger img {
  width:110px; left: 1439px; top: 7878px;
}

#lacroix img {
  width:125px; left: 234px; top: 6379px;
}

#ladybird img {
  width:100px; left: 259px; top: 3712px;
}

#ladylike img {
  width:225px; left: -53px; top: 2531px;
}

#lena img {
  width:100px; left: 1240px; top: 6026px;
}

#lightning img {
  width:225px; left: 430px; top: 1332px;
}

#lipstick img {
  width:155px; left: 1501px; top: 3024px;
}

#lisafrank img {
  width:125px; left: 1499px; top: 2588px;
}

#lizzie img {
  width:125px; left: 745px; top: 4197px;
}

#lizzie2 img {
  width:325px; left: 7px; top: 7629px;
}

#loveactually img {
  width:115px; left: 973px; top: 1573px;
}

#m13on30 img {
  width:145px; left: 1405px; top: 3969px;
}

#magicschoolbus img {
  width:125px; left: 866px; top: 5068px;
}

#marie img {
  width:235px; left: 723px; top: 6741px;
}

#maryberry img {
  width:200px; left: 935px; top: 1933px;
}

#mbranch img {
  width:155px; left: 724px; top: -29px;
}

#meangirls img {
  width:325px; left: 513px; top: 3241px;
}

#mikes img {
  width:125px; left: 1561px; top: 6031px;
}

#modernfamily img {
  width:155px; left: 1249px; top: 4930px;
}

#moodring img {
  width:145px; left: 1232px; top: 4969px;
}

#mtndew img {
  width:225px; left: 1175px; top: 4640px;
}

#mtv img {
  width:175px; left: 131px; top: 816px;
}

#myspace img {
  width:125px; left: 138px; top: 2824px;
}

#nancy img {
  width:135px; left: 1324px; top: 6273px;
}

#neko img {
  width:125px; left: 884px; top: 6027px;
}

#netflix img {
  width:95px; left: 508px; top: 4419px;
}

#newgirl img {
  width:200px; left: 895px; top: 6462px;
}

#notebook img {
  width:175px; left: 1375px; top: 781px;
}

#now img {
  width:255px; left: 1476px; top: 980px;
}

#office img {
  width:175px; left: 1363px; top: 1382px;
}

#online img {
  width:145px; left: 1405px; top: 6291px;
}

#orange70s img {
  width:200px; left: 952px; top: 5427px;
}

#oregontrail img {
  width:205px; left: 1107px; top: 5831px;
}

#panda img {
  width:225px; left: 1003px; top: 6483px;
}

#parenthood img {
  width:225px; left: 199px; top: 4188px;
}

#parenttrap img {
  width:295px; left: 592px; top: 4866px;
}

#peggy img {
  width:185px; left: 401px; top: 8022px;
}

#peoplemag img {
  width:115px; left: 786px; top: 1321px;
}

#peteariana img {
  width:300px; left: 280px; top: 735px;
}

#pizza img {
  width:235px; left: 1345px; top: 540px;
}

#poptart img {
  width:165px; left: 1171px; top: 6993px;
}

#portlandia img {
  width:225px; left: 976px; top: 3916px;
}

#pretzel img {
  width:165px; left: 563px; top: 3981px;
}

#princess img {
  width:280px; left: -81px; top: 3221px;
}

#princessnokia img {
  width:125px; left: 998px; top: 3107px;
}

#queereye img {
  width:200px; left: 528px; top: 2511px;
}

#raven img {
  width:125px; left: 860px; top: 78px;
}

#razr img {
  width:175px; left: 436px; top: 5798px;
}

#reeses img {
  width:285px; left: 110px; top: -59px;
}

#ringpops img {
  width:210px; left: -47px; top: 342px;
}

#riri img {
  width:400px; left: 102px; top: 5446px;
}

#riverdale img {
  width:205px; left: 573px; top: 2332px;
}

#robyn img {
  width:295px; left: 119px; top: 3313px;
}

#rose img {
  width:95px; left: 866px; top: 2061px;
}

#roseask img {
  width:295px; left: 93px; top: 1882px;
}

#royalwedding img {
  width:325px; left: 1246px; top: 2706px;
}

#rumisir img {
  width:200px; left: 1308px; top: 3375px;
}

#rupaul img {
  width:255px; left: 1325px; top: 7116px;
}

#sabrina img {
  width:325px; left: 1239px; top: 5641px;
}

#sansa img {
  width:100px; left: 1178px; top: 1814px;
}

#selena img {
  width:100px; left: 1470px; top: 3317px;
}

#sexcity img {
  width:225px; left: 417px; top: 8672px;
}

#shining img {
  width:135px; left: 477px; top: 1691px;
}

#sicksad img {
  width:285px; left: 670px; top: 5814px;
}

#simpsons img {
  width:205px; left: 1431px; top: 5288px;
}

#slutever img {
  width:180px; left: 655px; top: 2997px;
}

#smoon img {
  width:200px; left: 801px; top: 7284px;
}

#snooki img {
  width:185px; left: 903px; top: 3541px;
}

#spicegirls img {
  width:225px; left: 1149px; top: 1077px;
}

#spongebob img {
  width:120px; left: 74px; top: 1342px;
}

#starbucks img {
  width:240px; left: 317px; top: 1752px;
}

#starbursts img {
  width:100px; left: 66px; top: 611px;
}

#stickit img {
  width:135px; left: 446px; top: 2680px;
}

#stranger img {
  width:225px; left: 126px; top: 5089px;
}

#stv img {
  width:200px; left: 1349px; top: 3110px;
}

#SVU img {
  width:300px; left: 1170px; top: 1236px;
}

#taurus img {
  width:205px; left: 1084px; top: 3239px;
}

#terracehouse img {
  width:325px; left: 138px; top: 2824px;
}

#thrasher img {
  width:125px; left: 1185px; top: 2190px;
}

#timgunn img {
  width:295px; left: 114px; top: 1443px;
}

#timr img {
  width:135px; left: 37px; top: 1731px;
}

#titanic img {
  width:300px; left: 196px; top: 6618px;
}

#tonya img {
  width:370px; left: 1132px; top: 3826px;
}

#TRL img {
  width:245px; left: 1068px; top: 1469px;
}

#tumblr img {
  width:90px; left: 982px; top: 3691px;
}

#TV img {
  width:225px; left: 1380px; top: 4126px;
}

#tvdinner img {
  width:200px; left: 1464px; top: 8450px;
}

#twilight img {
  width:325px; left: 1292px; top: 7581px;
}

#twinpeaks img {
  width:205px; left: 1257px; top: 6438px;
}

#tyra img {
  width:200px; left: 1407px; top: 1814px;
}

#us img {
  width:120px; left: 319px; top: 5668px;
}

#veronica img {
  width:285px; left: 787px; top: 2858px;
}

#vice img {
  width:200px; left: 1111px; top: 2048px;
}

#viceland img {
  width:285px; left: 53px; top: 986px;
}

#wand img {
  width:180px; left: 380px; top: 6594px;
}

#warhol img {
  width:125px; left: 807px; top: 5603px;
}

#warnerbro img {
  width:200px; left: 569px; top: 5738px;
}

#whatnottowear img {
  width:210px; left: 178px; top: 7093px;
}

#yesdress img {
  width:375px; left: 1274px; top: 328px;
}

#younger img {
  width:135px; left: 1278px; top: 3721px;
}

#youtube img {
  width:125px; left: 1489px; top: 3687px;
}

#zellner img {
  width:200px; left: 299px; top: 2752px;
}
