body {
    font-family: 'Source Code Pro', monospace;
    background background-color: white;
    cursor: url("paw.png"), auto;
    border: 3px solid #f442c2;
    margin-top: 100px; 
    margin-bottom: 100px; 
    margin-right: 300px;
    margin-left: 300px;
}

.Peteys {
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}
.cat {
    margin: auto;
    width: 200px;
    transition: transform 1s;
    display: inline-block;
    padding: 20px;
}

.cat img{
    margin: auto;
    width: 200px;
    transition: transform 1s;
}

.cat img:hover {
  transform: scale(2.5);
}

a {
    width:500px;
    font-size:2em;
    color:red;
    text-decoration-style: wavy;
    text-decoration-color: blue;
    font-weight: 900;
    margin: auto;
    text-align: center;
    display: block;
    padding-top: 50px;
    padding-bottom: 100px;
}
