@font-face {
font-family: "VerdanaBold";
src: url("fonts/VerdanaBold.ttf");
}

@font-face {
font-family: "ArialMonospacedMTStd-Bold";
src: url("fonts/ArialMonospacedMTStd-Bold.otf");
}

* {
	margin:0;
  display: inline-grid;
}

body {
background-image: url('images/sky.gif');
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
}

#pancake {
  display: inline-block;
  margin-top:0px;
  position: relative;
}

#pancake img{
  width:300px;
  left:400px;
}

#lightnet img{
  width:700px;
  position: fixed;
  left:50%;
}

#cake {
  display: inline-block;
  margin-top:0px;
  position: relative;
}

#cake img{
  width:300px;
  margin-left:900px;
}

#petey {
  margin-top:0px;
  position: relative;
}

#petey img{
  width:400px;
  margin-left:10px;
}

#earth {
  position: relative;
}

#earth img{
  width:100px;
  margin-left:110px;
  top:-215px;
}

#angela {
  position: relative;
}

#angela img{
  width:220px;
  margin-left:820px;
  top:300px;
}

#roses {
  margin-top:0px;
  position: relative;
}

#roses img{
  width:400px;
  margin-left:200px;
}

#eggs {
  margin-top:200px;
  position: relative;
}

#eggs img{
  width:250px;
  margin-left:1100px;
}

#obamas {
  margin-top:0px;
  position: relative;
}

#obamas img{
  width:300px;
  margin-left:400px;
  top:-500px;
}

#ghost {
  position: absolute;
}

#ghost img{
  width:400px;
  left:620px;
  top:-500px;
}

.links{
  width: 250px;
  height: 400px;
  margin: 100px;
  margin-top: 160px;
  position: relative;
}

.MIA iframe{
  margin-left:300px;
}

.playlist iframe{
  margin:0 auto;
  position: relative;
  margin-bottom: 300px;
}

.links a{
  color: white; 
}

a:hover{
  color: yellow; 
}

#lightlinks {
  position: absolute;
}

#lightlinks img{
  width: 500px;
}
