
body {
    background-color: #8e6b4f;
}

.bottomborder {
    background-color:#8e6b4f;
}

.rightborder {
    background-color:#8e6b4f;
}

.topborder {
    background-color:#8e6b4f;
}

.leftborder {
    background-color:#8e6b4f;
}

.text{
    color: #8e6b4f;
}

.home a {
    text-shadow: 0 0 12px #8e6b4f, 0 0 20px #8e6b4f;
}

.prev a {
    text-shadow: 0 0 12px #8e6b4f, 0 0 20px #8e6b4f;
}

.next a {
    text-shadow: 0 0 12px #8e6b4f, 0 0 20px #8e6b4f;
}

#play {
    fill: #8e6b4f;
}

