* { 
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: 'Serifbabe_Regular';
  src: url('Serifbabe_Regular.ttf') format('truetype');
}  

body{
/*  background-image: url("lauren.jpg");*/
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.list{
  padding-top: 20px;
	text-align: left;
  color:#ffb3f2;
  font-family: sans-serif;
  font-size:1.5em;
  column-count: 4;
  margin-left: 35px;
  margin-top: 10px;
  margin-bottom:35px;
  list-style-type: none;
  line-height: 1.45;
}

li {
  list-style-type: none;
}