
body {
    background-color: #008b9e;
}

.bottomborder {
    background-color:#008b9e;
}

.rightborder {
    background-color:#008b9e;
}

.topborder {
    background-color:#008b9e;
}

.leftborder {
    background-color:#008b9e;
}

.text{
    color: #008b9e;
}

.home a {
    text-shadow: 0 0 12px #008b9e, 0 0 20px #008b9e;
}

.prev a {
    text-shadow: 0 0 12px #008b9e, 0 0 20px #008b9e;
}

.next a {
    text-shadow: 0 0 12px #008b9e, 0 0 20px #008b9e;
}

#play {
    fill: #008b9e;
}

