
body {
    background-color: #ff546e;
}

.bottomborder {
    background-color:#ff546e;
}

.rightborder {
    background-color:#ff546e;
}

.topborder {
    background-color:#ff546e;
}

.leftborder {
    background-color:#ff546e;
}

.text{
    color: #ff546e;
}

.home a {
    text-shadow: 0 0 12px #ff546e, 0 0 20px #ff546e;
}

.prev a {
    text-shadow: 0 0 12px #ff546e, 0 0 20px #ff546e;
}

.next a {
    text-shadow: 0 0 12px #ff546e, 0 0 20px #ff546e;
}

#play {
    fill: #ff546e;
}

