
body {
    background-color: #ea0093;
}

.bottomborder {
    background-color:#ea0093;
}

.rightborder {
    background-color:#ea0093;
}

.topborder {
    background-color:#ea0093;
}

.leftborder {
    background-color:#ea0093;
}

.text{
    color: #ea0093;
}

.home a {
    text-shadow: 0 0 2px #ea0093, 0 0 6px #ea0093, 0 0 10px #ea0093;
}

.prev a {
    text-shadow: 0 0 2px #ea0093, 0 0 6px #ea0093, 0 0 10px #ea0093;
}

.next a {
    text-shadow: 0 0 2px #ea0093, 0 0 6px #ea0093, 0 0 10px #ea0093;
}

#play {
    fill: #ea0093;
}

