
body {
    background-color: #65314d;
}

.bottomborder {
    background-color:#65314d;
}

.rightborder {
    background-color:#65314d;
}

.topborder {
    background-color:#65314d;
}

.leftborder {
    background-color:#65314d;
}

.text{
    color: #65314d;
}

.home a {
    text-shadow: 0 0 12px #65314d, 0 0 20px #65314d;
}

.prev a {
    text-shadow: 0 0 12px #65314d, 0 0 20px #65314d;
}

.next a {
    text-shadow: 0 0 12px #65314d, 0 0 20px #65314d;
}

#play {
    fill: #65314d;
}

