
body {
    background-color: #928991;
}

.bottomborder {
    background-color:#928991;
}

.rightborder {
    background-color:#928991;
}

.topborder {
    background-color:#928991;
}

.leftborder {
    background-color:#928991;
}

.text{
    color: #928991;
}

.home a {
    text-shadow: 0 0 2px #928991, 0 0 6px #928991, 0 0 10px #928991;
}

.prev a {
    text-shadow: 0 0 2px #928991, 0 0 6px #928991, 0 0 10px #928991;
}

.next a {
    text-shadow: 0 0 2px #928991, 0 0 6px #928991, 0 0 10px #928991;
}

#play {
    fill: #928991;
}

