@font-face {
    font-family:HelveticaLTStd-Roman;
    src: url("fonts/HelveticaLTStd-Roman.otf") format("opentype");
}

@font-face {
    font-family:Abuget;
    src: url("fonts/Abuget.ttf") format("truetype");
}

@font-face {
    font-family:Allura-Regular;
    src: url("fonts/Allura-Regular.ttf") format("truetype");
}

@font-face {
    font-family:AmostelySignature;
    src: url("fonts/AmostelySignature.ttf") format("truetype");
}

@font-face {
    font-family:Ananda;
    src: url("fonts/Ananda.ttf") format("truetype");
}

@font-face {
    font-family:Antro_Vectra_Bolder;
    src: url("fonts/Antro_Vectra_Bolder.otf") format("opentype");
}

@font-face {
    font-family:Austine;
    src: url("fonts/Austine.ttf") format("truetype");
}

@font-face {
    font-family:Beauty_Dream;
    src: url("fonts/Beauty_Dream.ttf") format("truetype");
}

@font-face {
    font-family:Bellarinde;
    src: url("fonts/Bellarinde.otf") format("opentype");
}

@font-face {
    font-family:BeryScript-Normal;
    src: url("fonts/BeryScript-Normal.otf") format("opentype");
}

@font-face {
    font-family:BeyondInfinityDemo;
    src: url("fonts/BeyondInfinityDemo.ttf") format("truetype");
}

@font-face {
    font-family:CaflischScriptPro-Semibold;
    src: url("fonts/CaflischScriptPro-Semibold.otf") format("opentype");
}

@font-face {
    font-family:Candlescript;
    src: url("fonts/Candlescript.otf") format("opentype");
}

@font-face {
    font-family:Chalisa_Octavia;
    src: url("fonts/Chalisa_Octavia.otf") format("opentype");
}

@font-face {
    font-family:Demo_ConeriaScript;
    src: url("fonts/Demo_ConeriaScript.ttf") format("truetype");
}

@font-face {
    font-family:Diamonds;
    src: url("fonts/Diamonds.ttf") format("truetype");
}

@font-face {
    font-family:Flanella;
    src: url("fonts/Flanella.ttf") format("truetype");
}

@font-face {
    font-family:FrenchScriptStd;
    src: url("fonts/FrenchScriptStd.otf") format("opentype");
}

@font-face {
    font-family:GirlsStuff;
    src: url("fonts/GirlsStuff.otf") format("opentype");
}

@font-face {
    font-family:Golden_Plains;
    src: url("fonts/Golden_Plains.ttf") format("truetype");
}

@font-face {
    font-family:GoodVibes;
    src: url("fonts/GoodVibes.ttf") format("truetype");
}

@font-face {
    font-family:hatmiwhitedafont;
    src: url("fonts/hatmiwhitedafont.ttf") format("truetype");
}

@font-face {
    font-family:HelloSantuy;
    src: url("fonts/HelloSantuy.ttf") format("truetype");
}

@font-face {
    font-family:HighTide;
    src: url("fonts/HighTide.ttf") format("truetype");
}

@font-face {
    font-family:HisyamFacelift;
    src: url("fonts/HisyamFacelift.otf") format("opentype");
}

@font-face {
    font-family:HolidayScript;
    src: url("fonts/HolidayScript.ttf") format("truetype");
}

@font-face {
    font-family:HoneyScript-Light;
    src: url("fonts/HoneyScript-Light.ttf") format("truetype");
}

@font-face {
    font-family:Metalia;
    src: url("fonts/Metalia.ttf") format("truetype");
}

@font-face {
    font-family:Miama;
    src: url("fonts/Miama.otf") format("opentype");
}

@font-face {
    font-family:MistralStd;
    src: url("fonts/MistralStd.otf") format("opentype");
}

@font-face {
    font-family:NewBerolinaMTStd;
    src: url("fonts/NewBerolinaMTStd.otf") format("opentype");
}

@font-face {
    font-family:RockvilleSolid;
    src: url("fonts/RockvilleSolid.otf") format("opentype");
}

@font-face {
    font-family:Springfielddemo;
    src: url("fonts/Springfielddemo.ttf") format("truetype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:valentine;
    src: url("fonts/valentine.ttf") format("truetype");
}

@font-face {
    font-family:Weather;
    src: url("fonts/Weather.otf") format("opentype");
}

*{  
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    margin-left: 15px;
	margin-right: 15px;
}

body {
	font-family:HelveticaLTStd-Roman;
	font-size: 4em;
	background-image: linear-gradient(#ff3bc1, white);
}


.scroll {
height:100vh;
position: relative;
/*overflow: hidden;*/
line-height:.98;
}

#text {
    display: none;
}

.scroll p a{
    text-decoration: none;
    color:white;
    text-shadow:1px 1px 8px #ff3bc1, 1px 1px 8px #ff3bc1;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

.scroll p{
text-shadow:1px 1px 8px white, 1px 1px 8px white;
position: absolute;
width: 100%;
height: 100%;
margin:0;
text-align: center;
/* Starting position */
/*-moz-transform:translateY(0%);
-webkit-transform:translateY(0%); 
transform:translateY(0%);*/*/
/* Apply animation to this element */ 
/*-moz-animation: scroll 1100s linear infinite;
-webkit-animation: scroll 1100s linear infinite;
animation: scroll 1100s linear infinite;*/
}
/* Move it (define the animation) */
/*@-moz-keyframes scroll {
0% { -moz-transform: translateY(100%); }
100% { -moz-transform: translateY(-10600%); }
}
@-webkit-keyframes scroll {
0% { -webkit-transform: translateY(100%); }
100% { -webkit-transform: translateY(-10600%); }*/
}
