@font-face {
    font-family:HelveticaLTStd-Roman;
    src: url("fonts/HelveticaLTStd-Roman.otf") format("opentype");
}

@font-face {
    font-family:Abuget;
    src: url("fonts/Abuget.ttf") format("truetype");
}

@font-face {
    font-family:Allura-Regular;
    src: url("fonts/Allura-Regular.ttf") format("truetype");
}

@font-face {
    font-family:AmostelySignature;
    src: url("fonts/AmostelySignature.ttf") format("truetype");
}

@font-face {
    font-family:Ananda;
    src: url("fonts/Ananda.ttf") format("truetype");
}

@font-face {
    font-family:Antro_Vectra_Bolder;
    src: url("fonts/Antro_Vectra_Bolder.otf") format("opentype");
}

@font-face {
    font-family:Austine;
    src: url("fonts/Austine.ttf") format("truetype");
}

@font-face {
    font-family:Beauty_Dream;
    src: url("fonts/Beauty_Dream.ttf") format("truetype");
}

@font-face {
    font-family:Bellarinde;
    src: url("fonts/Bellarinde.otf") format("opentype");
}

@font-face {
    font-family:BeyondInfinityDemo;
    src: url("fonts/BeyondInfinityDemo.ttf") format("truetype");
}

@font-face {
    font-family:CaflischScriptPro-Semibold;
    src: url("fonts/CaflischScriptPro-Semibold.otf") format("opentype");
}

@font-face {
    font-family:Candlescript;
    src: url("fonts/Candlescript.otf") format("opentype");
}

@font-face {
    font-family:Demo_ConeriaScript;
    src: url("fonts/Demo_ConeriaScript.ttf") format("truetype");
}

@font-face {
    font-family:Diamonds;
    src: url("fonts/Diamonds.ttf") format("truetype");
}

@font-face {
    font-family:Flanella;
    src: url("fonts/Flanella.ttf") format("truetype");
}

@font-face {
    font-family:FrenchScriptStd;
    src: url("fonts/FrenchScriptStd.otf") format("opentype");
}

@font-face {
    font-family:GirlsStuff;
    src: url("fonts/GirlsStuff.otf") format("opentype");
}

@font-face {
    font-family:Golden_Plains;
    src: url("fonts/Golden_Plains.ttf") format("truetype");
}

@font-face {
    font-family:GoodVibes;
    src: url("fonts/GoodVibes.ttf") format("truetype");
}

@font-face {
    font-family:hatmiwhitedafont;
    src: url("fonts/hatmiwhitedafont.ttf") format("truetype");
}

@font-face {
    font-family:HelloSantuy;
    src: url("fonts/HelloSantuy.ttf") format("truetype");
}

@font-face {
    font-family:HighTide;
    src: url("fonts/HighTide.ttf") format("truetype");
}

@font-face {
    font-family:HisyamFacelift;
    src: url("fonts/HisyamFacelift.otf") format("opentype");
}

@font-face {
    font-family:HolidayScript;
    src: url("fonts/HolidayScript.ttf") format("truetype");
}

@font-face {
    font-family:HoneyScript-Light;
    src: url("fonts/HoneyScript-Light.ttf") format("truetype");
}

@font-face {
    font-family:Metalia;
    src: url("fonts/Metalia.ttf") format("truetype");
}

@font-face {
    font-family:August;
    src: url("fonts/August.ttf") format("truetype");
}

@font-face {
    font-family:MistralStd;
    src: url("fonts/MistralStd.otf") format("opentype");
}

@font-face {
    font-family:RockvilleSolid;
    src: url("fonts/RockvilleSolid.otf") format("opentype");
}

@font-face {
    font-family:Springfielddemo;
    src: url("fonts/Springfielddemo.ttf") format("truetype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:valentine;
    src: url("fonts/valentine.ttf") format("truetype");
}

@font-face {
    font-family:Weather;
    src: url("fonts/Weather.otf") format("opentype");
}

@font-face {
    font-family:MichelleStineScript;
    src: url("fonts/MichelleStineScript.otf") format("opentype");
}

@font-face {
    font-family:SundayRully;
    src: url("fonts/SundayRully.ttf") format("truetype");
}

@font-face {
    font-family:SerenityScript;
    src: url("fonts/SerenityScript.otf") format("opentype");
}

@font-face {
    font-family:SellaCallista;
    src: url("fonts/SellaCallista.ttf") format("truetype");
}

@font-face {
    font-family:ChandlerScript;
    src: url("fonts/ChandlerScript.ttf") format("truetype");
}

@font-face {
    font-family:Bright_Monday;
    src: url("fonts/Bright_Monday.otf") format("opentype");
}

@font-face {
    font-family:Scotland;
    src: url("fonts/Scotland.otf") format("opentype");
}

@font-face {
    font-family:CollectionFree;
    src: url("fonts/CollectionFree.otf") format("opentype");
}

*{  
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    cursor: url(before.png), auto;
}

body {
	font-family:HelveticaLTStd-Roman;
    font-size: 13.5vw;
	background-image: linear-gradient(#ff3bc1, white);
}

#britney {
    position: fixed;
    left:40px;
    z-index: 300;
    top:-80px;
}

#britney img{
    height:50px; 
}

.overflow {
position: relative;
overflow-y: hidden;
}

.scroll {
margin:0 auto;
height:100vh;
width:90vw;
line-height:.97;
}

.inside {
text-shadow:1px 1px 8px white, 1px 1px 8px white;
position: absolute;
width:90vw;
height: 100%;
text-align: center;
/* Starting position */
-moz-transform:translateY(0%);
-webkit-transform:translateY(0%); 
transform:translateY(0%);
/* Apply animation to this element */ 
-moz-animation: scroll 990s linear infinite;
-webkit-animation: scroll 990s linear infinite;
animation: scroll 990s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll {
0% { -moz-transform: translateY(100%); }
100% { -moz-transform: translateY(-8750%); }
}
@-webkit-keyframes scroll {
0% { -webkit-transform: translateY(100%); }
100% { -webkit-transform: translateY(-8750%); }
}

.inside a{
    text-decoration: none;
    color:white;
    text-shadow:1px 1px 8px #ff3bc1, 1px 1px 8px #ff3bc1;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    cursor: url(puffed.png), auto;
}

span {
    position: relative;
    z-index: 200;
    line-height:.0001;
    cursor: url(puffed.png), auto;
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 17vw;
  }
}

