@font-face {
    font-family:HelveticaLTStd-Roman;
    src: url("fonts/HelveticaLTStd-Roman.otf") format("opentype");
}

@font-face {
    font-family:Abuget;
    src: url("fonts/Abuget.ttf") format("truetype");
}

@font-face {
    font-family:Allura-Regular;
    src: url("fonts/Allura-Regular.ttf") format("truetype");
}

@font-face {
    font-family:AmostelySignature;
    src: url("fonts/AmostelySignature.ttf") format("truetype");
}

@font-face {
    font-family:Ananda;
    src: url("fonts/Ananda.ttf") format("truetype");
}

@font-face {
    font-family:Antro_Vectra_Bolder;
    src: url("fonts/Antro_Vectra_Bolder.otf") format("opentype");
}


@font-face {
    font-family:Arizonia-Regular;
    src: url("fonts/Arizonia-Regular.ttf") format("truetype");
}

@font-face {
    font-family:Austine;
    src: url("fonts/Austine.ttf") format("truetype");
}

@font-face {
    font-family:Beauty_Dream;
    src: url("fonts/Beauty_Dream.otf") format("truetype");
}

@font-face {
    font-family:Bellarinde;
    src: url("fonts/Bellarinde.otf") format("opentype");
}

@font-face {
    font-family:BeryScript-Normal;
    src: url("fonts/BeryScript-Normal.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

@font-face {
    font-family:SpringLPStd;
    src: url("fonts/SpringLPStd.otf") format("opentype");
}

*{  
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    margin-left: 25px;
	margin-right: 25px;
}

body {
	font-family:HelveticaLTStd-Roman;
	font-size: 13em;
	color:white;
	background-image: linear-gradient(#ff3bc1, white);
}

.scroll {
height:100vh;
position: relative;
overflow: hidden;
}

.scroll p span{
font-family:SpringLPStd;
text-transform: capitalize;
font-size: 1.2em;
line-height: .8;
}

.scroll p{
text-shadow:1px 1px 8px white, 1px 1px 8px white;
position: absolute;
width: 100%;
height: 100%;
margin:0;
text-align: center;
/* Starting position */
-moz-transform:translateY(0%);
-webkit-transform:translateY(0%); 
transform:translateY(0%);
/* Apply animation to this element */ 
-moz-animation: scroll 1200s linear infinite;
-webkit-animation: scroll 1200s linear infinite;
animation: scroll 1200s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll {
0% { -moz-transform: translateY(100%); }
100% { -moz-transform: translateY(-10600%); }
}
@-webkit-keyframes scroll {
0% { -webkit-transform: translateY(100%); }
100% { -webkit-transform: translateY(-10600%); }
}
