* {
    margin: 0;
}

@font-face {
    font-family: FrizQuadrataStd;
    src: url("fonts/FrizQuadrataStd.otf") format("opentype");
}

@font-face {
    font-family: ArialMTStd-Medium;
    src: url("fonts/ArialMTStd-Medium.otf") format("opentype");
}

body {
	color:#e8e8e8;
    background-image:url("images/other/granite.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#deadgirls{
    font-family: FrizQuadrataStd;
    font-size: 11em;
    text-transform:uppercase;
    line-height: .95em;
    color: #333;
    text-shadow: 2px 8px 2px rgba(255,255,255,.5);
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: default;
    width: 80%;
    letter-spacing:1px;
    position: fixed;
    z-index: 10;
}

#flowers{
    position: absolute;
    z-index: 15;
    width:100vw;    
}

.dirt {
    width:100vw;
    background-color:black;
    position: absolute;
    height:2000px;
    top:110%;
    z-index: 12;
    margin:0 auto;
    overflow:hidden;
}

#flower1 img{
        left:233px;
        top:670px;
    height: 600px;
    position: absolute;
    transform: rotate(-50deg);
}

#flower2 img{
    height: 440px;
    top:668px;
    left:575px;
position: absolute;
    transform: rotate(-30deg);
}

#flower3{
/*    left:100px;*/
position: absolute;
    top:550px;
}

#flower3 img{
    height: 600px;
position: absolute;
    transform: rotate(-50deg);
}

#flower4{
/*    left:1050px;*/
position: absolute;
    top:680px;
}

#flower4 img{
    width: 350px;
position: absolute;
    transform: rotate(30deg);
}

#flower5{
/*    left:100px;*/
position: absolute;
    top:647px;
}

#flower5 img{
    width: 300px;
position: absolute;
    transform: rotate(70deg);
}

#flower6{
/*    left:805px;*/
position: absolute;
    top:610px;
}

#flower6 img{
    width: 500px;
position: absolute;
    transform: rotate(40deg);
}

#flower7{
/*    left:112px;*/
position: absolute;
    top:580px;
}

#flower7 img{
    width: 350px;
position: absolute;
    transform: rotate(-40deg);
}

#flower8 img{
    top:680px;
        left:130px;
    height: 400px;
position: absolute;
    transform: rotate(-50deg);
}

#flower9{
/*    left:112px;*/
position: absolute;
    top:580px;
}

#flower9 img{
    width: 350px;
position: absolute;
    transform: rotate(-40deg);
}

#flower10{
/*    left:112px;*/
position: absolute;
    top:580px;
}

#flower10 img{
    width: 350px;
position: absolute;
    transform: rotate(-40deg);
}

@media only screen and (max-width: 1070px) {
.dirt {
    width: 1080px;
  }

#deadgirls{
    font-size: 9em;
}
}

