* {
  margin:10px;
  margin-top: 5px;
}

@font-face {
    font-family: FrizQuadrataStd;
    src: url("fonts/FrizQuadrataStd.otf") format("opentype");
}

@font-face {
    font-family: FrizQuadrataStd;
    src: url("fonts/FrizQuadrataStd.otf") format("opentype");
}

body {
	color:#e8e8e8;
    background-image:url("images/granite.jpg");
    background-position: center center;
    background-size: 100vw;
    background-repeat: no-repeat;

}

#deadgirls{
    font-family: FrizQuadrataStd;
    font-size: 14em;
    text-transform:uppercase;
    line-height: 1em;
    color: #333;
    text-shadow: 1px 6px 1px rgba(255,255,255,.5);
    text-align: center;
    margin: 0 auto;
    width: 1000px;
    display: block;
    margin-top: 100px;

}

.flowers{
    position: absolute;
    left:100px;
}

.flowers img{
	height: 500px;
    transform: rotate(-60deg);
}


