* {
/*  margin:10px;
  margin-top: 5px;*/
}

@font-face {
    font-family: FrizQuadrataStd;
    src: url("fonts/FrizQuadrataStd.otf") format("opentype");
}

@font-face {
    font-family: ArialMTStd-Medium;
    src: url("fonts/ArialMTStd-Medium.otf") format("opentype");
}

body {
	color:#e8e8e8;
    background-image:url("images/other/granite.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;

}

#deadgirls{
    font-family: FrizQuadrataStd;
    font-size: 12em;
    text-transform:uppercase;
    line-height: .9em;
    color: #333;
    text-shadow: 1px 6px 1px rgba(255,255,255,.5);
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#flower1{
    left:100px;
    position: fixed;
    top:500px;
}

#flower1 img{
    height: 600px;
    position: fixed;
    transform: rotate(-50deg);
}

#flower2{
    left:300px;
    position: fixed;
    top:500px;
}

#flower2 img{
    height: 440px;
    position: fixed;
    transform: rotate(-30deg);
}

#flower3{
    left:100px;
    position: fixed;
    top:500px;
}

#flower3 img{
    height: 600px;
    position: fixed;
    transform: rotate(-50deg);
}

#flower4{
    left:500px;
    position: fixed;
    top:550px;
}

#flower4 img{
    width: 350px;
    position: fixed;
    transform: rotate(30deg);
}

#flower5{
    left:1100px;
    position: fixed;
    top:500px;
}

#flower5 img{
    width: 300px;
    position: fixed;
    transform: rotate(70deg);
}

#flower6{
    left:900px;
    position: fixed;
    top:550px;
}

#flower6 img{
    width: 500px;
    position: fixed;
    transform: rotate(-40deg);
}

.index {
    position: fixed;
    left:50px;
    top:30px;
}

.index a{
    font-family: ArialMTStd-Medium;
    color:#333;
    font-size: 1.5em;
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
}


