
body {
    background-color: #c1582b;
}

.bottomborder {
    background-color:#c1582b;
}

.rightborder {
    background-color:#c1582b;
}

.topborder {
    background-color:#c1582b;
}

.leftborder {
    background-color:#c1582b;
}

.text{
    color: #c1582b;
}

.home a {
    text-shadow: 0 0 2px #c1582b, 0 0 6px #c1582b, 0 0 10px #c1582b;
}

.prev a {
    text-shadow: 0 0 2px #c1582b, 0 0 6px #c1582b, 0 0 10px #c1582b;
}

.next a {
    text-shadow: 0 0 2px #c1582b, 0 0 6px #c1582b, 0 0 10px #c1582b;
}

#play {
    fill: #c1582b;
}

