
body {
    background-color: #eab619;
}

.bottomborder {
    background-color:#eab619;
}

.rightborder {
    background-color:#eab619;
}

.topborder {
    background-color:#eab619;
}

.leftborder {
    background-color:#eab619;
}

.text{
    color: #eab619;
}

.home a {
    text-shadow: 0 0 2px #eab619, 0 0 6px #eab619, 0 0 10px #eab619;
}

.prev a {
    text-shadow: 0 0 2px #eab619, 0 0 6px #eab619, 0 0 10px #eab619;
}

.next a {
    text-shadow: 0 0 2px #eab619, 0 0 6px #eab619, 0 0 10px #eab619;
}

#play {
    fill: #eab619;
}

