
body {
    background-color: #0060d3;
}

.bottomborder {
    background-color:#0060d3;
}

.rightborder {
    background-color:#0060d3;
}

.topborder {
    background-color:#0060d3;
}

.leftborder {
    background-color:#0060d3;
}

.text{
    color: #0060d3;
}

.home a {
    text-shadow: 0 0 12px #0060d3, 0 0 20px #0060d3;
}

.prev a {
    text-shadow: 0 0 12px #0060d3, 0 0 20px #0060d3;
}

.next a {
    text-shadow: 0 0 12px #0060d3, 0 0 20px #0060d3;
}

#play {
    fill: #0060d3;
}

