
body {
    background-color: #39a598;
}

.bottomborder {
    background-color:#39a598;
}

.rightborder {
    background-color:#39a598;
}

.topborder {
    background-color:#39a598;
}

.leftborder {
    background-color:#39a598;
}

.text{
    color: #39a598;
}

.home a {
    text-shadow: 0 0 2px #39a598, 0 0 6px #39a598, 0 0 10px #39a598;
}

.prev a {
    text-shadow: 0 0 2px #39a598, 0 0 6px #39a598, 0 0 10px #39a598;
}

.next a {
    text-shadow: 0 0 2px #39a598, 0 0 6px #39a598, 0 0 10px #39a598;
}

#play {
    fill: #39a598;
}
