
body {
    background-color: #8b67ce;
}

.bottomborder {
    background-color:#8b67ce;
}

.rightborder {
    background-color:#8b67ce;
}

.topborder {
    background-color:#8b67ce;
}

.leftborder {
    background-color:#8b67ce;
}

.text{
    color: #8b67ce;
}

.text a{
    color: #8b67ce;
}

.home a {
    text-shadow: 0 0 12px #8b67ce, 0 0 20px #8b67ce;
}

.prev a {
    text-shadow: 0 0 12px #8b67ce, 0 0 20px #8b67ce;
}

.next a {
    text-shadow: 0 0 12px #8b67ce, 0 0 20px #8b67ce;
}

#play {
    fill: #8b67ce;
}