
body {
    background-color: #7fa30f;
}

.bottomborder {
    background-color:#7fa30f;
}

.rightborder {
    background-color:#7fa30f;
}

.topborder {
    background-color:#7fa30f;
}

.leftborder {
    background-color:#7fa30f;
}

.text{
    color: #7fa30f;
}

.home a {
    text-shadow: 0 0 12px #7fa30f, 0 0 20px #7fa30f;
}

.prev a {
    text-shadow: 0 0 12px #7fa30f, 0 0 20px #7fa30f;
}

.next a {
    text-shadow: 0 0 12px #7fa30f, 0 0 20px #7fa30f;
}

#play {
    fill: #7fa30f;
}

