body {
    background-color: #03fc45;
}

.bottomborder {
    background-color:#03fc45;
}

.rightborder {
    background-color:#03fc45;
}

.topborder {
    background-color:#03fc45;
}

.leftborder {
    background-color:#03fc45;
}

.text{
    color: #03fc45;
}

.home a {
    text-shadow: 0 0 12px #03fc45, 0 0 20px #03fc45;
}

.prev a {
    text-shadow: 0 0 12px #03fc45, 0 0 20px #03fc45;
}

.next a {
    text-shadow: 0 0 12px #03fc45, 0 0 20px #03fc45;
}

#play {
    fill: #03fc45;
}

