
body {
    background-color: #07158f;
}

.bottomborder {
    background-color:#07158f;
}

.rightborder {
    background-color:#07158f;
}

.topborder {
    background-color:#07158f;
}

.leftborder {
    background-color:#07158f;
}

.text{
    color: #07158f;
}

.home a {
    text-shadow: 0 0 2px #07158f, 0 0 6px #07158f, 0 0 10px #07158f;
}

.prev a {
    text-shadow: 0 0 2px #07158f, 0 0 6px #07158f, 0 0 10px #07158f;
}

.next a {
    text-shadow: 0 0 2px #07158f, 0 0 6px #07158f, 0 0 10px #07158f;
}

#play {
    fill: #07158f;
}

