
* { 
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: IKANSEEYOUALL-Web;
    src: url("fonts/IKANSEEYOUALL-Web.ttf") format("truetype");
}

@font-face {
    font-family: SuisseIntl-Regular;
    src: url("fonts/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
    font-family: SuisseIntl-RegularItalic;
    src: url("onts/SuisseIntl-RegularItalic.otf") format("opentype");
}

.image{
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 10;
    position: fixed;
    height:100vh;
}

.image img{
    width:150vw;
}


.title h1{
  font-family:IKANSEEYOUALL-Web;
    text-align: center;
    position: fixed;
    margin: 0;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -42%);
    font-size: 16vw;
    line-height: .95;
    color:white;
    text-shadow: 0 0 20px #f2d4ff, 0 0 50px #f2d4ff, 0 0 70px #f2d4ff;
    z-index: 100;
}

.title p{
    display: none;
}

.about {
  width:100vw;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  bottom:15px;
  z-index: 100;
}

.about a{
    font-family: IKANSEEYOUALL-Web;
    font-size: 2.1rem;
    color: white;
    text-shadow:0 0 2px #f2d4ff, 0 0 12px #f2d4ff, 0 0 20px #f2d4ff;
    text-decoration: none;
    text-align: center;
}

.links {
  height: 100vh;
  overflow-y: scroll;
  padding-left: 20px;
  z-index: 200;
  position: absolute;
  padding-top: 33px;
}

h2{
    font-family: IKANSEEYOUALL-Web;
    font-size: 1.75rem;
    line-height: 1.15;
    color: white;
    text-shadow:0 0 2px #f2d4ff, 0 0 12px #f2d4ff, 0 0 20px #f2d4ff;
    margin-bottom: .5rem;
}

.links::-webkit-scrollbar {
    display: none;
}

.links a{
    font-family: SuisseIntl-Regular;
    font-size: 1rem;
    line-height: 1.25;
    color: white;
    text-align: left;
    text-decoration: none;
}

.bottomborder {
    height: 10px;
    width:100vw;
    background-color:white;
    position: fixed;
    bottom:0px;
    z-index: 500;
}

.leftborder {
    height: 100vh;
    width:10px;
    background-color:white;
    position: fixed;
    left:0px;
    z-index: 500;
}

.rightborder {
    height: 100vh;
    width:10px;
    background-color:white;
    position: fixed;
    right:0px;
    z-index: 500;
}

#lovespell :hover{
  color:red;
}
#makeout :hover{
  color:#952f33;
}
#sweetpea :hover{
  color:#952f33;
}
#skinsosoft :hover{
  color:#952f33;
}
#santal :hover{
  color:#952f33;
}
#celebrity :hover{
  color:#952f33;
}
#be_delicious :hover{
  color:#952f33;
}
#baccarat :hover{
  color:#952f33;
}
#white_musk :hover{
  color:#952f33;
}
#designer_imposter :hover{
  color:#952f33;
}
#shalimar :hover{
  color:#952f33;
}
#funeral_home :hover{
  color:#952f33;
}
#happy :hover{
  color:#952f33;
}
#byredo :hover{
  color:#952f33;
}
#daisy :hover{
  color:#952f33;
}
#fierce :hover{
  color:#952f33;
}
#white_shoulders :hover{
  color:#952f33;
}
#loves_baby_soft :hover{
  color:#952f33;
}
#forbidden_rose :hover{
  color:#952f33;
}
#jean_nate :hover{
  color:#952f33;
}
#curve :hover{
  color:#952f33;
}
#parfums_juice_bar :hover{
  color:#952f33;
}
#heaven :hover{
  color:#952f33;
}
#opium :hover{
  color:#952f33;
}
#unspoken :hover{
  color:#952f33;
}
#exclamation :hover{
  color:#952f33;
}
#warm_vanilla_sugar :hover{
  color:#952f33;
}
#cool :hover{
  color:#952f33;
}
#ck_one :hover{
  color:#952f33;
}
#secretions :hover{
  color:#952f33;
}
#electric_youth :hover{
  color:#952f33;
}
#sunflowers :hover{
  color:#952f33;
}
#red_jeans :hover{
  color:#952f33;
}
#bottled_emotions :hover{
  color:#952f33;
}
#blue_waltz :hover{
  color:#952f33;
}
#pink_sugar :hover{
  color:#952f33;
}
#relique :hover{
  color:#952f33;
}
#cool_water :hover{
  color:#952f33;
}
#m :hover{
  color:#952f33;
}
#angel :hover{
  color:#952f33;
}
#halston :hover{
  color:#952f33;
}
#chypre :hover{
  color:#952f33;
}
#sweet :hover{
  color:#952f33;
}
#fetish :hover{
  color:#952f33;
}
#knowing_pleasures :hover{
  color:#952f33;
}
#giorgio :hover{
  color:#952f33;
}
#le_male :hover{
  color:#952f33;
}
#nordic_cedar :hover{
  color:#952f33;
}
#liz_claiborne :hover{
  color:#952f33;
}
#green_tea :hover{
  color:#952f33;
}
#aromatics_elixr :hover{
  color:#952f33;
}
#loulou :hover{
  color:#952f33;
}
#coffret_anniversaire :hover{
  color:#952f33;
}
#bleue :hover{
  color:#952f33;
}
#vanilla_fields :hover{
  color:#952f33;
}
#charlie :hover{
  color:#952f33;
}
#teisenddu :hover{
  color:#952f33;
}
#cabotine :hover{
  color:#952f33;
}
#amber :hover{
  color:#952f33;
}
#drakkar_noir :hover{
  color:#952f33;
}
#vvv :hover{
  color:#952f33;
}
#lair_du_temps :hover{
  color:#952f33;
}
#signature :hover{
  color:#952f33;
}
#marykate_ashley :hover{
  color:#952f33;
}
#hai_karate :hover{
  color:#952f33;
}
#remember_me :hover{
  color:#952f33;
}
#cucumber_melon :hover{
  color:#952f33;
}
#brit :hover{
  color:#952f33;
}
#marocain :hover{
  color:#952f33;
}
#tinkerbell :hover{
  color:#952f33;
}
#fahrenheit :hover{
  color:#952f33;
}
#country_apple :hover{
  color:#952f33;
}
#devotion :hover{
  color:#952f33;
}
#poison :hover{
  color:#952f33;
}
#jovan_musk :hover{
  color:#952f33;
}
#beverly_hills :hover{
  color:#952f33;
}
#joy :hover{
  color:#952f33;
}
#downtown_girl :hover{
  color:#952f33;
}
#pear_glace :hover{
  color:#952f33;
}



/*/* Smartphones (portrait) ----------- */

@media screen and (max-width: 1030px) {
.image{
    background-color: white;
    height: 100vh;
    padding-left: 10px;
    padding-top: 10px;
}

.image img {
    width:300vw;
}

.about {
    text-align: right;
    bottom: 2.7vw;
}

.about a{
    font-size: 1.5rem;
    padding-right: 4vw;

}

.links {
  padding-left: 4vw;
  padding-top: 22vh;
}

.links a{
font-size: 1em;
}

h2{
    font-size: 1.5rem;
}

.title h1{
    display: none;
}

.title p{
    display: block;
    font-family:IKANSEEYOUALL-Web;
    text-align: center;
    position: fixed;
    margin: 0;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -6%);
    font-size: 17vw;
    line-height: .95;
        color:white;
    text-shadow: 0 0 20px #f2d4ff, 0 0 50px #f2d4ff, 0 0 70px #f2d4ff;
    z-index: 100;
}

.bottomborder {
    height:10px;
}

.rightborder {
    width:10px;
}
}

}*/


