
body {
    background-color: #5ea1e8;
}

.bottomborder {
    background-color:#5ea1e8;
}

.rightborder {
    background-color:#5ea1e8;
}

.topborder {
    background-color:#5ea1e8;
}

.leftborder {
    background-color:#5ea1e8;
}

.text{
    color: #5ea1e8;
}

.home a {
    text-shadow: 0 0 2px #5ea1e8, 0 0 6px #5ea1e8, 0 0 10px #5ea1e8;
}

.prev a {
    text-shadow: 0 0 2px #5ea1e8, 0 0 6px #5ea1e8, 0 0 10px #5ea1e8;
}

.next a {
    text-shadow: 0 0 2px #5ea1e8, 0 0 6px #5ea1e8, 0 0 10px #5ea1e8;
}

#play {
    fill: #5ea1e8;
}

