* {
  box-sizing: border-box;
}

@font-face {
    font-family: MistralStd;
    src: url("MistralStd.otf") format("otf");
    font-style: normal;
}

body {
	padding: 0px;
	margin: 20px;
   display: flex;
  flex-wrap: wrap;
  position:absolute;
  font-family: MistralStd;
  font-size: 10em;
  color: #ff4000;
 ;
}

#choco1 {
	width: 300px;
	margin: 0px;
	padding: 0px;
}

img {
	width: 300px;
}

#choco2 {
	width: 300px;
	margin: 0px;
	padding: 0px;
}

  /* For mobile phones: */
@media only screen and (max-width: 600px) {


}