@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-image: url("../images/end.png");
    background-repeat: no-repeat;
    background-size: 100vw;
}

.title {
    margin: 0 auto;
    font-family: 'Alfa Slab One', cursive;
    font-size: 100px;
    text-align: center;
    letter-spacing: .09em;
    color: #e50219;
        text-shadow:
        -2px -2px 0 white,
        2px -2px 0 white,
        -2px 2px 0 white,
        2px 2px 0 white;
}

.end p{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color:white;
    line-height: 2.4rem;
text-align: center;
margin:0 auto;
width:750px;
margin-top: -60px;
margin-bottom: 100px;
text-transform: uppercase;
letter-spacing: .03em;
}
