
body {
    background-color: #5e2943;
}

.bottomborder {
    background-color:#5e2943;
}

.rightborder {
    background-color:#5e2943;
}

.topborder {
    background-color:#5e2943;
}

.leftborder {
    background-color:#5e2943;
}

.text{
    color: #5e2943;
}

.home a {
    text-shadow: 0 0 2px #5e2943, 0 0 6px #5e2943, 0 0 10px #5e2943;
}

.prev a {
    text-shadow: 0 0 2px #5e2943, 0 0 6px #5e2943, 0 0 10px #5e2943;
}

.next a {
    text-shadow: 0 0 2px #5e2943, 0 0 6px #5e2943, 0 0 10px #5e2943;
}

#play {
    fill: #5e2943;
}

