
* { 
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: IKANSEEYOUALL-Web;
    src: url("../fonts/IKANSEEYOUALL-Web.ttf") format("truetype");
}

@font-face {
    font-family: SuisseIntl-Regular;
    src: url("../fonts/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
    font-family: SuisseIntl-RegularItalic;
    src: url("../fonts/SuisseIntl-RegularItalic.otf") format("opentype");
}

body {
    margin: 0px;
    background-color: #ff2e7e;
}

body::-webkit-scrollbar {
    display: none;
}

.perfume{
    height: 100vh;
    position: fixed;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 10;
    overflow-y: scroll;
}

.text {
      font-family:SuisseIntl-Regular;
      text-align: left;
      color:#ff2e7e;
      padding-top:80px;
      padding-bottom:40px;
      font-size: 3rem;
      margin-left: 30px;
      padding-right: 30px;
      z-index: 20;
      line-height: 1.1;
      columns: 2;
      overflow-y: scroll;
}

.text p{
  padding-bottom: 30px;
}

.home {
    position: fixed;
    top:25px;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
    width:100vw;
}

.home a{
  text-decoration: none;
  font-family: IKANSEEYOUALL-Web;
  font-size: 2.1rem;
  color: white;
  text-shadow: 0 0 12px #ff2e7e, 0 0 20px #e3a3ff;
}

.bottomborder {
    height: 10px;
    width:100vw;
    background-color:#ff2e7e;
    position: fixed;
    bottom:0px;
    z-index: 500;
}

.topborder {
    height: 10px;
    width:100vw;
    background-color:#ff2e7e;
    position: fixed;
    top:0px;
    z-index: 500;
}

.leftborder {
    height: 100vh;
    width:10px;
    background-color:#ff2e7e;
    position: fixed;
    left:0px;
    z-index: 500;
}

.rightborder {
    height: 100vh;
    width:10px;
    background-color:#ff2e7e;
    position: fixed;
    right:0px;
    z-index: 500;
}


/*/* Smartphones (portrait) ----------- */

@media screen and (max-width: 930px) {

.text {
      font-size: 1.75rem;
      line-height: 1.1;
      columns: 2;
}

.text p{
  padding-bottom: 20px;
}
}


@media screen and (max-width: 630px) {

.text {
      font-size: 1.75rem;
      line-height: 1.1;
      columns: 1;
}

.text p{
  padding-bottom: 20px;
}
}
