
* { 
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: TRJN DaVinci Italic-Display;
    src: url("../fonts/TRJN DaVinci Italic-Display.otf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: SuisseIntlRegular;
    src: url("../fonts/SuisseIntlRegular.otf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: Itals;
    src: url("../fonts/Itals.otf") format("opentype");
    font-style: oblique;

}

@font-face {
    font-family: TRJNDaVinci-Text;
    src: url("../fonts/TRJNDaVinci-Text.otf") format("opentype");
}

body {
    margin: 0px;
    background-color: #ff2e7e;
}

body::-webkit-scrollbar {
    display: none;
}

.perfume{
    height: 100vh;
    position: fixed;
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    z-index: 10;
    overflow-y: scroll;
}

.text {
      font-family:SuisseIntlRegular;
      text-align: left;
      color:#8e6fdf;
      padding-top:90px;
      padding-bottom:40px;
      font-size: 1.45rem;
      margin-left: 20px;
      padding-right: 20px;
      z-index: 20;
      line-height: 1.25;
      columns: 2;
      overflow-y: scroll;
}

.text p{
/*  padding-bottom: 15px;*/
}

.italic {
  font-family: TRJNDaVinci-Text;
/*  font-style: oblique;*/
}

.home {
    position: fixed;
    top:20px;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
    width:100vw;
}

.home a{
  text-decoration: none;
  font-family: TRJN DaVinci Italic-Display;
  font-size: 1.75rem;
  color: white;
      -webkit-text-stroke: 1px white;
  text-shadow: 0 0 10px #8e6fdf, 0 0 18px #8e6fdf;
}

.bottomborder {
    height: 8px;
    width:100vw;
    background-color:#8e6fdf;
    position: fixed;
    bottom:0px;
    z-index: 500;
}

.topborder {
    height: 8px;
    width:100vw;
    background-color:#8e6fdf;
    position: fixed;
    top:0px;
    z-index: 500;
}

.leftborder {
    height: 100vh;
    width:8px;
    background-color:#8e6fdf;
    position: fixed;
    left:0px;
    z-index: 500;
}

.rightborder {
    height: 100vh;
    width:8px;
    background-color:#8e6fdf;
    position: fixed;
    right:0px;
    z-index: 500;
}


/*/* Smartphones (portrait) ----------- */
/*
@media screen and (max-width: 930px) {

.text {
      font-size: .9rem;
      line-height: 1.1;
      columns: 2;
      padding-bottom: 20px;
      padding-top:80px;
      margin-left: 15px;
      padding-right: 15px;
}

.text p{
  padding-bottom: 20px;
}
}*/


@media screen and (max-width: 630px) {

.text {
      font-size: .9rem;
      line-height: 1.45;
      columns: 1;
}

/*.text p{
  padding-bottom: 15px;
}*/
}
