
* { 
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: IKANSEEYOUALL-Web;
    src: url("../fonts/IKANSEEYOUALL-Web.ttf") format("truetype");
}

@font-face {
    font-family: SuisseIntl-Regular;
    src: url("../fonts/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
    font-family: SuisseIntl-RegularItalic;
    src: url("../fonts/SuisseIntl-RegularItalic.otf") format("opentype");
}

body {
    background-color: white;
}

body::-webkit-scrollbar {
    display: none;
}


.text h1{
  font-family:IKANSEEYOUALL-Web;
    font-size:7rem;
    line-height: 1.5;
    text-shadow: 0 0 20px #e9b8ff, 0 0 50px #e9b8ff;
    color:white;
}

.text {
      font-family:SuisseIntl-Regular;
      text-align: left;
      color:#e3a3ff;
      padding-top:40px;
      font-size: 1.5rem;
      margin-left: 50px;
      width:70vw;
      z-index: 20;
}

.text p{
        padding-top:20px;
}

.collage {
        z-index: 100;
}

.collage img{
    width:100vw;

}

.home {
  width:100vw;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  bottom:15px;
  z-index: 100;
}

.home a{
    font-family: IKANSEEYOUALL-Web;
    font-size: 2.1rem;
    color: white;
    text-shadow:0 0 2px #e9b8ff, 0 0 12px #e9b8ff;
    text-decoration: none;
    text-align: center;
}

.bottomborder {
    height: 10px;
    width:100vw;
    background-color:#e9b8ff;
    position: fixed;
    bottom:0px;
    z-index: 500;
}

.topborder {
    height: 10px;
    width:100vw;
    background-color:#e9b8ff;
    position: fixed;
    top:0px;
    z-index: 500;
}


.leftborder {
    height: 100vh;
    width:10px;
    background-color:#e9b8ff;
    position: fixed;
    left:0px;
    z-index: 500;
}

.rightborder {
    height: 100vh;
    width:10px;
    background-color:#e9b8ff;
    position: fixed;
    right:0px;
    z-index: 500;
}





/*/* Smartphones (portrait) ----------- */

@media screen and (max-width: 1030px) {

.about {
    text-align: right;
    bottom: 15px;
}

.about a{
    font-size: 1.5rem;
    padding-right: 20px;

}

h2{
    font-size: 1.5rem;
}

.bottomborder {
    height:10px;
}

.rightborder {
    width:10px;
}
}


/*ipad pro*/
@media screen and (max-width:1025px) and (max-height: 1367px) {

h2{
    font-size: 1.85rem;
}

.about a{
    font-size: 1.85rem;

}
}

/*ipad*/
@media screen and (width:768px) and (height: 1024px) {

h2{
    font-size: 1.65rem;
}

.about a{
    font-size: 1.65rem;

}
}

}*/


