@font-face {
    font-family: Favorit-Regular;
    src: url("fonts/Favorit-Regular.otf") format("opentype");
}

* {
  margin:0;
}

.heading {
	font-size: 1.5em;
	font-family: Favorit-Regular;
	margin-left: 30px;
	margin-bottom: 30px;
	margin-top: 10px;
	color:black;
	line-height: 1.25em;
	width:560px;
}

.heading a{
	color: black;
	line-height: 1.4em;

}

.worklinks {
	text-align: right;
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 30px;
}

.worklinks img{
	max-width: 270px;
	max-height: 230px;
	margin:10px;
}

.worklinks img:hover{
	transform: scale(1.05);
}

/*/* Smartphones (portrait) ----------- */
@media screen and (max-width: 450px) {

.heading {
	font-size: 1em;
	width:300px;
	margin-left: 20px;
	top:0px;
}

.worklinks {
	text-align: center;
	margin: 0 auto;
}

.worklinks img{
	max-width: 300px;
	max-height: 300px;
}

}*/