@font-face {
    font-family: AbadiMTStd-Bold;
    src: url("fonts/AbadiMTStd-Bold.otf") format("opentype");
}

* {
  margin:0;
}

.heading {
	font-size: 1.5em;
	font-family: AbadiMTStd-Bold;
	margin-left: 30px;
	margin-bottom: 30px;
	margin-top: 10px;
	color:black;
	line-height: 1.25em;
	width:540px;
}

.heading a{
	color: black;
	line-height: 1.4em;

}

.worklinks {
	margin:0 auto;
	width:90vw;
	text-align: center;
}

.worklinks img{
	max-width: 270px;
	max-height: 270px;
	margin:10px;
	position: absolute;
}

.worklinks img:hover{
	transform: scale(1.05);
}

#bball img{
top:170px;
left:310px;
}

#crystals img{
top:465px;
left:300px;
}

#pop img{
top:120px;
left:600px;
}

#block img{
top:420px;
left:600px;
}

#ds img{
top:20px;
left:830px;
}

#eye img{
top:240px;
left:830px;
}

#svu img{
top:470px;
left:830px;
}

#smash img{
top:500px;
left:1100px;
}

#blimey img{
top:270px;
left:1130px;
}

#misc img{
top:20px;
left:1130px;
}


.index {
	font-size: 1em;
	font-family: ArialMTStd;
	margin-left: 30px;
	color:black;
	line-height: 1.75em;
	position: absolute;
  	width:100vw;
  	bottom: 20px;
}