
body {
    background-color: #c08145;
}

.bottomborder {
    background-color:#c08145;
}

.rightborder {
    background-color:#c08145;
}

.topborder {
    background-color:#c08145;
}

.leftborder {
    background-color:#c08145;
}

.text{
    color: #c08145;
}

.home a {
    text-shadow: 0 0 2px #c08145, 0 0 6px #c08145, 0 0 10px #c08145;
}

.prev a {
    text-shadow: 0 0 2px #c08145, 0 0 6px #c08145, 0 0 10px #c08145;
}

.next a {
    text-shadow: 0 0 2px #c08145, 0 0 6px #c08145, 0 0 10px #c08145;
}

#play {
    fill: #c08145;
}

