
body {
    background-color: #83a84b;
}

.bottomborder {
    background-color:#83a84b;
}

.rightborder {
    background-color:#83a84b;
}

.topborder {
    background-color:#83a84b;
}

.leftborder {
    background-color:#83a84b;
}

.text{
    color: #83a84b;
}

.home a {
    text-shadow: 0 0 12px #83a84b, 0 0 20px #83a84b;
}

.prev a {
    text-shadow: 0 0 12px #83a84b, 0 0 20px #83a84b;
}

.next a {
    text-shadow: 0 0 12px #83a84b, 0 0 20px #83a84b;
}

#play {
    fill: #83a84b;
}

