
body {
    background-color: #e33323;
}

.bottomborder {
    background-color:#e33323;
}

.rightborder {
    background-color:#e33323;
}

.topborder {
    background-color:#e33323;
}

.leftborder {
    background-color:#e33323;
}

.text{
    color: #e33323;
}

.home a {
    text-shadow: 0 0 12px #e33323, 0 0 20px #e33323;
}

.prev a {
    text-shadow: 0 0 12px #e33323, 0 0 20px #e33323;
}

.next a {
    text-shadow: 0 0 12px #e33323, 0 0 20px #e33323;
}

#play {
    fill: #e33323;
}

