
* { 
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

.boxes {
	display: inline-block;
}

#orange {
	width:100vw;
	background-color: #f5750b;
	height:100vh;
	float: left;
	position: absolute;
	animation-name: oguy;
  	animation-duration: 10s;
  	 z-index: 50;
  	 top:0px;
  	 left:-150vw;
  	 animation-iteration-count: infinite;
  	 animation-timing-function: ease-out; 
}

#green {
	width:100vw;
	background-color: #10d493;
	height:100vh;
	float: left;
	position: absolute;
	right:-150vw;
	  animation-name: gguy;
  animation-duration: 10s;
  mix-blend-mode:screen;
  z-index: 100;
  top:0px;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out; 

}

@keyframes oguy {
  0%   {left:-150%;}
  100% {left:0%;}
}

@keyframes gguy {
  0%   {right:-150%;}
  100% {right:0%;}
}

}*/

