
body {
    background-color: #3195d1;
}

.bottomborder {
    background-color:#3195d1;
}

.rightborder {
    background-color:#3195d1;
}

.topborder {
    background-color:#3195d1;
}

.leftborder {
    background-color:#3195d1;
}

.text{
    color: #3195d1;
}

.home a {
    text-shadow: 0 0 2px #3195d1, 0 0 6px #3195d1, 0 0 10px #3195d1;
}

.prev a {
    text-shadow: 0 0 2px #3195d1, 0 0 6px #3195d1, 0 0 10px #3195d1;
}

.next a {
    text-shadow: 0 0 2px #3195d1, 0 0 6px #3195d1, 0 0 10px #3195d1;
}

#play {
    fill: #3195d1;
}

