@font-face {
    font-family: AkkuratPro-Regular;
    src: url("fonts/AkkuratPro-Regular.otf") format("opentype");
}

body {
	height: 100vh;
}

.heading {
	font-family: AkkuratPro-Regular;
	font-size: 4em;
	padding-bottom: 40px;
	margin-left: 100px;
	text-transform: uppercase;
}

#content {
    height: 600px;
    margin: 0 auto;
    text-align: center;
    width:100%;
}

#left {
    float: left;
    width: 300px;
    max-height:600px;
    overflow: scroll;
    font-family: AkkuratPro-Regular;
    font-size: 1.5em;
    margin-right: 60px;
    margin-left: 100px;
    padding: 18px;
}

#left img{
	width:300px;
}

#middle {
	float: left;
    width: 300px;
    max-height:600px;
    overflow: scroll;
    font-family: AkkuratPro-Regular;
    font-size: 1.5em;
    margin-right: 60px;
    padding: 18px;

}

#middle img{
	width:300px;
}

#right {
    float: left;
    width: 300px;
    max-height:600px;
    overflow: scroll;
    font-family: AkkuratPro-Regular;
    font-size: 1.5em;
    margin-right: 60px;
    padding: 18px;
}

#right img{
	width:300px;
}




