@font-face {
    font-family: ArialMTStd-Medium;
    src: url("../fonts/ArialMTStd-Medium.otf") format("opentype");
}

body {
    background-image:url("../images/other/granite.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    margin: 0;
}

.heading{
    padding-bottom: 50px;
}

.heading p{
	font-family: sans-serif;
	font-size: 1em;
    margin-left: 20px;
    margin-bottom: 10px;
	text-transform: uppercase;
    color: white;
}

.heading a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    margin-left: 20px;
}

#rig {
    margin:0 auto;
    padding:0;
    font-size:0;
    list-style:none;
    position: absolute;

}
#rig li {
    display: inline-block;
    width:25%;
    max-height: 200px;
    box-sizing:border-box;
    margin:0;
    padding:0;
    overflow:hidden;
}
        

.rig-cell {
    display:block;
    position: relative;
    overflow:hidden;
}
        
.rig-img {
    display:block;
    width: 100%;
    border:none;
}

.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:left;
    font-size:10pt;
    font-family: sans-serif;
    font-weight:normal!important;
    top:20%;
    color:white;
    opacity:0;
}
#rig li:hover .rig-text {
    opacity:1;
}

/*@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}*/