
body {
    background-color: #f6655f;
}

.bottomborder {
    background-color:#f6655f;
}

.rightborder {
    background-color:#f6655f;
}

.topborder {
    background-color:#f6655f;
}

.leftborder {
    background-color:#f6655f;
}

.text{
    color: #f6655f;
}

.home a {
    text-shadow: 0 0 2px #f6655f, 0 0 6px #f6655f, 0 0 10px #f6655f;
}

.prev a {
   text-shadow: 0 0 2px #f6655f, 0 0 6px #f6655f, 0 0 10px #f6655f;
}

.next a {
    text-shadow: 0 0 2px #f6655f, 0 0 6px #f6655f, 0 0 10px #f6655f;
}

#play {
    fill: #f6655f;
}

