
body {
    background-color: #ff2eb2;
}

.bottomborder {
    background-color:#ff2eb2;
}

.rightborder {
    background-color:#ff2eb2;
}

.topborder {
    background-color:#ff2eb2;
}

.leftborder {
    background-color:#ff2eb2;
}

.text{
    color: #ff2eb2;
}

.home a {
    text-shadow: 0 0 2px #ff2eb2, 0 0 6px #ff2eb2, 0 0 10px #ff2eb2;
}

.prev a {
    text-shadow: 0 0 2px #ff2eb2, 0 0 6px #ff2eb2, 0 0 10px #ff2eb2;
}

.next a {
    text-shadow: 0 0 2px #ff2eb2, 0 0 6px #ff2eb2, 0 0 10px #ff2eb2;
}

#play {
    fill: #ff2eb2;
}

