
body {
    background-color: #ff1100;
}

.bottomborder {
    background-color:#ff1100;
}

.rightborder {
    background-color:#ff1100;
}

.topborder {
    background-color:#ff1100;
}

.leftborder {
    background-color:#ff1100;
}

.text{
    color: #ff1100;
}

.home a {
    text-shadow: 0 0 2px #ff1100, 0 0 6px #ff1100, 0 0 10px #ff1100;
}

.prev a {
    text-shadow: 0 0 2px #ff1100, 0 0 6px #ff1100, 0 0 10px #ff1100;
}

.next a {
    text-shadow: 0 0 2px #ff1100, 0 0 6px #ff1100, 0 0 10px #ff1100;
}

#play {
    fill: #ff1100;
}

