
body {
    background-color: #d42b2f;
}

.bottomborder {
    background-color:#d42b2f;
}

.rightborder {
    background-color:#d42b2f;
}

.topborder {
    background-color:#d42b2f;
}

.leftborder {
    background-color:#d42b2f;
}

.text{
    color: #d42b2f;
}

.home a {
    text-shadow: 0 0 2px #d42b2f, 0 0 6px #d42b2f, 0 0 10px #d42b2f;
}

.prev a {
    text-shadow: 0 0 2px #d42b2f, 0 0 6px #d42b2f, 0 0 10px #d42b2f;
}

.next a {
    text-shadow: 0 0 2px #d42b2f, 0 0 6px #d42b2f, 0 0 10px #d42b2f;
}

#play {
    fill: #d42b2f;
}

