body {
	font-family: 'Pirata One', cursive;
	width: 500px;
}

.images {
	width: 100%;
	justify-content: center;
	align-items: center;

}

.images img{

}

.box:hover {
	color:red;
}

p {
	text-align: center;
	font-size: 35px;
	padding-top: 50px;
	width: 100%;
	letter-spacing: 5em: 
}

link {
	text-align: center;
	font-size: 35px;
	padding-top: 50px;
	width: 100%;
	letter-spacing: 5em: 
