body {
	font-family: 'Pirata One', cursive;
	display: block;
}

.images {
	width: 100%;

}

.box:hover {
	color:red;
}

p {
	text-align: center;
	font-size: 35px;
	padding-top: 50px;
	width: 100%;
	letter-spacing: 5em: 
}

link {
	text-align: center;
	font-size: 35px;
	padding-top: 50px;
	width: 100%;
	letter-spacing: 5em: 
