
body {
    background-color: #d47c95;
}

.bottomborder {
    background-color:#d47c95;
}

.rightborder {
    background-color:#d47c95;
}

.topborder {
    background-color:#d47c95;
}

.leftborder {
    background-color:#d47c95;
}

.text{
    color: #d47c95;
}

.home a {
    text-shadow: 0 0 2px #d47c95, 0 0 6px #d47c95, 0 0 10px #d47c95;
}

.prev a {
    text-shadow: 0 0 2px #d47c95, 0 0 6px #d47c95, 0 0 10px #d47c95;
}

.next a {
    text-shadow: 0 0 2px #d47c95, 0 0 6px #d47c95, 0 0 10px #d47c95;
}

#play {
    fill: #d47c95;
}

