@font-face {
    font-family: ArialNarrowMTStd;
    src: url("../fonts/ArialNarrowMTStd.otf") format("opentype");
}

* { 
    padding: 0;
    margin: 0;
}

body {
  padding: 20px 40px 40px 40px;
  background-color: #fffaf2;
}

.text {
  font-family: ArialNarrowMTStd;
  font-size: 3.75em;
  letter-spacing: .05em;
}

.text span{
  color:#dd656f;
  text-decoration: none;
}

.frame {
  margin: 0 auto;
  width:100%;
  border-style: solid;
  border-width: 3.5px;
  border-color: red;
  height: 70vh;
  padding: 20px;
  box-sizing: border-box;
}

.frame .img {
  background: url("../images/cutebackground.png");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.frame .img img {
  margin-top: 120px;
  width: 70vw;
  text-align: center;
}
.number {
  position: absolute;
  right:0px;
  top:0px;
}

hr {
  border-top: 3.5px solid red;
  margin-bottom: 10px;
}

.back hr {
  border-top: 2.5px solid red;
  margin-bottom: 30px;
}

.front p {
  font-family: ArialNarrowMTStd;
  font-size: 2em;
  text-align: center;
  letter-spacing: .05em;
}

.recipetext1, .recipetext2, .recipetext3, .recipetext4 {
  font-family: ArialNarrowMTStd;
  font-size: 1.5em;
  letter-spacing: .05em;
  width:20%;
  display: inline-flex;
  line-height: 1.6em;
  margin-right: 40px;
  margin-bottom: 100px;
}

.LLC p{
margin-top: 10px;
font-size: 1em;
text-align: right;
}

.back {
  font-family: ArialNarrowMTStd;
  font-size: 1em;
  letter-spacing: .05em;
  margin-bottom: 100px;
}

.back p{
  margin-top: 20px;
  position: relative;
  font-size: 1.5em;
}

.back a{
  color: black;
}

.A1 span:hover{
  color:#952f33;
}

.A2 span:hover{
  color:#bd959a;
}

.A3 span:hover{
  color:#808da9;
}

.B1 span:hover{
  color:#eca58a;
}

.B2 span:hover{
  color:#b1afc8;
}

.B3 span:hover{
  color:#c92a2d;
}

.B4 span:hover{
  color:#a2bcaa;
}

.B5 span:hover{
  color:#dacbc5;
}

.B6 span:hover{
  color:#88a2ca;
}

.B7 span a:hover{
  color:#d59dc1;
}

.B8 span:hover{
  color:#e53251;
}

.B9 span:hover{
  color:#afc2af;
}

.B10 span:hover{
  color:#81596b;
}

.B11 span:hover{
  color:#e9c9c1;
}

.B12 span:hover{
  color:#72141f;
}

.B13 span:hover{
  color:#5679b7;
}

.C1 span:hover{
  color:#b92b20;
}

.C2 span:hover{
  color:#be333d;
}

.C3 span:hover{
  color:#a87875;
}

.C4 span a:hover{
  color:#dd656f;
}

.F1 span:hover{
  color:#a02533;
}

.F2 span:hover{
  color:#a63f66;
}

.F3 span a:hover{
  color:#962e3b;
}

.F4 span:hover{
  color:#c58a79;
}

.G1 span:hover{
  color:#252f5f;
}

.G2 span:hover{
  color:#cbadad;
}

.G3 span:hover{
  color:#ebe4da;
}

.G4 span:hover{
  color:#4c0f11;
}

.G5 span:hover{
  color:#d34767;
}

.H1 span:hover{
  color:#f1a2bf;
}

.H2 span:hover{
  color:#dd5c7d;
}

.H3 span:hover{
  color:#c2897c;
}

.H4 span:hover{
  color:#f2c5d1;
}

.H5 span:hover{
  color:#ecc6b8;
}

.I1 span:hover{
  color:#5c142d;
}

.J1 span:hover{
  color:#cb484b;
}

.K1 span:hover{
  color:#bb3c47;
}

.L1 span:hover{
  color:#ceb1b7;
}

.L2 span:hover{
  color:#733e4b;
}

.L3 span:hover{
  color:#a4848b;
}

.L4 span:hover{
  color:#c7afa5;
}

.L5 span:hover{
  color:#712141;
}

.L6 span:hover{
  color:#992d3b;
}

.L7 span:hover{
  color:#f6dfd0;
}

.L8 span:hover{
  color:#e1caca;
}

.L9 span:hover{
  color:#e4394a;
}

.L10 span:hover{
  color:#2a4d8a;
}

.L11 span:hover{
  color:#463f57;
}

.M1 span:hover{
  color:#c1426e;
}

.M2 span:hover{
  color:#f2deda;
}

.M3 span:hover{
  color:#b5a6a0;
}

.M4 span:hover{
  color:#d8ccc6;
}

.N1 span:hover{
  color:#e18eaa;
}

.N2 span:hover{
  color:#bca0bc;
}

.N3 span:hover{
  color:#dfafab;
}

.O1 span:hover{
  color:#d47276;
}

.P1 span:hover{
  color:#ede7dd;
}

.P2 span:hover{
  color:#f6cae4;
}

.P3 span:hover{
  color:#fbf2ed;
}

.P4 span:hover{
  color:#f1b7b8;
}

.R1 span:hover{
  color:#b0827d;
}

.R2 span:hover{
  color:#361726;
}

.R3 span:hover{
  color:#e5cdbd;
}

.S1 span:hover{
  color:#d17d88;
}

.S2 span:hover{
  color:#d13f80;
}

.S3 span:hover{
  color:#8e54a9;
}

.S4 span:hover{
  color:#c4344b;
}

.S5 span:hover{
  color:#74554d;
}

.S6 span:hover{
  color:#98616c;
}

.S7 span:hover{
  color:#ee6c7b;
}

.S8 span:hover{
  color:#b93a61;
}

.S9 span:hover{
  color:#7f5162;
}

.S10 span:hover{
  color:#edb6c7;
}

.S11 span:hover{
  color:#7f2a46;
}

.S12 span:hover{
  color:#edbbb8;
}

.S13 span:hover{
  color:#ddc5c3;
}

.S14 span:hover{
  color:#e0e2d9;
}

.S15 span:hover{
  color:#f4dcd8;
}

.S16 span:hover{
  color:#87434f;
}

.S17 span:hover{
  color:#cbb3ca;
}

.S18 span:hover{
  color:#f6c7bb;
}

.S19 span:hover{
  color:#15384b;
}

.T1 span:hover{
  color:#b59380;
}

.T2 span a:hover{
  color:#2e6a6c;
}

.T3 span:hover{
  color:#5b1f40;
}

.U1 span:hover{
  color:#90aaaf;
}

.W1 span:hover{
  color:#5b9c98;
}

.W2 span:hover{
  color:#3c1d36;
}

.W3 span:hover{
  color:#9d7d5e;
}

.W4 span:hover{
  color:#ceb4b5;
}

.W5 span:hover{
  color:#902327;
}

.Y1 span:hover{
  color:#d06c99;
}
