
body {
    background-color: #443c2a;
}

.bottomborder {
    background-color:#443c2a;
}

.rightborder {
    background-color:#443c2a;
}

.topborder {
    background-color:#443c2a;
}

.leftborder {
    background-color:#443c2a;
}

.text{
    color: #443c2a;
}

.home a {
    text-shadow: 0 0 12px #443c2a, 0 0 20px #443c2a;
}

.prev a {
    text-shadow: 0 0 12px #443c2a, 0 0 20px #443c2a;
}

.next a {
    text-shadow: 0 0 12px #443c2a, 0 0 20px #443c2a;
}

#play {
    fill: #443c2a;
}

