@font-face {
font-family: 'SportingGrotesque-Bold';
src: url('../fonts/SportingGrotesque-Bold.otf'); /* IE9 Compat Modes */
src: url('../fonts/SportingGrotesque-Bold.otf') format('embedded-opentype'), /* IE6-IE8 */
url('../fonts/SportingGrotesque-Bold.otf') format('woff'), /* Modern Browsers */
url('../fonts/SportingGrotesque-Bold.otf') format('truetype'), /* Safari, Android, iOS */
url('../fonts/SportingGrotesque-Bold.otf') format('svg'); /* Legacy iOS */}

@font-face {
font-family: 'SportingGrotesque-Regular';
src: url('../fonts/SportingGrotesque-Regular.otf'); /* IE9 Compat Modes */
src: url('../fonts/SportingGrotesque-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
url('../fonts/SportingGrotesque-Regular.otf') format('woff'), /* Modern Browsers */
url('../fonts/SportingGrotesque-Regular.otf') format('truetype'), /* Safari, Android, iOS */
url('../fonts/SportingGrotesque-Regular.otf') format('svg'); /* Legacy iOS */}

* {
	margin:0;
  cursor: url('../assets/arrow.png'), default;
}

body {
background: white;
}

.topnav {
    z-index:100;
    background-color: transparent;
    position: fixed;
    padding-left: 200px;
    padding-bottom: 50px;
}

.topnav p {
    display: block;
    color: rgb(7, 74, 198);
    text-align: left;
    font-size: 1rem;
    font-family: 'SportingGrotesque-Bold'; 
    margin:0px;
    letter-spacing: .1em;
    text-decoration: overline;
    padding-top: 40px;

}

.info {
  z-index: 1;
  margin:0 auto;
  float: left;
  display: block;
  }

.info p {
    float:left;
    color:rgb(7, 74, 198);
    font-size: 2rem;
    font-family:'SportingGrotesque-Regular';
    text-align: left;
    line-height:1.45em;
    padding-bottom: 30px;
    padding-top: 110px;
    padding-left: 90px;
    padding-right: 90px;
}

.info a{
  color:rgb(7, 74, 198);
}

.topnav a{
  text-decoration: none;
  color: rgb(7, 74, 198);
}

a:hover{
  color:#ff4635;
  cursor: url('../assets/bombsmall.png'), default;
}
/* Outer */
.popup {
width:100%;
height:100%;
display:none;
position: fixed;
top:0;
left:0;
}
/* Inner */
.popup-inner {
width:400px;
height:70%;
padding:0px;
position:absolute;
top:50%;
left:50%;
font-size: 2rem;
font-family:'SportingGrotesque-Regular';
-webkit-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
background:white;
border:10px solid rgb(7, 74, 198);
}

.popup-inner img{
  width:250px;
  display: block;
  margin: 0 auto;
  padding-top: 25px;
}
/* Close Button */
.popup-close {
width:30px;
height:30px;
padding:15px;
display:inline-block;
position:absolute;
top:0px;
right:0px;
font-size: 2rem;
font-family:'SportingGrotesque-Regular';
text-decoration: none;
text-align:center;
line-height:100%;
color:black;
}

@media screen and (max-width: 904px) {
  a:hover {cursor: url('../assets/cellphone.png'), default;
}
}




