@font-face {
    font-family: 'bluuitalic';
    src: url('../fonts/bluunext-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/bluunext-bolditalic-webfont.woff') format('woff'),
         url('../fonts/bluunext-bolditalic.ttf') format('truetype'),
         url('../fonts/bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

* {
	margin:0;
  cursor: url('../assets/arrow.png'), default;
}

body {
background: white;
}

.topnav {
    z-index:1;
    background-color: transparent;
    position: fixed;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 60px;
}

.topnav p {
    display: block;
    text-align: left;
    font-size: 2.5rem;
    font-family: 'bluuitalic'; 
    text-shadow: 
    #0c1e3d 0px 0px 1.5px,   
    #0c1e3d 0px 0px 1.5px,   
    #0c1e3d 0px 0px 1.5px,
    #0c1e3d 0px 0px 1.5px,   
    #0c1e3d 0px 0px 1.5px,   
    #0c1e3d 0px 0px 1.5px;
    font-smoothing: antialiased;
    margin:0px;
    letter-spacing: .05em;
}

.info {
  z-index: 1;
  margin:0 auto;
  float: left;
  display: block;
  }


.info p {
    float:left;
    color:#0c1e3d;
    font-size: 7rem;
    font-family:'bluuitalic';
    text-align: left;
    line-height:1.5em;
    padding-bottom: 30px;
    padding-top: 110px;
    padding-left: 90px;
    padding-right: 90px;
}

.info a{
  color: #0c1e3d;
}

.topnav a{
  text-decoration: none;
  color:white;
}

.info a:hover{
  color:#d70fff;
}

.topnav a:hover{
    text-shadow: 
    #d70fff 0px 0px 1px,   
    #d70fff 0px 0px 1px,   
    #d70fff 0px 0px 1px,
    #d70fff 0px 0px 1px,   
    #d70fff 0px 0px 1px,   
    #d70fff 0px 0px 1px;
    font-smoothing: antialiased;
}
/* Outer */
.popup {
width:100%;
height:100%;
display:none;
top:0;
left:0;
}
/* Inner */
.popup-inner {
width:400px;
position:fixed;
top:50%;
left:50%;
font-size: 2rem;
font-family:'bluuitalic';
-webkit-transform:translate(-50%, -50%);
transform:translate(-50%, -50%);
background: transparent;
}

.popup-inner img{
  width:350px;
  display: block;
  margin-left: 200px;
}

/* Close Button */

.popup-inner a{
font-size:8rem;
font-family: 'bluuitalic';
text-decoration: none;
color:white;
text-shadow: 
#0c1e3d 0px 0px 2.5px,   
#0c1e3d 0px 0px 2.5px,   
#0c1e3d 0px 0px 2.5px,
#0c1e3d 0px 0px 2.5px,   
#0c1e3d 0px 0px 2.5px,   
#0c1e3d 0px 0px 2.5px;
}

.popup-inner a:hover{
color:white;
text-shadow: 
#d70fff 0px 0px 2.5px,   
#d70fff 0px 0px 2.5px,   
#d70fff 0px 0px 2.5px,
#d70fff 0px 0px 2.5px,   
#d70fff 0px 0px 2.5px,   
#d70fff 0px 0px 2.5px;
}

.popup-close {
width:90px;
position:absolute;
top:450px;
left:180px;
}



