body {
	box-sizing: border-box;
	margin:0;
	background-color: #f2c926;
}

.center {
    margin: auto;
    width: 200px;
    padding-top: 200px;
}

.center img{
    margin: auto;
    width: 200px;
}

.click {
  width: 150px;
  text-align: center;

}
