
body {
    background-color: #e90e7d;
}

.bottomborder {
    background-color:#e90e7d;
}

.rightborder {
    background-color:#e90e7d;
}

.topborder {
    background-color:#e90e7d;
}

.leftborder {
    background-color:#e90e7d;
}

.text{
    color: #e90e7d;
}

.home a {
    text-shadow: 0 0 12px #e90e7d, 0 0 20px #e90e7d;
}

.prev a {
    text-shadow: 0 0 12px #e90e7d, 0 0 20px #e90e7d;
}

.next a {
    text-shadow: 0 0 12px #e90e7d, 0 0 20px #e90e7d;
}

#play {
    fill: #e90e7d;
}

