body {
    background-color: #9a0021;
}

.bottomborder {
    background-color:#9a0021;
}

.rightborder {
    background-color:#9a0021;
}

.topborder {
    background-color:#9a0021;
}

.leftborder {
    background-color:#9a0021;
}

.text{
    color: #9a0021;
}

.home a {
    text-shadow: 0 0 2px #9a0021, 0 0 6px #9a0021, 0 0 10px #9a0021;
}

.prev a {
    text-shadow: 0 0 2px #9a0021, 0 0 6px #9a0021, 0 0 10px #9a0021;
}

.next a {
    text-shadow: 0 0 2px #9a0021, 0 0 6px #9a0021, 0 0 10px #9a0021;
}

#play {
    fill: #9a0021;
}

