
body {
    background-color: #716dcc;
}

.bottomborder {
    background-color:#716dcc;
}

.rightborder {
    background-color:#716dcc;
}

.topborder {
    background-color:#716dcc;
}

.leftborder {
    background-color:#716dcc;
}

.text{
    color: #716dcc;
}

.home a {
    text-shadow: 0 0 12px #716dcc, 0 0 20px #716dcc;
}

.prev a {
    text-shadow: 0 0 12px #716dcc, 0 0 20px #716dcc;
}

.next a {
    text-shadow: 0 0 12px #716dcc, 0 0 20px #716dcc;
}

#play {
    fill: #716dcc;
}

