
body {
    background-color: #f300d8;
}

.bottomborder {
    background-color:#f300d8;
}

.rightborder {
    background-color:#f300d8;
}

.topborder {
    background-color:#f300d8;
}

.leftborder {
    background-color:#f300d8;
}

.text{
    color: #f300d8;
}

.home a {
    text-shadow: 0 0 12px #f300d8, 0 0 20px #f300d8;
}

.prev a {
    text-shadow: 0 0 12px #f300d8, 0 0 20px #f300d8;
}

.next a {
    text-shadow: 0 0 12px #f300d8, 0 0 20px #f300d8;
}

#play {
    fill: #f300d8;
}

