
body {
    background-color: #38ebe2;
}

.bottomborder {
    background-color:#38ebe2;
}

.rightborder {
    background-color:#38ebe2;
}

.topborder {
    background-color:#38ebe2;
}

.leftborder {
    background-color:#38ebe2;
}

.text{
    color: #38ebe2;
}

.home a {
    text-shadow: 0 0 2px #38ebe2, 0 0 6px #38ebe2, 0 0 10px #38ebe2;
}

.prev a {
    text-shadow: 0 0 2px #38ebe2, 0 0 6px #38ebe2, 0 0 10px #38ebe2;
}

.next a {
    text-shadow: 0 0 2px #38ebe2, 0 0 6px #38ebe2, 0 0 10px #38ebe2;
}

#play {
    fill: #38ebe2;
}

