
body {
    background-color: #8538e4;
}

.bottomborder {
    background-color:#8538e4;
}

.rightborder {
    background-color:#8538e4;
}

.topborder {
    background-color:#8538e4;
}

.leftborder {
    background-color:#8538e4;
}

.text{
    color: #8538e4;
}

.home a {
    text-shadow: 0 0 2px #8538e4, 0 0 6px #8538e4, 0 0 10px #8538e4;
}

.prev a {
    text-shadow: 0 0 2px #8538e4, 0 0 6px #8538e4, 0 0 10px #8538e4;
}

.next a {
    text-shadow: 0 0 2px #8538e4, 0 0 6px #8538e4, 0 0 10px #8538e4;
}

#play {
    fill: #8538e4;
}

