
* { 
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: PLANK;
    src: url("fonts/PLANK.TTF") format("truetype");
}

@font-face {
    font-family: untitled-sans-web-regular;
    src: url("fonts/untitled-sans-web-regular.woff") format("truetype");
}

@font-face {
    font-family: untitled-sans-web-regular-italic;
    src: url("fonts/untitled-sans-web-regular-italic.woff") format("truetype");
}

html, body {
    height: 100%;
    margin: 0;
}

#title {
    font-family: PLANK;
    font-size: 3.5vw;
    background-color: transparent;
    color:black;
    line-height: .9;
    padding-top: 20px;
    padding-bottom: 20px;
    hyphens: none;
}

#title img {
  height:40px;
  margin-right: 16px;
}

h1 {
    font-family: untitled-sans-web-regular;
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: normal;
}


.left {
  font-family: untitled-sans-web-regular;
    float: left;
    font-size: 1em;
    width: 25%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
    color:black;
    background-color: transparent;
    text-align: left;
    overflow-y: scroll;
    line-height: 1.25em;
    text-indent: -20px;
    padding-left: 40px;
    overflow-y: visible;
    overflow-x: auto;
}

.left::-webkit-scrollbar {
    display: none;
}

.left p {
  width:90%;
  margin-bottom: 10px;

}

.left a{
  color:black;
}

.left a:hover {
  cursor:pointer;
  color:white;
  background-color: black;
}

.right {
    float: left;
    width: 75%;
    height: 100%;
    overflow: auto;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.right::-webkit-scrollbar {
    display: none;
}

#fantasy img, #basenote img, #svu img, #pop img, #stardust img, #binge img, #garden img, #marvin img, #gif img, #emoji img, #mall img, #riso img {
  width:100%;
  height:auto;
   margin-bottom: -5px;
}



/*/* Smartphones (portrait) ----------- */

@media screen and (max-width: 800px) {
#title {
    font-size: 5vw;
    line-height: 1;
    padding-top: 15px;
}

#title img {
  height:20px;
}

.left {
    width:40%;
    text-indent: -8px;
    padding-left: 18px;
}

.left p {
    line-height: 1.15em;
    font-size: .6rem;
      margin-bottom: 5px;
}

.right {
    width:60%;
}

.left h1 {
  font-size: .7rem;
      padding-top: 5px;
    padding-bottom: 5px;
}
}


/*ipad*/
@media screen and (width:768px) and (height: 1024px) {
#title {
    font-size: 2.2rem;
    line-height: 1;
    padding-top: 25px;
}

#title img {
  height:30px;
}

.left {
    padding-right: 20px;
    width:35%;
}

.left p {
  font-size: .85rem;
  line-height: 1.2;
}

.right {
    width:65%;
}
}

/*ipad pro*/
@media screen and (width:1024px) and (height: 1366px) {
#title {
    font-size: 2.75em;
    line-height: 1;
    padding-top: 40px;
}

#title img {
  height: 30px;
}

.left {
    padding-right: 10px;
    width:35%;
}
.right {
    width:65%;
}
}

}*/








