
* { 
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: PLANK;
    src: url("fonts/PLANK.TTF") format("truetype");
}

html, body {
    height: 100%;
    margin: 0;
}

#title {
    font-family: PLANK;
    font-size: 3em;
    background-color: transparent;
    color:black;
    line-height: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    hyphens: none;
}

#title img {
  height:40px;
  margin-right: 16px;
}

h1 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: normal;
}


.left {
/*  hyphens: auto;*/
  font-family: sans-serif;
    float: left;
    font-size: 1em;
    width: 25%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0.4em;
    color:black;
    background-color: transparent;
    text-align: left;
    overflow-y: scroll;
    line-height: 1.25em;
    text-indent: -20px;
    padding-left: 40px;
    overflow-y: visible;
    overflow-x: auto;
}

.left p {
  width:90%;
  margin-bottom: 10px;

}

.left a{
  color:black;
}

.left a:hover {
  cursor:pointer;
  color:white;
  background-color: black;
}

.right {
    float: left;
    width: 75%;
    height: 100%;
    overflow: auto;
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#fantasy img, #basenote img, #svu img, #pop img, #stardust img, #binge img, #garden img, #marvin img, #gif img, #emoji img, #mall img, #riso img {
  width:100%;
  height:auto;
   margin-bottom: -5px;
}

#riso, #fantasy, #basenote, #svu, #pop, #binge, #garden, #marvin, #emoji, #gif, #stardust, #mall {
  position: relative;
  text-align: center;
  width:100%;
  color:blue;
  text-transform: uppercase;
}

#fantasy p{
  position: absolute;
  font-size: 2rem;
  width:100%;
  top:3vh;
}

#basenote p{
  position: absolute;
  font-size: 2rem;
  width:100%;
  top:3vh;
}

#svu p{
  position: absolute;
  font-size: 2rem;
  width:100%;
  top:3vh;
}

#pop p{
  position: absolute;
  width:100%;
  font-size: 2rem;
  top:3vh;
}

.right a {
  color:blue;
}







