
body {
    background-color: #0094d4;
}

.bottomborder {
    background-color:#0094d4;
}

.rightborder {
    background-color:#0094d4;
}

.topborder {
    background-color:#0094d4;
}

.leftborder {
    background-color:#0094d4;
}

.text{
    color: #0094d4;
}

.home a {
    text-shadow: 0 0 2px #0094d4, 0 0 6px #0094d4, 0 0 10px #0094d4;
}

.prev a {
    text-shadow: 0 0 2px #0094d4, 0 0 6px #0094d4, 0 0 10px #0094d4;
}

.next a {
    text-shadow: 0 0 2px #0094d4, 0 0 6px #0094d4, 0 0 10px #0094d4;
}

#play {
    fill: #0094d4;
}

