* { 
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: 'Serifbabe_Regular';
  src: url('Serifbabe_Regular.ttf') format('truetype');
}  


body{
  background-image: url("boardwalk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.quote{
  font-family: 'Serifbabe_Regular';
  padding-top: 28px;
  text-align: center;
  color:white;
  font-size:9em;
  line-height: 1;
  padding-left: 100px;
  padding-right: 100px;
}