
body {
    background-color: #c8327b;
}

.bottomborder {
    background-color:#c8327b;
}

.rightborder {
    background-color:#c8327b;
}

.topborder {
    background-color:#c8327b;
}

.leftborder {
    background-color:#c8327b;
}

.text{
    color: #c8327b;
}

.home a {
    text-shadow: 0 0 2px #c8327b, 0 0 6px #c8327b, 0 0 10px #c8327b;
}

.prev a {
    text-shadow: 0 0 2px #c8327b, 0 0 6px #c8327b, 0 0 10px #c8327b;
}

.next a {
    text-shadow: 0 0 2px #c8327b, 0 0 6px #c8327b, 0 0 10px #c8327b;
}

#play {
    fill: #c8327b;
}

