
body {
    background-color: #2876d5;
}

.bottomborder {
    background-color:#2876d5;
}

.rightborder {
    background-color:#2876d5;
}

.topborder {
    background-color:#2876d5;
}

.leftborder {
    background-color:#2876d5;
}

.text{
    color: #2876d5;
}

.home a{
    text-shadow: 0 0 2px #2876d5, 0 0 6px #2876d5, 0 0 10px #2876d5;
}

.prev a{
    text-shadow: 0 0 2px #2876d5, 0 0 6px #2876d5, 0 0 10px #2876d5;
}

.next a{
    text-shadow: 0 0 2px #2876d5, 0 0 6px #2876d5, 0 0 10px #2876d5;
}

#play {
    fill: #2876d5;
}

