
body {
    background-color: #f14e53;
}

.bottomborder {
    background-color:#f14e53;
}

.rightborder {
    background-color:#f14e53;
}

.topborder {
    background-color:#f14e53;
}

.leftborder {
    background-color:#f14e53;
}

.text{
    color: #f14e53;
}

.home a {
    text-shadow: 0 0 2px #f14e53, 0 0 6px #f14e53, 0 0 10px #f14e53;
}

.prev a {
    text-shadow: 0 0 2px #f14e53, 0 0 6px #f14e53, 0 0 10px #f14e53;
}

.next a {
    text-shadow: 0 0 2px #f14e53, 0 0 6px #f14e53, 0 0 10px #f14e53;
}

#play {
    fill: #f14e53;
}

