
body {
    background-color: #fc03ec;
}

.bottomborder {
    background-color:#fc03ec;
}

.rightborder {
    background-color:#fc03ec;
}

.topborder {
    background-color:#fc03ec;
}

.leftborder {
    background-color:#fc03ec;
}

.text{
    color: #fc03ec;
}

.home a {
    text-shadow: 0 0 2px #fc03ec, 0 0 6px #fc03ec, 0 0 10px #fc03ec;
}

.prev a {
    text-shadow: 0 0 2px #fc03ec, 0 0 6px #fc03ec, 0 0 10px #fc03ec;
}

.next a {
    text-shadow: 0 0 2px #fc03ec, 0 0 6px #fc03ec, 0 0 10px #fc03ec;
}

#play {
    fill: #fc03ec;
}