
body {
    background-color: #ff2f00;
}

.bottomborder {
    background-color:#ff2f00;
}

.rightborder {
    background-color:#ff2f00;
}

.topborder {
    background-color:#ff2f00;
}

.leftborder {
    background-color:#ff2f00;
}

.text{
    color: #ff2f00;
}

.home a {
    text-shadow: 0 0 12px #ff2f00, 0 0 20px #ff2f00;
}

.prev a {
    text-shadow: 0 0 12px #ff2f00, 0 0 20px #ff2f00;
}

.next a {
    text-shadow: 0 0 12px #ff2f00, 0 0 20px #ff2f00;
}

#play {
    fill: #ff2f00;
}

/*/* Smartphones (portrait) ----------- */

@media screen and (max-width: 1036px) {
.perfume{
    background-color: #ff2f00;
}

body {
    background-color: #ff2f00;
}

h1{
    text-shadow:0 0 12px #ff2f00, 0 0 20px #ff2f00;
}

.leftarrow a {
    text-shadow:0 0 10px #ff2f00;
}

.rightarrow a {
    text-shadow:0 0 10px #ff2f00;
}
}