
body {
    background-color: #ea3e11;
}

.bottomborder {
    background-color:#ea3e11;
}

.rightborder {
    background-color:#ea3e11;
}

.topborder {
    background-color:#ea3e11;
}

.leftborder {
    background-color:#ea3e11;
}

.text{
    color: #ea3e11;
}

.home a {
    text-shadow: 0 0 2px #ea3e11, 0 0 6px #ea3e11, 0 0 10px #ea3e11;
}

.prev a {
    text-shadow: 0 0 2px #ea3e11, 0 0 6px #ea3e11, 0 0 10px #ea3e11;
}

.next a {
    text-shadow: 0 0 2px #ea3e11, 0 0 6px #ea3e11, 0 0 10px #ea3e11;
}

#play {
    fill: #ea3e11;
}

