
body {
    background-color: #cd0bdb;
}

.bottomborder {
    background-color:#cd0bdb;
}

.rightborder {
    background-color:#cd0bdb;
}

.topborder {
    background-color:#cd0bdb;
}

.leftborder {
    background-color:#cd0bdb;
}

.text{
    color: #cd0bdb;
}

.home a {
    text-shadow: 0 0 2px #cd0bdb, 0 0 6px #cd0bdb, 0 0 10px #cd0bdb;
}

.prev a {
    text-shadow: 0 0 2px #cd0bdb, 0 0 6px #cd0bdb, 0 0 10px #cd0bdb;
}

.next a {
    text-shadow: 0 0 2px #cd0bdb, 0 0 6px #cd0bdb, 0 0 10px #cd0bdb;
}

#play {
    fill: #cd0bdb;
}

