
body {
    background-color: #c90022;
}

.bottomborder {
    background-color:#c90022;
}

.rightborder {
    background-color:#c90022;
}

.topborder {
    background-color:#c90022;
}

.leftborder {
    background-color:#c90022;
}

.text{
    color: #c90022;
}

.home a {
    text-shadow: 0 0 2px #c90022, 0 0 6px #c90022, 0 0 10px #c90022;
}

.prev a {
    text-shadow: 0 0 2px #c90022, 0 0 6px #c90022, 0 0 10px #c90022;
}

.next a {
    text-shadow: 0 0 2px #c90022, 0 0 6px #c90022, 0 0 10px #c90022;
}

#play {
    fill: #c90022;
}

