
body {
    background-color: #e000a0;
}

.bottomborder {
    background-color:#e000a0;
}

.rightborder {
    background-color:#e000a0;
}

.topborder {
    background-color:#e000a0;
}

.leftborder {
    background-color:#e000a0;
}

.text{
    color: #e000a0;
}

.home a {
    text-shadow: 0 0 2px #e000a0, 0 0 6px #e000a0, 0 0 10px #e000a0;
}

.prev a {
    text-shadow: 0 0 2px #e000a0, 0 0 6px #e000a0, 0 0 10px #e000a0;
}

.next a {
    text-shadow: 0 0 2px #e000a0, 0 0 6px #e000a0, 0 0 10px #e000a0;
}

#play {
    fill: #e000a0;
}
