
body {
    background-color: #ff52c0;
}

.bottomborder {
    background-color:#ff52c0;
}

.rightborder {
    background-color:#ff52c0;
}

.topborder {
    background-color:#ff52c0;
}

.leftborder {
    background-color:#ff52c0;
}

.text{
    color: #ff52c0;
}

.home a {
    text-shadow: 0 0 2px #ff52c0, 0 0 6px #ff52c0, 0 0 10px #ff52c0;
}

.prev a {
    text-shadow: 0 0 2px #ff52c0, 0 0 6px #ff52c0, 0 0 10px #ff52c0;
}

.next a {
    text-shadow: 0 0 2px #ff52c0, 0 0 6px #ff52c0, 0 0 10px #ff52c0;
}

#play {
    fill: #ff52c0;
}

