
* { 
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: oidia;
    src: url("fonts/oidia.TTF") format("truetype");
}

@font-face {
    font-family: SuisseIntl-Regular;
    src: url("fonts/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
    font-family: SuisseIntl-RegularItalic;
    src: url("fonts/SuisseIntl-RegularItalic.otf") format("opentype");
}

html, body {
    height: 100%;
    margin: 0;
    background-image: url("images/tropical1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


#title {
    font-family:oidia;
    font-size: 27em;
    text-align: center;
    margin: 0 auto;
    position: fixed;
    color:#fffdea;
    z-index: 10;
    width:100vw;
    top: 10vh;

  -webkit-animation: glow 4s ease-in-out infinite alternate;
  -moz-animation: glow 4s ease-in-out infinite alternate;
  animation: glow 4s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 0px #fff, 0 0 10px #fff, 0 0 20px #ff3fc3, 0 0 30px #ff3fc3, 0 0 40px #ff3fc3, 0 0 50px #ff3fc3, 0 0 60px #ff3fc3;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 30px #ff50c2, 0 0 40px #ff50c2, 0 0 50px #ff50c2, 0 0 60px #ff50c2, 0 0 70px #ff50c2, 0 0 80px #ff50c2;
  }
}

.nav {
	font-family:SuisseIntl-Regular;
	text-align: left;
	font-size: 1.25em;
	position: absolute;
    top: 3vh;
	color:#fffdea;
	z-index: 10;
	margin-left: 30px;

}

.subtitle {
	font-family:SuisseIntl-Regular;
	text-align: center;
	margin:0 auto;
	width:100vw;
	font-size: 6.5em;
	position: fixed;
    bottom: 3vh;
	color:#fffdea;
	z-index: 10;
	

-webkit-animation: glow 4s ease-in-out infinite alternate;
  -moz-animation: glow 4s ease-in-out infinite alternate;
  animation: glow 4s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 0px #fff, 0 0 10px #fff, 0 0 20px #ff3fc3, 0 0 30px #ff3fc3, 0 0 40px #ff3fc3, 0 0 50px #ff3fc3, 0 0 60px #ff3fc3;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 30px #ff50c2, 0 0 40px #ff50c2, 0 0 50px #ff50c2, 0 0 60px #ff50c2, 0 0 70px #ff50c2, 0 0 80px #ff50c2;
  }
}

.nav a{
text-decoration: none;
color:#fffdea;
display: block;
margin-bottom:5px;
}



