body{
	background: #f7efe8;
	font-family: Helvetica, sans-serif;
	margin:0;
}

.triangle{
	mix-blend-mode: multiply;

}


#bluetriangle, #yellowtriangle{
	background: #f7efe8;
	overflow: auto;

}

#yellowtriangle .triangle{
	width: 0;
	height: 0;
	border-left: 580px solid transparent;
	border-bottom: 580px solid #ffea4c;
	z-index: 10;
	position: absolute;

}

#bluetriangle .triangle{
	width: 0;
	height: 0;
	border-right: 580px solid transparent;
	border-bottom: 580px solid #2da5bc;
	z-index: 10;
	position: relative;
	animation: changecolor 8s linear 0.5s alternate;
	animation-iteration-count: infinite;
}


#yellowtriangle{
	margin-bottom: : 0px;
	margin-top: -390px;

}

#bluetriangle{
	margin-top: 0px;
	margin-left: 0px;
}


#text{
	margin-top: -117px;
	margin-left: 125px;
	z-index: 20;
	display: flex;
	transform: rotate(-45deg);
	position: fixed;
}

.left, .right{
	flex: 1;
}

.left {
	text-align: right;
	margin-right: .8rem;
	width: 120px;
	margin-top: 145px;
}

.left:hover {
	color:#ffea4c;

}

.right:hover {
	color:#2da5bc;

}

.right {
	text-align: left;
	color:black;
}

p {
	font-size: .7em;
	font-weight: 700;
	letter-spacing: -.06em;
}

h1{
	margin-bottom: 1rem;
	font-size: 4rem;
	margin-top: 0;
	line-height: 90%;
	letter-spacing: -.06em;

}

@keyframes changecolor {
	0%  {
	background-color: transparent;
}
	50% {
 	background-color: #fc99f4;
}
	100%{
 	background-color: pink;
}


