body{
	background: #f7efe8;
	font-family: Helvetica, sans-serif;
	margin:0;
}

.triangle{
/*	width: 250px;
	height: 250px;*/
/*	float: left;
	margin: 0px;*/
	mix-blend-mode: multiply;
}


#bluetriangle, #yellowtriangle{
	background: #f7efe8;
	overflow: auto;
}

#yellowtriangle .triangle{
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-bottom: 100px solid #ffea4c;
	z-index: 0;
	bottom: 0;
	right: 0;
}

#bluetriangle .triangle{
	width: 0;
	height: 0;
	border-right: 100px solid transparent;
	border-bottom: 100px solid #2da5bc;
	z-index: 10;
}

#yellowtriangle{
	bottom: 0;
	right: 0;
}

#bluetriangle{
	top: 0;
	left: 0;
}


#text{
	top: 0;
	right: 0;
	z-index: 20;
	display: flex;
	transform: rotate(-45deg);
}

.left, .right{
	flex: 1;
}

.left {
	text-align: right;
	margin-right: .8rem;
	width: 100px;
}

p {
	font-size: .8em;
	margin-top: : 300px;
}

h1{
	margin-bottom: 1rem;
	font-size: 4rem;
	margin-top: 0;
}
