
body {
    background-color: #4fcdf8;
}

.bottomborder {
    background-color:#4fcdf8;
}

.rightborder {
    background-color:#4fcdf8;
}

.topborder {
    background-color:#4fcdf8;
}

.leftborder {
    background-color:#4fcdf8;
}

.text{
    color: #4fcdf8;
}

.home a {
    text-shadow: 0 0 2px #4fcdf8, 0 0 6px #4fcdf8, 0 0 10px #4fcdf8;
}

.prev a {
    text-shadow: 0 0 2px #4fcdf8, 0 0 6px #4fcdf8, 0 0 10px #4fcdf8;
}

.next a {
    text-shadow: 0 0 2px #4fcdf8, 0 0 6px #4fcdf8, 0 0 10px #4fcdf8;
}

#play {
    fill: #4fcdf8;
}

