@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

* {
	margin:0;
  display: inline-grid;
  cursor: url(images/mouse.png), auto;
}

body {
background-image: url("images/sky.gif");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
}

.text {
  z-index: 4;
  margin:0 auto;
  padding-top: 200px;
}

.text img{
  padding-bottom:300px;
  text-align:center;
  margin:0 auto;
  opacity: .65;
  transition: .3s;
}

.text img:hover{
  opacity: 1;
}

.images {
  text-align:center;
  margin:0 auto;
}

.images img{
    position: absolute;
/*    z-index: 5;*/
}

#AFV img{
  width:320px; left: -38px; top: 5402px;
  z-index: 5;
}

#amalclooney img{
  width:260px; left: 269px; top: 8257px;
  z-index: 6;
}

#amandashow img{
  width:200px; left: 685px; top: 2136px;
  z-index: 5;
}

#andy img{
  width:160px; left: 235px; top: 1134px;
    z-index: 6;
}

#annaw img{
  width:190px; left: 1001px; top: 4293px;
  z-index: 5;
}

#april img{
  width:150px; left: 1000px; top: 6134px;
    z-index: 6;
}

#ariana img{
  width:240px; left: 828px; top: 8835px;
  z-index:6;
    opacity: .55;
  transition: .3s;
}

#ariana img:hover{
  opacity: 1;
}

#ariel img{
  width:200px; left: 349px; top: 6053px;
  z-index: 3;
}

#aristocats img{
  width:120px; left: 1233px; top: 3002px;
  z-index: 5;
}

#avril img{
  width:130px; left:902px; top:1400px;
  z-index: 5;
}

#bachelor img{
  width:270px; left:1045px; top:3601px;
  z-index: 3;
}

#bachelorp img{
  width:190px; left:832px; top:4060px;
  z-index: 3;
}

#balenciaga img{
  width:220px; left: 1263px; top: 2253px;
  z-index: 5;
}

#barbie img{
  width:200px; left: 1004px; top: 2942px;
  z-index: 5;
}

#bathbomb img{
  width:230px; left:499px; top:2221px;
  z-index: 5;
}

#beachboys img{
  width:130px; left: 592px; top: 5316px;
  z-index: 6;
}

#beanie img{
  width:280px; left: 660px; top: 4629px;
  z-index: 5;
}

#beatles img{
  width:270px; left: 385px; top: 6827px;
  z-index: 3;
}

#beetlejuice img{
  width:170px; left: 1022px; top: 4525px;
  z-index: 6;
}

#beyonce img{
  width:270px; left: 277px; top: 4782px;
  z-index:3;
}

#bill img{
  width:110px; left: 319px; top: 2027px;
  z-index: 5;
}

#blair img{
  width:250px; left: 1326px; top: 43px;
  z-index: 5;
}

#blankspace img{
  width:290px; left: 1295px; top: 2446px;
  z-index: 3;
}

#blockbuster img{
  width:100px; left: 89px; top: 4574px;
  z-index: 5;
}

#blonde img{
  width:330px; left: 1326px; top: 1062px;
  z-index: 3;
}

#bluecrush img{
  width:200px; left:1286px; top:1579px;
    z-index: 6;
}

#blueivy img{
  width:160px; left: 896px; top: 8391px;
    z-index: 6;
}

#bobross img{
  width:170px; left: 1306px; top: 4628px;
  z-index: 5;
}

#bow img{
  width:160px; left: 437px; top: 4282px;
  z-index: 5;
}

#braceface img{
  width:180px; left:74px; top:3946px;
  z-index: 3;
}

#bridesmaids img{
  width:180px; left:321px; top:3794px;
    z-index: 6;
}

#bridget img{
  width:150px; left:311px; top:3190px;
  z-index: 3;
}

#britney2 img{
  width:500px; left: 153px; top: -58px;
  opacity: .55;
  transition: .3s;
    z-index: 6;
}

#britney2 img:hover{
  opacity: 1;
}

#britney3 img{
  width:450px; left: 529px; top: 7937px;
  opacity: .55;
  transition: .3s;
  z-index: 6;
}

#britney3 img:hover{
  opacity: 1;
}

#britney4 img{
  width:300px; left: 463px; top: 3879px;
  opacity: .55;
  transition: .3s;
  z-index: 6;
}

#britney4 img:hover{
  opacity: 1;
}


#britney5 img{
  width:200px; left: 940px; top: 4961px;
  opacity: .55;
  transition: .3s;
  z-index: 6;
}

#britney5 img:hover{
  opacity: 1;
}


#broadcity img{
  width:200px; left: 937px; top: 8016px;
  z-index: 5;
}

#bunny img{
  width:280px; left: 1295px; top: 5124px;
  z-index: 3;
}

#bushpainting img{
  width:200px; left: 71px; top: 8631px;
  z-index: 5;
}

#buzzfeed img{
  width:100px; left: 1472px; top: 7092px;
  z-index: 5;
}

#cake img{
  width:190px; left: 1190px; top: 7980px;
    z-index: 6;
}

#cakeboss img{
  width:210px; left: 1096px; top: 304px;
  z-index: 3;
}

#cakephone img{
  width:180px; left: 1430px; top: 6040px;
  z-index: 5;
}

#callmeby img{
  width:140px; left: 406px; top: 7622px;
  z-index: 3;
}

#carly img{
  width:130px; left: 654px; top: 4513px;
    z-index: 6;
}

#cat img{
  width:160px; left: 463px; top: 6382px;
  z-index: 5;
}

#cd img{
  width:350px; left: 970px; top: 2451px;
  z-index: 3;
}

#cheese img{
  width:210px; left: 1212px; top: 7296px;
  z-index: 5;
}

#chelsea img{
  width:140px; left: 297px; top: 6469px;
  z-index: 5;
}

#cherry img{
  width:250px; left: 130px; top: 3025px;
    z-index: 6;
}

#christina img{
  width:320px; left: 124px; top: 8055px;
  z-index: 5;
}

#christinaag img{
  width:200px; left:540px; top:3614px;
  z-index: 5;
}

#cig img{
  width:180px; left: 959px; top: 1266px;
  z-index: 3;
}

#cloudwoman img{
  width:170px; left: 673px; top: 7821px;
    z-index: 6;
}

#coke img{
  width:180px; left: 688px; top: 34px;
  z-index: 5;
}

#cookie img{
  width:200px; left: 596px; top: 8220px;
  z-index:6;
}

#cosmic img{
  width:275px; left:450px; top:856px;
    z-index: 6;
}

#crazyex img{
  width:160px; left: 1151px; top: 8101px;
  z-index: 5;
}

#creditcard img{
  width:180px; left:992px; top:2072px;
  z-index: 5;
}

#cruel img{
  width:300px; left: 570px; top: 7056px;
    z-index: 6;
}

#ctc img{
  width:200px; left: 361px; top: 5152px;
  z-index: 3;
}

#cupcake img{
  width:300px; left: 1180px; top: 69px;
    z-index: 6;
}

#dawson img{
  width:240px; left: 752px; top: 3342px;
  z-index: 3;
}

#deceasedhandbook img{
  width:140px; left: 92px; top: 6507px;
  z-index: 5;
}

#demi img{
  width:230px; left: 151px; top: 8461px;
  z-index: 6;
}

#destiny img{
  width:300px; left: 1332px; top: 6540px;
  z-index: 3;
}

#devilprada img{
  width:200px; left: 522px; top: 1200px;
    z-index: 6;
}

#dixie img{
  width:195px; left: 1064px; top: 6866px;
  z-index: 3;
}

#donut img{
  width:260px; left: 585px; top: 527px;
    z-index: 6;
}

#dorito img{
  width:330px; left: 505px; top: 6135px;
  z-index:3;
}

#dunkaroos img{
  width:200px; left: 238px; top: 5235px;
     opacity: .55;
  transition: .3s;
    z-index: 6;
}

#dunkaroos img:hover{
  opacity: 1;
}

#elongrimes img{
  width:205px; left: 1374px; top: 7421px;
  z-index: 5;
}

#empirerecords img{
  width:140px; left: 236px; top: 7797px;
    z-index: 6;
}

#fastfood img{
  width:255px; left: 292px; top: 607px;
  z-index: 3;
}

#frances img{
  width:155px; left: 1055px; top: 5531px;
    z-index: 6;
}

#frenchfry img {
  width:320px; left: 971px; top: 8162px;
  z-index: 6;
}

#froyo img {
  width:245px; left: 1070px; top: 422px;
  z-index: 3;
}

#froyo2 img {
  width:205px; left: 1470px; top: 6852px;
  z-index: 5;
}

#frozen img {
  width:125px; left: 116px; top: 440px;
  z-index: 5;
}

#fruitbyfoot img {
  width:305px; left: 665px; top: 3740px;
  z-index: 3;
}

#fullhouse img {
  width:125px; left: 297px; top: 8788px;
  z-index: 5;
}

#gatorade img {
  width:190px; left: 9px; top: 7245px;
  z-index: 5;
}

#geeks img {
  width:205px; left: 267px; top: 4512px;
  z-index: 3;
}

#gem img {
  width:125px; left: 1508px; top: 4512px;
  z-index: 5;
}

#ghost img {
  width:145px; left: 704px; top: 2755px;
  z-index: 5;
}

#gillianjacobs img {
  width:180px; left: 959px; top: 7687px;
  z-index: 5;
}

#gilmoregirls img {
  width:385px; left: 286px; top: 1517px;
  z-index: 3;
}

#GOT img {
  width:125px; left: 518px; top: 7566px;
  z-index: 6;
}

#grimes img {
  width:205px; left: 69px; top: 2417px;
  z-index: 3;
}

#gum img {
  width:555px; left: 1032px; top: 8494px;
  z-index: 3;
}

#gummy img {
  width:220px; left: 1053px; top: 7782px;
  z-index: 6;
}

#gusher img {
  width:305px; left: 823px; top: 644px;
  z-index: 3;
}

#haim img {
  width:165px; left: 36px; top: 8394px;
  z-index: 5;
}

#halsey img {
  width:165px; left: 1188px; top: 2477px;
  z-index: 3;
}

#heathers img {
  width:305px; left: 111px; top: 6169px;
    z-index: 6;
}

#hellokitty img {
  width:125px; left: 691px; top: 3627px;
  z-index: 5;
}

#hocuspocus img {
  width:225px; left: 595px; top: 1830px;
    z-index: 6;
}

#horoscope img {
  width:165px; left: 423px; top: 1973px;
    z-index: 6;
}

#hot img {
  width:125px; left: 158px; top: 4049px;
  z-index: 6;
}

#houseofcards img {
  width:165px; left: 733px; top: 7421px;
  z-index: 5;
}

#housewife img {
  width:205px; left: 954px; top: 2404px;
    z-index: 6;
}

#hungryhearts img {
  width:105px; left:911px; top:1724px;
  z-index: 3;
}

#icecream img {
  width:125px; left: 102px; top: 5726px;
  z-index: 5;
}

#instagram img {
  width:100px; left: 1558px; top: 2236px;
  z-index: 5;
}

#jaeger img {
  width:155px; left: 1427px; top: 1486px;
  z-index: 5;
}

#janevirgin img {
  width:200px; left:1275px; top:4096px;
  z-index: 3;
}

#jess img {
  width:210px; left: 97px; top: 7349px;
  z-index: 5;
}

#jessica img {
  width:135px; left: 1202px; top: 8826px;
  z-index: 5;
}

#judgejudy img {
  width:145px; left: 1385px; top: 4880px;
  z-index: 6;
}

#jumanji img {
  width:125px; left: 257px; top: 4616px;
    z-index: 6;
}

#justin img {
  width:195px; left: 43px; top: 4338px;
  z-index: 5;
}

#kanye img {
  width:189px; left: 1278px; top: 5594px;
  z-index: 5;
}

#katvd img {
  width:225px; left: 1392px; top: 5905px;
  z-index: 5;
}

#killingeve img {
  width:205px; left: 195px; top: 2097px;
    z-index: 6;
}

#kimhides img {
  width:200px; left: 1046px; top: 7381px;
  z-index: 6;
}

#kimoji img {
  width:160px; left: 955px; top: 146px;
    z-index: 6;
}

#kingp img {
  width:205px; left: 52px; top: 6918px;
  z-index: 5;
}

#kioko img {
  width:300px; left: 1338px; top: 8201px;
  z-index: 5;
}

#kourtney img {
  width:425px; left: 1143px; top: 4222px;
    z-index: 6;
}

#kruger img {
  width:110px; left: 1439px; top: 7878px;
  z-index: 5;
}

#lacroix img {
  width:125px; left: 234px; top: 6379px;
  z-index: 5;
}

#ladybird img {
  width:100px; left: 259px; top: 3712px;
  z-index: 5;
}

#ladylike img {
  width:225px; left: 117px; top: 2540px;
  z-index: 3;
}

#lena img {
  width:100px; left: 1240px; top: 6026px;
  z-index: 6;
}

#lightning img {
  width:225px; left: 800px; top: 6266px;
  z-index: 5;
}

#lipstick img {
  width:155px; left: 1501px; top: 3024px;
  opacity: .55;
  transition: .3s;
  z-index: 6;
}

#lipstick img:hover{
  opacity: 1;
}

#lisafrank img {
  width:125px; left: 1499px; top: 2588px;
  z-index: 5;
}

#lizzie img {
  width:125px; left: 745px; top: 4197px;
    z-index: 6;
}

#lizzie2 img {
  width:325px; left: 7px; top: 7629px;
  z-index: 5;
}

#loveactually img {
  width:115px; left: 973px; top: 1573px;
  z-index: 3;
}

#m13on30 img {
  width:145px; left: 1405px; top: 3969px;
  z-index: 5;
}

#magicschoolbus img {
  width:125px; left: 866px; top: 5068px;
  z-index: 5;
}

#marie img {
  width:235px; left: 638px; top: 6669px;
    z-index: 6;
}

#maryberry img {
  width:200px; left: 935px; top: 1933px;
    z-index: 6;
}

#mbranch img {
  width:155px; left: 791px; top: -20px;
  z-index: 5;
}

#meangirls img {
  width:325px; left: 513px; top: 3241px;
    z-index: 6;
}

#mikes img {
  width:125px; left: 906px; top: 5754px;
  z-index: 5;
}

#modernfamily img {
  width:155px; left: 1249px; top: 4930px;
  z-index: 5;
}

#moodring img {
  width:145px; left: 1232px; top: 4969px;
  z-index: 5;
}

#mtndew img {
  width:225px; left: 1175px; top: 4640px;
    z-index: 6;
}

#mtv img {
  width:175px; left: 191px; top: 759px;
  z-index: 5;
}

#myspace img {
  width:125px; left: 138px; top: 2824px;
  z-index: 5;
}

#nancy img {
  width:135px; left: 1324px; top: 6273px;
  z-index: 5;
}

#neko img {
  width:125px; left: 884px; top: 6027px;
    z-index: 6;
}

#netflix img {
  width:95px; left: 508px; top: 4419px;
  z-index: 5;
}

#newgirl img {
  width:200px; left: 846px; top: 6436px;
  z-index: 5;
}

#notebook img {
  width:175px; left: 1375px; top: 781px;
  z-index: 5;
}

#now img {
  width:255px; left: 1250px; top: 6651px;
    z-index: 6;
}

#office img {
  width:175px; left: 1363px; top: 1382px;
  z-index: 5;
}

#online img {
  width:145px; left: 1405px; top: 6291px;
  z-index: 5;
}

#orange70s img {
  width:200px; left: 952px; top: 5427px;
  z-index: 3;
}

#oregontrail img {
  width:205px; left: 1107px; top: 5831px;
  z-index: 5;
}

#panda img {
  width:225px; left: 959px; top: 6453px;
  z-index: 5;
}

#parenthood img {
  width:225px; left: 199px; top: 4188px;
  z-index: 3;
}

#parenttrap img {
  width:295px; left: 592px; top: 4866px;
    z-index: 6;
}

#peggy img {
  width:185px; left: 401px; top: 8022px;
  z-index: 5;
}

#peoplemag img {
  width:115px; left: 786px; top: 1321px;
    z-index: 6;
}

#peteariana img {
  width:300px; left: 1124px; top: 813px;
  z-index: 3;
}

#pizza img {
  width:235px; left: 1345px; top: 540px;
  z-index: 5;
}

#poptart img {
  width:165px; left: 1171px; top: 6993px;
    z-index: 6;
}

#portlandia img {
  width:225px; left: 976px; top: 3916px;
    z-index: 6;
}

#pretzel img {
  width:165px; left: 563px; top: 3981px;
    z-index: 6;
}

#princessnokia img {
  width:125px; left: 998px; top: 3107px;
  z-index: 6;
      opacity: .55;
  transition: .3s;
}

#princessnokia img:hover{
  opacity: 1;
}

#queereye img {
  width:200px; left: 528px; top: 2511px;
    z-index: 6;
      opacity: .55;
  transition: .3s;
  z-index: 5;
}

#queereye img:hover{
  opacity: 1;
}

#raven img {
  width:125px; left: 973px; top: 8303px;
  z-index: 3;
}

#razr img {
  width:175px; left: 436px; top: 5798px;
  z-index: 3;
}

#reeses img {
  width:285px; left: 110px; top: -59px;
  z-index: 5;
}

#ringpops img {
  width:210px; left: 829px; top: 7112px;
  z-index: 3;
}

#riri img {
  width:400px; left: 102px; top: 5446px;
  z-index: 3;
}

#riverdale img {
  width:205px; left: 573px; top: 2332px;
    z-index: 6;
}

#robyn img {
  width:295px; left: 119px; top: 3313px;
    z-index: 6;
}

#rose img {
  width:95px; left: 866px; top: 2061px;
    z-index: 6;
}

#roseask img {
  width:295px; left: 105px; top: 1848px;
    z-index: 6;
}

#royalwedding img {
  width:325px; left: 1246px; top: 2706px;
    z-index: 6;
}

#rumisir img {
  width:200px; left: 1308px; top: 3375px;
    z-index: 6;
}

#rupaul img {
  width:255px; left: 1289px; top: 7070px;
  z-index: 5;
}

#sabrina img {
  width:325px; left: 1239px; top: 5641px;
  z-index: 5;
}

#sansa img {
  width:100px; left: 1178px; top: 1814px;
  z-index:3;
}

#selena img {
  width:100px; left: 1470px; top: 3317px;
  z-index: 5;
}

#sexcity img {
  width:225px; left: 417px; top: 8672px;
  z-index: 6;
}

#shining img {
  width:135px; left: 679px; top: 5374px;
    z-index: 6;
}

#sicksad img {
  width:285px; left: 669px; top: 5819px;
    z-index: 6;
}

#simpsons img {
  width:205px; left: 1431px; top: 5288px;
  z-index: 5;
}

#slutever img {
  width:180px; left: 655px; top: 2997px;
  z-index: 3;
}

#smoon img {
  width:200px; left: 801px; top: 7284px;
  z-index: 5;
}

#snooki img {
  width:185px; left: 903px; top: 3541px;
    z-index: 6;
}

#spicegirls img {
  width:225px; left: 1096px; top: 5212px;
  z-index: 3;
}

#spongebob img {
  width:120px; left: 74px; top: 1342px;
  z-index: 5;
}

#starbucks img {
  width:200px; left: 1110px; top: 6268px;
  z-index: 6;
}

#starbursts img {
  width:100px; left: 66px; top: 611px;
  z-index: 5;
}

#stickit img {
  width:135px; left: 446px; top: 2680px;
  z-index: 3;
}

#stranger img {
  width:225px; left: 126px; top: 5089px;
  z-index: 5;
}

#stv img {
  width:200px; left: 1349px; top: 3110px;
  z-index: 5;
}

#SVU img {
  width:300px; left: 1170px; top: 1236px;
    z-index: 6;
}

#taurus img {
  width:205px; left: 1084px; top: 3239px;
  z-index: 3;
}

#terracehouse img {
  width:325px; left: 146px; top: 2770px;
  z-index: 5;
}

#thrasher img {
  width:125px; left: 1185px; top: 2190px;
  z-index: 5;
}

#timgunn img {
  width:295px; left: 114px; top: 1443px;
  z-index: 5;
}

#timr img {
  width:135px; left: 37px; top: 1731px;
  z-index: 3;
}

#titanic img {
  width:300px; left: 196px; top: 6618px;
  z-index: 3;
}

#tonya img {
  width:370px; left: 1132px; top: 3826px;
  z-index: 3;
}

#TRL img {
  width:245px; left: 1068px; top: 1469px;
  z-index: 5;
}

#tumblr img {
  width:90px; left: 982px; top: 3691px;
  z-index: 5;
}

#TV img {
  width:225px; left: 32px; top: 80px;
  z-index: 5;
}

#tvdinner img {
  width:200px; left: 1419px; top: 8447px;
  z-index: 5;
}

#twilight img {
  width:325px; left: 1304px; top: 7639px;
  z-index: 6;
}

#twinpeaks img {
  width:205px; left: 1257px; top: 6438px;
  z-index: 5;
}

#tyra img {
  width:200px; left: 1447px; top: 1815px;
  z-index: 5;
}

#us img {
  width:120px; left: 319px; top: 5668px;
  z-index: 5;
}

#veronica img {
  width:285px; left: 787px; top: 2858px;
    z-index: 6;
}

#vice img {
  width:200px; left: 1111px; top: 2048px;
  z-index: 5;
}

#viceland img {
  width:285px; left: 53px; top: 986px;
  z-index: 3;
}

#wand img {
  width:180px; left: 380px; top: 6594px;
  z-index: 5;
}

#warhol img {
  width:125px; left: 807px; top: 5603px;
    z-index: 6;
}

#warnerbro img {
  width:200px; left: 569px; top: 5738px;
  z-index: 5;
}

#whatnottowear img {
  width:210px; left: 178px; top: 7093px;
  z-index: 5;
}

#yesdress img {
  width:375px; left: 1274px; top: 328px;
    z-index: 6;
}

#younger img {
  width:135px; left: 1278px; top: 3721px;
  z-index: 5;
}

#youtube img {
  width:125px; left: 1489px; top: 3687px;
  z-index: 5;
}

#zellner img {
  width:200px; left: 395px; top: 7261px;
  z-index: 5;
}

.description {
  width:570px;
  left: 1032px;
  position: relative;
  margin-bottom: 50px;
}

h2 {
    text-align: left;
  color:white;
}

p {
  text-align: left;
  color:white;
}
