* { 
    padding: 0;
    margin: 0;
}

body {
	background-image:url("images/tomb.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
}
}

.mask {
z-index: 10;
position: fixed;
width: 100vw;
top:0;
}

.mask img{
	width: 320px;
}
.background {
	width: 320px;
	z-index: 3;
	top:0;
	margin-bottom: 0px;
}

.background img{
	width: 320px;
	top:0;
	margin-bottom: 0px;
}
