
body {
    background-color: #255244;
}

.bottomborder {
    background-color:#255244;
}

.rightborder {
    background-color:#255244;
}

.topborder {
    background-color:#255244;
}

.leftborder {
    background-color:#255244;
}

.text{
    color: #255244;
}

.home a {
    text-shadow: 0 0 2px #255244, 0 0 6px #255244, 0 0 10px #255244;
}

.prev a {
    text-shadow: 0 0 2px #255244, 0 0 6px #255244, 0 0 10px #255244;
}

.next a {
    text-shadow: 0 0 2px #255244, 0 0 6px #255244, 0 0 10px #255244;
}

#play {
    fill: #255244;
}

