* {
    margin: 0;
    background-color: black;
}

body {
}

@font-face {
    font-family: ArialMTStd-Medium;
    src: url("fonts/ArialMTStd-Medium.otf") format("opentype");
}

.text{
position:absolute;
z-index:3;
width:100vw;
color:white;
font-size: 2em;
font-family: ArialMTStd-Medium;
}
