* {
    margin: 0;
}

@font-face {
    font-family: ArialMTStd-Medium;
    src: url("../fonts/ArialMTStd-Medium.otf") format("opentype");
}

body {
  background-image: url("../images/VickyParson.png");
background-size: cover;
background-repeat: no-repeat;
/*background-position: center center;*/
background-attachment: fixed;
}

.text{
position: fixed;
z-index:3;
width:100vw;
height: 100vh;
color:#c0c1c4;
font-size: 1.5em;
font-family: ArialMTStd-Medium;
}

.header{
    margin-left:20px;
    margin-top:20px;
}

.back {
    text-align: right;
    margin-right:20px;
    position: relative;
    top:-30px;
}


.back a{
    text-decoration: none;
    color:#c0c1c4;
    text-align: right;
}

.back a:hover{
    text-shadow: 0 0 10px red;
}

.bottom {
  position: absolute;
  width:100vw;
  bottom: 0;
  display: inline-block;
}

.deadgirls {
    text-align: right;
    margin:20px;
    line-height: 1.5em;
    right: 0;
    position: absolute;
    bottom: 0;
}

.episodes {
    text-align: left;
    margin:20px;
    display: inline-block;
    line-height: 1.5em;
}

@media screen and (max-width: 870px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}