
body {
    background-color: #5e63c1;
}

.bottomborder {
    background-color:#5e63c1;
}

.rightborder {
    background-color:#5e63c1;
}

.topborder {
    background-color:#5e63c1;
}

.leftborder {
    background-color:#5e63c1;
}

.text{
    color: #5e63c1;
}

.home a {
    text-shadow: 0 0 12px #5e63c1, 0 0 20px #5e63c1;
}

.prev a {
    text-shadow: 0 0 12px #5e63c1, 0 0 20px #5e63c1;
}

.next a {
    text-shadow: 0 0 12px #5e63c1, 0 0 20px #5e63c1;
}

#play {
    fill: #5e63c1;
}

