
body {
    background-color: #ff0075;
}

.bottomborder {
    background-color:#ff0075;
}

.rightborder {
    background-color:#ff0075;
}

.topborder {
    background-color:#ff0075;
}

.leftborder {
    background-color:#ff0075;
}

.text{
    color: #ff0075;
}

.home a {
    text-shadow: 0 0 12px #ff0075, 0 0 20px #ff0075;
}

.prev a {
    text-shadow: 0 0 12px #ff0075, 0 0 20px #ff0075;
}

.next a {
    text-shadow: 0 0 12px #ff0075, 0 0 20px #ff0075;
}

#play {
    fill: #ff0075;
}

