
body {
    background-color: #ed2dce;
}

.bottomborder {
    background-color:#ed2dce;
}

.rightborder {
    background-color:#ed2dce;
}

.topborder {
    background-color:#ed2dce;
}

.leftborder {
    background-color:#ed2dce;
}

.text{
    color: #ed2dce;
}

.home a {
    text-shadow: 0 0 12px #ed2dce, 0 0 20px #ed2dce;
}

.prev a {
    text-shadow: 0 0 12px #ed2dce, 0 0 20px #ed2dce;
}

.next a {
    text-shadow: 0 0 12px #ed2dce, 0 0 20px #ed2dce;
}

#play {
    fill: #ed2dce;
}

