@font-face {
    font-family: 'bluuitalic';
    src: url('../fonts/bluunext-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/bluunext-bolditalic-webfont.woff') format('woff'),
         url('../fonts/bluunext-bolditalic.ttf') format('truetype'),
         url('../fonts/bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'circular-book';
    src: url('../fonts/circular-book.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

* {
	margin:0;
  cursor: url('../assets/arrow.png'), default;
}

body {
background: white;
}

/*Nav*/

.topnav {
    z-index:100;
    background-color: transparent;
    position: fixed;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 60px;
}

.topnav p {
    display: block;
    color: white;
    text-align: left;
    font-size: 2.5rem;
    font-family: 'bluuitalic'; 
    text-shadow: 
    black 0px 0px 1.5px,   
    black 0px 0px 1.5px,   
    black 0px 0px 1.5px,
    black 0px 0px 1.5px,   
    black 0px 0px 1.5px,   
    black 0px 0px 1.5px;
    font-smoothing: antialiased;
    margin:0px;
    letter-spacing: .05em;
}

.topnav a{
  text-decoration: none;
  color:white;
}

.topnav a:hover{
    text-shadow: 
   #0ad336 0px 0px 1px,   
    #0ad336 0px 0px 1px,   
    #0ad336 0px 0px 1px,
    #0ad336 0px 0px 1px,   
    #0ad336 0px 0px 1px,   
    #0ad336 0px 0px 1px;
    font-smoothing: antialiased;
}

/*Links*/

.links {
padding-top: 110px;
padding-bottom: 90px;
z-index: 5;
}

.links a{
  z-index: 10;
  position: relative;
  color:black;
}

.links a:hover {
  color:#0ad336;
}

.sketches {
  margin:0 auto;
  display: block;
  font-size: 7rem;
  font-family:'bluuitalic';
  text-align: left;
  line-height:1.5em;
  padding-top: 20px;
  padding-left: 90px;
  padding-right: 30px;
  color:black;
}

/*Popup*/

/* Outer */
.popup {
z-index: 100;
width:100vw;
height:100vh;
display:none;
position: absolute;
top:0px;
left:0px;
}

.popup-inner {
  width:700px;
  float:right;
  position: relative;
}

.popup-inner img{
  width:700px;
  position: absolute;
}

.popup-inner p{
  width:400px;
  padding:15px;
  background-color: white;
  color: black;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'circular-book', sans-serif;
  outline-width: 2px;
  outline-color: black;
  outline-style: solid;
  top:60px;
  right:90px;
  position: absolute;
  z-index:16;
}

/* Close Button */

.popup-inner a{
font-size:8rem;
font-family: 'bluuitalic';
text-decoration: none;
color:white;
text-shadow: 
black 0px 0px 2.5px,   
black 0px 0px 2.5px,   
black 0px 0px 2.5px,
black 0px 0px 2.5px,   
black 0px 0px 2.5px,   
black 0px 0px 2.5px;
}

.popup-inner a:hover{
color:white;
text-shadow: 
#0ad336 0px 0px 2.5px,   
#0ad336 0px 0px 2.5px,   
#0ad336 0px 0px 2.5px,
#0ad336 0px 0px 2.5px,   
#0ad336 0px 0px 2.5px,   
#0ad336 0px 0px 2.5px;
}

.popup-close {
width:90px;
position:absolute;
top:320px;
left:580px;
}

/*Icons*/

.blendicon img{
  width:110px;  
  z-index: 12;
  position: absolute;
  margin-left: 240px;
  margin-top:-170px;
}

.metoo img{
  width:110px;  
  z-index: 1;
  position: absolute;
  margin-left: 800px;
  margin-top:-180px;
}

.dogs img {
  width:90px;  
  z-index: 12;
  position: absolute;
  margin-left: 100px;
  margin-top:-160px;
}

.key img {
  width:120px;  
  z-index: 1;
  position: absolute;
  margin-left: 810px;
  margin-top:-80px;
}

.nips img {
  width:100px;  
  z-index: 1;
  position: absolute;
  margin-left: 210px;
  margin-top:-270px;
}




