@font-face {
    font-family: 'bluuitalic';
    src: url('../fonts/bluunext-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/bluunext-bolditalic-webfont.woff') format('woff'),
         url('../fonts/bluunext-bolditalic.ttf') format('truetype'),
         url('../fonts/bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'circular-book';
    src: url('../fonts/circular-book.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

* {
	margin:0;
  cursor: url('../assets/arrow.png'), default;
}

body {
background: white;
cursor: url('../assets/arrow.png'), default;
}

/*Nav*/

.topnav {
    z-index:100;
    background-color: transparent;
    position: fixed;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 60px;
}

.topnav p {
    display: block;
    color: white;
    text-align: left;
    font-size: 2.5rem;
    font-family: 'bluuitalic'; 
    text-shadow: 
    #0c1e3d 0px 0px 1.5px,   
    #0c1e3d 0px 0px 1.5px,   
    #0c1e3d 0px 0px 1.5px,
    #0c1e3d 0px 0px 1.5px,   
    #0c1e3d 0px 0px 1.5px,   
    #0c1e3d 0px 0px 1.5px;
    font-smoothing: antialiased;
    margin:0px;
    letter-spacing: .05em;
}

.topnav a{
  text-decoration: none;
  color:white;
}

.topnav a:hover{
    text-shadow: 
   #0ad336 0px 0px 1px,   
    #0ad336 0px 0px 1px,   
    #0ad336 0px 0px 1px,
    #0ad336 0px 0px 1px,   
    #0ad336 0px 0px 1px,   
    #0ad336 0px 0px 1px;
    font-smoothing: antialiased;
}

/*Links*/

.links {
min-width: 850px;
padding-top: 110px;
padding-bottom: 90px;
z-index: 5;
cursor: url('../assets/arrow.png'), default;
}

.links a{
  z-index: 10;
  position: relative;
  color:#0c1e3d;
  cursor: url('../assets/arrow.png'), default;
}

.links a:hover {
  color:#0ad336;
  cursor: url('../assets/arrow.png'), default;
}

.sketches {
  margin:0 auto;
  display: block;
  font-size: 7rem;
  font-family:'bluuitalic';
  text-align: left;
  line-height:1.5em;
  padding-top: 20px;
  padding-left: 90px;
  padding-right: 30px;
  color:black;
}

/*Popup*/

/* Outer */
.popup {
z-index: 100;
width:100vw;
height:100vh;
display:none;
position: absolute;
top:0px;
left:0px;
}

.popup-inner {
  width:700px;
  float:right;
  position: relative;
}

.popup-inner-active{
display: none;
}


.popup-inner img{
  width:700px;
  position: absolute;
  cursor: url('../assets/smallx.png'), default;
}

.popup-inner p{
  width:400px;
  padding:15px;
  background-color: white;
  color: #0c1e3d;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'circular-book', sans-serif;
  outline-width: 2px;
  outline-color: #0c1e3d;
  outline-style: solid;
  top:60px;
  right:90px;
  position: absolute;
  z-index:16;
  cursor: url('../assets/smallx.png'), default;
}

/*2017 collages popups*/

#aug {
  transform:translate(-30px,420px);
  width:550px;
}

#oct {
  transform:translate(-170px,100px);
  width:750px;
}

#trump {
  transform:translate(-500px,280px);
  width:550px;
}

#celebtext p{
  top:380px;
  right:870px;
}

#collageclose.popup-close{
  top:00px;
  left:540px;
}

/*amalgamation popups*/

#code2 {
  transform:translate(-30px,420px);
  width:390px;
  cursor: url('../assets/smallxwhite.png'), default;
}

#blends1 {
  transform:translate(-200px,480px);
  width:450px;
  cursor: url('../assets/smallxwhite.png'), default;
}

#blends3 {
  transform:translate(100px,180px);
  width:450px;
  cursor: url('../assets/smallxwhite.png'), default;
}

#blends4 {
  transform:translate(200px,410px);
  width:450px;
  cursor: url('../assets/smallxwhite.png'), default;
}

#blends2 {
  transform:translate(-300px,80px);
  width:450px;
  cursor: url('../assets/smallxwhite.png'), default;
}

#blendtext p{
  top:130px;
  right:300px;
}

#closeblends.popup-close{
  top:390px;
  left:-340px;
}

/*type fish popups*/

#fishzoom2 {
  transform:translate(-100px,70px);
  width:390px;
}

#fishspread {
  transform:translate(-300px,180px);
  width:750px;
}

#fishzoom {
  transform:translate(100px,180px);
  width:450px;
}

#fisheye {
  transform:translate(-450px,370px);
  width:450px;
}

#fishtext p{
  top:330px;
  right:300px;
}

#fishclose.popup-close{
  top:110px;
  left:-300px;
}

/*pattern popups*/

#pattern1 {
  transform:translate(-560px,420px);
  width:550px;
}

#pattern2 {
  transform:translate(10px,240px);
  width:550px;
}

#pattern3 {
  transform:translate(-30px,620px);
  width:550px;
}

#pattern5 {
  transform:translate(-200px,780px);
  width:550px;
}

#pattern4 {
  transform:translate(100px,480px);
  width:550px;
}

#finalpattern {
  transform:translate(-500px,610px);
  width:550px;
}

#patternkey {
  transform:translate(-300px,350px);
  width:400px;
}

#patterntext p{
  top:530px;
  right:300px;
}

#patternclose.popup-close{
  top:650px;
  left:490px;
}

/*free the nips*/

#cancel {
  transform:translate(-600px,480px);
  width:850px;
}

#CAN {
  transform:translate(10px,380px);
  width:550px;
}

#NO {
  transform:translate(200px,750px);
  width:400px;
}

#nips {
  transform:translate(120px,940px);
  width:150px;
}

#nipmerge {
  transform:translate(-300px,350px);
  width:200px;
}

#niptext p{
  top:980px;
  right:600px;
}

#nipclose.popup-close{
  top:650px;
  left:490px;
}

/* Close Button */

.popup-inner a{
font-size:8rem;
font-family: 'bluuitalic';
text-decoration: none;
color:white;
text-shadow: 
#0c1e3d 0px 0px 2.5px,   
#0c1e3d 0px 0px 2.5px,   
#0c1e3d 0px 0px 2.5px,
#0c1e3d 0px 0px 2.5px,   
#0c1e3d 0px 0px 2.5px,   
#0c1e3d 0px 0px 2.5px;
}

.popup-inner a:hover{
color:white;
text-shadow: 
#0ad336 0px 0px 2.5px,   
#0ad336 0px 0px 2.5px,   
#0ad336 0px 0px 2.5px,
#0ad336 0px 0px 2.5px,   
#0ad336 0px 0px 2.5px,   
#0ad336 0px 0px 2.5px;
}

.popup-close {
width:90px;
position:absolute;
top:320px;
left:580px;
}

/*Icons*/

.blendicon img{
  width:110px;  
  z-index: 1;
  position: absolute;
  left: 240px;
  top:150px;
}

.metoo img{
  width:180px;  
  z-index: 12;
  position: absolute;
  left: 800px;
  top:280px;
}

.typefish img {
  width:100px;  
  z-index: 100;
  position: absolute;
  left: 35px;
  top:635px;
  transition: all 3s ease;
}

.nips img {
  width:100px;  
  z-index: 1;
  position: absolute;
  left: 610px;
  top:710px;
}

.key img {
  width:120px;  
  z-index: 1;
  position: absolute;
  left: 810px;
  top:995px;
}

.typefish-active {
  transform: translate(850px, -100px);
}

@media screen and (max-width: 1275px) {
.key img{
  top:1160px;
}
}

@media screen and (max-width: 996px) {
.key img{
  top:1335px;
}

.nips img{
  top:870px;
}
}

@media screen and (max-width: 948px) {
.key img{
  top:1495px;
}

.nips img{
  top:1030px;
}

.metoo img{
  left: 270px;
  top:370px;
}

.typefish img {
  top:835px;
}
}

@media screen and (max-width: 933px) {
.nips img{
  top:1220px;
}
}

@media screen and (max-width: 903px) {
.nips img{
  left:250px;
}
.key img{
  top:1675px;
}
}

@media screen and (max-width: 871px) {
.key img{
  top:1840px;
  left:440px;
}
}
