
body {
    background-color: #ff0a6c;
}

.bottomborder {
    background-color:#ff0a6c;
}

.rightborder {
    background-color:#ff0a6c;
}

.topborder {
    background-color:#ff0a6c;
}

.leftborder {
    background-color:#ff0a6c;
}

.text{
    color: #ff0a6c;
}

.home a {
    text-shadow: 0 0 2px #ff0a6c, 0 0 6px #ff0a6c, 0 0 10px #ff0a6c;
}

.prev a {
    text-shadow: 0 0 2px #ff0a6c, 0 0 6px #ff0a6c, 0 0 10px #ff0a6c;
}

.next a {
    text-shadow: 0 0 2px #ff0a6c, 0 0 6px #ff0a6c, 0 0 10px #ff0a6c;
}

#play {
    fill: #ff0a6c;
}

