@font-face {
font-family: 'Titling Gothic FB ExtendedMedi';
src: url('Titling Gothic FB ExtendedMedi.otf'); /* IE9 Compat Modes */
src: url('Titling Gothic FB ExtendedMedi.otf') format('embedded-opentype'), /* IE6-IE8 */
url('Titling Gothic FB ExtendedMedi.otf') format('woff'), /* Modern Browsers */
url('Titling Gothic FB ExtendedMedi.otf') format('truetype'), /* Safari, Android, iOS */
url('Titling Gothic FB ExtendedMediotf#svgFontName') format('svg'); /* Legacy iOS */}


* {
	margin:0;
}

body {
  background: black;
	font-family: 'Titling Gothic FB ExtendedMedi'
}

p {
    font-size: 6rem;
    font-family:'Titling Gothic FB ExtendedMedi';
    color:#fffa00;
    margin: 50px;
    text-align: left;
    line-height: 1em;
}