
body {
    background-color: #262c2c;
}

.bottomborder {
    background-color:#262c2c;
}

.rightborder {
    background-color:#262c2c;
}

.topborder {
    background-color:#262c2c;
}

.leftborder {
    background-color:#262c2c;
}

.text{
    color: #262c2c;
}

.home a {
    text-shadow: 0 0 2px #262c2c, 0 0 6px #262c2c, 0 0 10px #262c2c;
}

.prev a {
    text-shadow: 0 0 2px #262c2c, 0 0 6px #262c2c, 0 0 10px #262c2c;
}

.next a {
    text-shadow: 0 0 2px #262c2c, 0 0 6px #262c2c, 0 0 10px #262c2c;
}

#play {
    fill: #262c2c;
}

