#lovespell :hover{
  color:#9028b1;
}
#makeout :hover{
  color:#72200d;
}
#sweetpea :hover{
  color:#e90e7d;
}
#skinsosoft :hover{
  color:#048088;
}
#santal :hover{
  color:#8e6b4f;
}
#celebrity :hover{
  color:#e000a0;
}
#be_delicious :hover{
  color:#a4c900;
}
#baccarat :hover{
  color:#ff2f00;
}
#white_musk :hover{
  color:#8538e4;
}
#designer_imposter :hover{
  color:#f14e53;
}
#shalimar :hover{
  color:#2b1ad3;
}
#funeral_home :hover{
  color:#262c2c;
}
#happy :hover{
  color:#5b7fd5;
}
#ghost :hover{
  color:#443c2a;
}
#daisy :hover{
  color:#255244;
}
#fierce :hover{
  color:#9d8b80;
}
#white_shoulders :hover{
  color:#38ebe2;
}
#loves_baby_soft :hover{
  color:#e90495;
}
#forbidden_rose :hover{
  color:#c8327b;
}
#jean_nate :hover{
  color:#716dcc;
}
#curve :hover{
  color:#7fa30f;
}
#parfums_juice_bar :hover{
  color:#0094d4;
}
#heaven :hover{
  color:#39b1af;
}
#opium :hover{
  color:#65314d;
}
#unspoken :hover{
  color:#007775;
}
#exclamation :hover{
  color:#ff1100;
}
#warm_vanilla_sugar :hover{
  color:#ffa531;
}
#cool :hover{
  color:#4fcdf8;
}
#ck_one :hover{
  color:#928991;
}
#secretions :hover{
  color:#f22d0f;
}
#electric_youth :hover{
  color:#fc03f4;
}
#sunflowers :hover{
  color:#fcba03;
}
#red_jeans :hover{
  color:#c90022;
}
#bottled_emotions :hover{
  color:#ff5533;
}
#blue_waltz :hover{
  color:#f6655f;
}
#pink_sugar :hover{
  color:#ed2dce;
}
#relique :hover{
  color:#c08145;
}
#cool_water :hover{
  color:#0091fc;
}
#m :hover{
  color:#7610cc;
}
#angel :hover{
  color:#a949c7;
}
#halston :hover{
  color:#8b67ce;
}
#chypre :hover{
  color:#b39f42;
}
#sweet :hover{
  color:#e33323;
}
#fetish :hover{
  color:#104bcb;
}
#knowing_pleasures :hover{
  color:#ae7ff0;
}
#amazing_grace :hover{
  color:#5ea1e8;
}
#giorgio :hover{
  color:#0060d3;
}
#le_male :hover{
  color:#1685a8;
}
#nordic_cedar :hover{
  color:#689591;
}
#liz_claiborne :hover{
  color:#3d2fe6;
}
#green_tea :hover{
  color:#4c5c3f;
}
#aromatics_elixr :hover{
  color:#c8660b;
}
#loulou :hover{
  color:#2762be;
}
#coffret_anniversaire :hover{
  color:#a202c8;
}
#bleue :hover{
  color:#56acd9;
}
#vanilla_fields :hover{
  color:#36914d;
}
#charlie :hover{
  color:#d87112;
}
#teisenddu :hover{
  color:#e16d2c;
}
#cabotine :hover{
  color:#a8a500;
}
#amber :hover{
  color:#bd652a;
}
#drakkar_noir :hover{
  color:#121212;
}
#vvv :hover{
  color:#44687c;
}
#lair_du_temps :hover{
  color:#c1582b;
}
#signature :hover{
  color:#cb9536;
}
#marykate_ashley :hover{
  color:#f300d8;
}
#hai_karate :hover{
  color:#a8661a;
}
#remember_me :hover{
  color:#655d24;
}
#cucumber_melon :hover{
  color:#83a84b;
}
#brit :hover{
  color:#39a598;
}
#marocain :hover{
  color:#1637f5;
}
#tinkerbell :hover{
  color:#3195d1;
}
#fahrenheit :hover{
  color:#f85e38;
}
#country_apple :hover{
  color:#e0707a;
}
#devotion :hover{
  color:#5e63c1;
}
#poison :hover{
  color:#0af5a3;
}
#jovan_musk :hover{
  color:#ab8b3c;
}

#bijan :hover{
  color:#03fc45;
}
#beverly_hills :hover{
  color:#ff0075;
}
#joy :hover{
  color:#ff546e;
}
#downtown_girl :hover{
  color:#4cbcc1;
}

#fantasy :hover{
  color:#ff00b7;
}

#pear_glace :hover{
  color:#a9d651;
}

#tommy_girl :hover{
  color:#335577;
}

#juice :hover{
  color:#fc03ec;
}

#princess :hover{
  color:#ca39e0;
}

#youth_dew :hover{
  color:#e84c01;
}

#obsession :hover{
  color:#e61c06;
}

#japanese_cherry :hover{
  color:#9a0021;
}

#leau_dissey :hover{
  color:#0076f1;
}

#jessica_mcclintock :hover{
  color:#d3ae19;
}

#white_diamonds :hover{
  color:#f49701;
}

#tribe :hover{
  color:#08dbe4;
}

#cashmere_mist :hover{
  color:#eab619;
}

#grey_flannel :hover{
  color:#a6929d;
}

#lucky_you :hover{
  color:#e8676c;
}

#candies :hover{
  color:#f1462f;
}

#juicy :hover{
  color:#ff0a6c;
}

#ralph :hover{
  color:#00d9d2;
}

#paris_hilton :hover{
  color:#ff745d;
}

#ralph :hover{
  color:#a6929d;
}

#sun-ripened_raspberry :hover{
  color:#d443c6;
}

#grass :hover{
  color:#dcbc03;
}

#joop :hover{
  color:#5e2943;
}

#blazin_blueberry :hover{
  color:#4554eb;
}

#rush :hover{
  color:#f5301d;
}

#plumeria :hover{
  color:#eb4e09;
}

#pi :hover{
  color:#2bc062;
}

#polo_sport :hover{
  color:#5076c1;
}

#signature_cotton_candy :hover{
  color:#ff52c0;
}

#candy :hover{
  color:#fb5a2e;
}

#touch_of_pink :hover{
  color:#ff2e96;
}

#ralph_hot :hover{
  color:#cd0bdb;
}

#nature :hover{
  color:#a963b9;
}

#rap_musk :hover{
  color:#e4138b;
}

#free_wave :hover{
  color:#524942;
}

#polo_sport2 :hover{
  color:#07158f;
}

#hanae_mori :hover{
  color:#d88c00;
}

#sensual_amber :hover{
  color:#cd5229;
}

#paloma_picasso :hover{
  color:#ea3e11;
}

#acqua_di_gio :hover{
  color:#705e50;
}

#babe :hover{
  color:#f06718;
}

#cotton_candy :hover{
  color:#008b9e;
}

#ed_hardy :hover{
  color:#ff2eb2;
}

#free_fall :hover{
  color:#775ae8;
}

#malibu_musk :hover{
  color:#0be6df;
}

#om :hover{
  color:#f5ab49;
}

/*may21,2022*/

#lolita_lempicka :hover{
  color:#8e6fdf;
}

#oilily_classic :hover{
  color:#ed4a43;
}

#cult_celebrity :hover{
  color:#ed2967;
}

#juniper_breeze :hover{
  color:#2876d5;
}

#strawberries_and_champagne :hover{
  color:#d42b2f;
}

#dream :hover{
  color:#d47c95;
}

#casual :hover{
  color:#7155bb;
}

#magnestism :hover{
  color:#e91b6d;
}

#friday :hover{
  color:#e91f2b;
}

#freesia :hover{
  color:#286549;
}

#envy :hover{
  color:#e48089;
}

#roxy :hover{
  color:#ce88d0;
}

#fizzy :hover{
  color:#dd0090;
}

#wlove :hover{
  color:#f2af00;
}

#flowerbomb :hover{
  color:#ef58bf;
}

#guesswomen :hover{
  color:#de5fc6;
}

#tendre :hover{
  color:#c920a7;
}

#first :hover{
  color:#341f6e;
}




