* { 
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: IKANSEEYOUALL-Web;
    src: url("fonts/IKANSEEYOUALL-Web.ttf") format("truetype");
}

@font-face {
    font-family: SuisseIntl-Regular;
    src: url("fonts/SuisseIntl-Regular.otf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: SuisseIntl-RegularItalic;
    src: url("fonts/SuisseIntl-RegularItalic.otf") format("opentype");
    font-style: italic;
}

body::-webkit-scrollbar {
    display: none;
}

.image{
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 10;
    position: fixed;
    height:100vh;
}

.image img{
    width:160vw;
}


.title h1{
  font-family:IKANSEEYOUALL-Web;
    text-align: center;
    margin: 0 auto;
    font-size: 12vw;
    line-height:.95;
    color:white;
    text-shadow: 0 0 20px white, 0 0 50px white, 0 0 70px white;
    z-index: 100;
    padding-top:80px;
}

.title p{
    display: none;
}

.about {
  position: fixed;
  text-align: left;
  left:30px;
  z-index: 200;
  top:25px;
}

.about a{
    font-family: IKANSEEYOUALL-Web;
    font-size: 2.1rem;
    color: white;
    text-shadow:0 0 2px white, 0 0 12px white, 0 0 20px white;
    text-decoration: none;
    text-align: left;
}

.interviews {
  position: fixed;
  text-align: right;
  top:25px;
  right:30px;
  z-index: 200;
}

.interviews a{
    font-family: IKANSEEYOUALL-Web;
    font-size: 2.1rem;
    color: white;
    text-shadow:0 0 2px white, 0 0 12px white, 0 0 20px white;
    text-decoration: none;
    text-align: left;
}

.links {
    padding-top: 10px;
    text-align: center;
    z-index: 180;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
}

.links a{
    font-family: SuisseIntl-Regular;
    font-size: 6rem;
    line-height: 1.25;
    color: white;
    text-shadow:0 0 2px white, 0 0 12px white, 0 0 20px white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

}

.links a:hover{
    font-family:IKANSEEYOUALL-Web;
    text-transform: none;
}

.bottomborder {
    height: 10px;
    width:100vw;
    background-color:white;
    position: fixed;
    bottom:0px;
    z-index: 500;
}

.leftborder {
    height: 100vh;
    width:10px;
    background-color:white;
    position: fixed;
    left:0px;
    z-index: 500;
}

.rightborder {
    height: 100vh;
    width:10px;
    background-color:white;
    position: fixed;
    right:0px;
    z-index: 500;
}

/*/* iPad ----------- */


@media screen and (max-width: 780px) {

.links a{
    font-size: 4rem;
    line-height: 1.25;
}

/*/* Smartphones (portrait) ----------- */

@media screen and (max-width: 600px) {

.image img{
    width:200vh;
}

.title h1{
    font-size: 15vw;
    text-shadow: 0 0 5px white, 0 0 20px white, 0 0 40px white;
}

.links {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.links a{
    font-size: 1.75rem;
    line-height: 1.25;
    text-shadow:0 0 1px white, 0 0 5px white;
}

.about a{
    font-size: 1.5rem;
}

.interviews a{
    font-size: 1.5rem;
}
}

