
body {
    background-color: #fc03f4;
}

.bottomborder {
    background-color:#fc03f4;
}

.rightborder {
    background-color:#fc03f4;
}

.topborder {
    background-color:#fc03f4;
}

.leftborder {
    background-color:#fc03f4;
}

.text{
    color: #fc03f4;
}

.home a {
    text-shadow: 0 0 12px #fc03f4, 0 0 20px #fc03f4;
}

.prev a {
    text-shadow: 0 0 12px #fc03f4, 0 0 20px #fc03f4;
}

.next a {
    text-shadow: 0 0 12px #fc03f4, 0 0 20px #fc03f4;
}

#play {
    fill: #fc03f4;
}

