
body {
    background-color: #cd5229;
}

.bottomborder {
    background-color:#cd5229;
}

.rightborder {
    background-color:#cd5229;
}

.topborder {
    background-color:#cd5229;
}

.leftborder {
    background-color:#cd5229;
}

.text{
    color: #cd5229;
}

.home a {
    text-shadow: 0 0 2px #cd5229, 0 0 6px #cd5229, 0 0 10px #cd5229;
}

.prev a {
    text-shadow: 0 0 2px #cd5229, 0 0 6px #cd5229, 0 0 10px #cd5229;
}

.next a {
    text-shadow: 0 0 2px #cd5229, 0 0 6px #cd5229, 0 0 10px #cd5229;
}

#play {
    fill: #cd5229;
}

