body {
    background-color: #f49701;
}

.bottomborder {
    background-color:#f49701;
}

.rightborder {
    background-color:#f49701;
}

.topborder {
    background-color:#f49701;
}

.leftborder {
    background-color:#f49701;
}

.text{
    color: #f49701;
}

.home a {
    text-shadow: 0 0 2px #f49701, 0 0 6px #f49701, 0 0 10px #f49701;
}

.prev a {
    text-shadow: 0 0 2px #f49701, 0 0 6px #f49701, 0 0 10px #f49701;
}

.next a {
    text-shadow: 0 0 2px #f49701, 0 0 6px #f49701, 0 0 10px #f49701;
}

#play {
    fill: #f49701;
}

