@font-face {
font-family: 'SportingGrotesque-Bold';
src: url('../fonts/SportingGrotesque-Bold.otf'); /* IE9 Compat Modes */
src: url('../fonts/SportingGrotesque-Bold.otf') format('embedded-opentype'), /* IE6-IE8 */
url('../fonts/SportingGrotesque-Bold.otf') format('woff'), /* Modern Browsers */
url('../fonts/SportingGrotesque-Bold.otf') format('truetype'), /* Safari, Android, iOS */
url('../fonts/SportingGrotesque-Bold.otf') format('svg'); /* Legacy iOS */}

@font-face {
font-family: 'SportingGrotesque-Regular';
src: url('../fonts/SportingGrotesque-Regular.otf'); /* IE9 Compat Modes */
src: url('../fonts/SportingGrotesque-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
url('../fonts/SportingGrotesque-Regular.otf') format('woff'), /* Modern Browsers */
url('../fonts/SportingGrotesque-Regular.otf') format('truetype'), /* Safari, Android, iOS */
url('../fonts/SportingGrotesque-Regular.otf') format('svg'); /* Legacy iOS */}

* {
  margin:0;
}

body {
background: #a8a8a8;
}

.topnav {
    z-index:100;
    background-color: transparent;
    position: fixed;
    padding-left: 200px;
    padding-bottom: 50px;

}

.topnav p {
    display: block;
    color: black;
    text-align: left;
    font-size: 1rem;
    font-family: 'SportingGrotesque-Bold'; 
    margin:0px;
    letter-spacing: .1em;
    text-decoration: overline;
    padding-top: 40px;

}

.designwork {
  z-index: 1;
  margin:0 auto;
  float: left;
  display: block;
  padding-top: 90px;
  }

.designwork p {
    font-size: 2rem;
    font-family:'SportingGrotesque-Regular';
    text-align: left;
    line-height:1.45em;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 90px;
    padding-right: 30px;
}

.designwork a{
  color:black;
}

a:hover{
  color:#ff4635;
  cursor: url('assets/bombsmall.png'), default;
}

.topnav a{
  text-decoration: none;
  color: black;
}

a:hover{
  color:#ff4635;
  cursor: url('assets/bombsmall.png'), default;
}

@media screen and (max-width: 904px) {
  * {cursor: url('assets/cellphone.png'), default;
}
}




