@font-face {
    font-family: 'bluuitalic';
    src: url('fonts/bluunext-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/bluunext-bolditalic-webfont.woff') format('woff'),
         url('fonts/bluunext-bolditalic.ttf') format('truetype'),
         url('fonts/bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

* {
  margin:0;
  cursor: url('assets/arrow.png'), default;
}

body {
background: white;
}

.topnav {
    z-index:100;
    background-color: transparent;
    position: fixed;
    padding-left: 200px;
    padding-bottom: 50px;

}

.topnav p {
    display: block;
    color: rgb(1, 168, 57);
    text-align: left;
    font-size: 1rem;
    font-family: 'bluuitalic'; 
    margin:0px;
    letter-spacing: .1em;
    text-decoration: overline;
    padding-top: 40px;

}

.designwork {
  z-index: 1;
  margin:0 auto;
  float: left;
  display: block;
  padding-top: 110px;
  }

.designwork p {
    float:left;
    font-size: 3.5rem;
    color:rgb(1, 168, 57);
    font-family:'bluuitalic';
    text-align: left;
    line-height:1.5em;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 90px;
}

.designwork a{
  color:rgb(1, 168, 57);
}

.topnav a{
  text-decoration: none;
  color: black;
}

a:hover{
  color:#ff4635;
}

@media screen and (max-width: 904px) {
 a:hover {cursor: url('assets/cellphone.png'), default;
}
}


