@font-face {
font-family: 'SportingGrotesque-Bold';
src: url('fonts/SportingGrotesque-Bold.otf'); /* IE9 Compat Modes */
src: url('fonts/SportingGrotesque-Bold.otf') format('embedded-opentype'), /* IE6-IE8 */
url('fonts/SportingGrotesque-Bold.otf') format('woff'), /* Modern Browsers */
url('fonts/SportingGrotesque-Bold.otf') format('truetype'), /* Safari, Android, iOS */
url('fonts/SportingGrotesque-Bold.otf') format('svg'); /* Legacy iOS */}

@font-face {
font-family: 'SportingGrotesque-Regular';
src: url('fonts/SportingGrotesque-Regular.otf'); /* IE9 Compat Modes */
src: url('fonts/SportingGrotesque-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
url('fonts/SportingGrotesque-Regular.otf') format('woff'), /* Modern Browsers */
url('fonts/SportingGrotesque-Regular.otf') format('truetype'), /* Safari, Android, iOS */
url('fonts/SportingGrotesque-Regular.otf') format('svg'); /* Legacy iOS */}

* {
  margin:0;
  cursor: url('assets/arrow.png'), default;
}

body {
background: white;
}

.topnav {
    z-index:100;
    background-color: transparent;
    position: fixed;
    padding-left: 200px;
    padding-bottom: 50px;

}

.topnav p {
    display: block;
    color: rgb(1, 168, 57);
    text-align: left;
    font-size: 1rem;
    font-family: 'SportingGrotesque-Bold'; 
    margin:0px;
    letter-spacing: .1em;
    text-decoration: overline;
    padding-top: 40px;

}

.designwork {
  z-index: 1;
  margin:0 auto;
  float: left;
  display: block;
  padding-top: 110px;
  }

.designwork p {
    float:left;
    font-size: 3.25rem;
    color:rgb(1, 168, 57);
    font-family:'SportingGrotesque-Regular';
    text-align: left;
    line-height:1.5em;
    letter-spacing: 1em;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 90px;
}

.designwork a{
  color:rgb(1, 168, 57);
}

.topnav a{
  text-decoration: none;
  color: black;
}

a:hover{
  color:#ff4635;
  cursor: url('assets/bombsmall.png'), default;
}

@media screen and (max-width: 904px) {
 a:hover {cursor: url('assets/cellphone.png'), default;
}
}


