* {
	margin:0;
  display: inline-block;
}

body {
background-image: url("images/stars2.gif");
background-color: black;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
}

.card {
  border-radius: 25px;
  border: 2px solid #73AD21;
  width: 80vw;
  height: 90vh;  
  position: fixed;
  margin: 0 auto;
}

.bethany img{
  position: absolute;
  top:100px;
  width:200px;
  left:30px;
}

.images img{
  width:20vw;
}

.logo {
  top:30px;
  left:20px;
  position: absolute;
}

.logo img{
  width:200px;
}

.starplanet img{
  width:600px;
}

.identity {
  margin-left: 20vw;
}

.identity img{
  width:150px;
 margin: 0, auto;
}

.identity img {
  animation: rotation 8s infinite linear;
}

.identity img:hover {
  transform: rotate(350deg);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotate360 {
  to { transform: rotate(360deg); }
}
.identity img:first-of-type { animation: 5s rotate360 infinite linear; }
.identity img:nth-of-type(2) { animation: 7.5s rotate360 infinite linear; }

.identity img:nth-of-type(4) { animation: 6s rotate360 infinite linear; }
.identity img:nth-of-type(5) { animation: 4.5s rotate360 infinite linear; }

.identity img:nth-of-type(7) { animation: 6.5s rotate360 infinite linear; }
.identity img:nth-of-type(8) { animation: 8s rotate360 infinite linear; }

.identity img:nth-of-type(10) { animation: 5s rotate360 infinite linear; }
.identity img:nth-of-type(11) { animation: 7.5s rotate360 infinite linear; }

.identity img:nth-of-type(13) { animation: 6.5s rotate360 infinite linear; }
.identity img:nth-of-type(14) { animation: 5s rotate360 infinite linear; }

.identity img:nth-of-type(16) { animation: 5s rotate360 infinite linear; }
.identity img:nth-of-type(17) { animation: 7s rotate360 infinite linear; }

.identity img:nth-of-type(19) { animation: 6s rotate360 infinite linear; }
.identity img:nth-of-type(20) { animation: 8s rotate360 infinite linear; }

.identity img:nth-of-type(22) { animation: 7.5s rotate360 infinite linear; }
.identity img:nth-of-type(23) { animation: 5.5s rotate360 infinite linear; }

.identity img:nth-of-type(25) { animation: 8s rotate360 infinite linear; }
.identity img:nth-of-type(26) { animation: 4.5s rotate360 infinite linear; }