
body {
    background-color: #2762be;
}

.bottomborder {
    background-color:#2762be;
}

.rightborder {
    background-color:#2762be;
}

.topborder {
    background-color:#2762be;
}

.leftborder {
    background-color:#2762be;
}

.text{
    color: #2762be;
}

.home a {
    text-shadow: 0 0 12px #2762be, 0 0 20px #2762be;
}

.prev a {
    text-shadow: 0 0 12px #2762be, 0 0 20px #2762be;
}

.next a {
    text-shadow: 0 0 12px #2762be, 0 0 20px #2762be;
}

#play {
    fill: #2762be;
}

/*/* Smartphones (portrait) ----------- */

@media screen and (max-width: 1036px) {
.perfume{
    background-color: #2762be;
}

body {
    background-color: #2762be;
}

h1{
    text-shadow:0 0 12px #2762be, 0 0 20px #2762be;
}