
body {
    background-color: #2762be;
}

.bottomborder {
    background-color:#2762be;
}

.rightborder {
    background-color:#2762be;
}

.topborder {
    background-color:#2762be;
}

.leftborder {
    background-color:#2762be;
}

.text{
    color: #2762be;
}

.home a {
    text-shadow: 0 0 2px #2762be, 0 0 6px #2762be, 0 0 10px #2762be;
}

.prev a {
    text-shadow: 0 0 2px #2762be, 0 0 6px #2762be, 0 0 10px #2762be;
}

.next a {
    text-shadow: 0 0 2px #2762be, 0 0 6px #2762be, 0 0 10px #2762be;
}

#play {
    fill: #2762be;
}

