body {
	box-sizing: border-box;
	margin:0;
	background-color: white;
}

.center {
    margin: auto;
    width: 200px;
    padding-top: 200px;
}

.center img{
    margin: auto;
    width: 200px;
}

.reload button {
	padding-top: 300px;
	margin: auto;
	display: inline-block;
    font-size: 16px;
    width: 70px;
    height: 30px;
}
