body {
	box-sizing: border-box;
	margin:0;
	background-color: #f4d742;
}

.dogs {
    margin: auto;
    width: 200px;
    padding-top: 200px;
}

.dogs img{
    margin: auto;
    width: 200px;
}

.click {
  width: 150px;
  text-align: center;

}
