\*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: IKANSEEYOUALL-Web;
    src: url("../../fonts/IKANSEEYOUALL-Web.ttf") format("truetype");
}

@font-face {
    font-family: SuisseIntl-Regular;
    src: url("../../fonts/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
    font-family: SuisseIntl-RegularItalic;
    src: url("../../fonts/SuisseIntl-RegularItalic.otf") format("opentype");
}


body {
    margin: 0px;
    background-color: #4c5c3f;
}

section {
    display: flex;
}

.bottomborder {
    height: 10px;
    width:100vw;
    background-color:#4c5c3f;
    position: fixed;
    bottom:0px;
    z-index: 500;
}

.rightborder {
    height: 100vh;
    width:10px;
    background-color:#4c5c3f;
    position: fixed;
    right:0px;
    z-index: 500;
}

.topborder {
    height: 10px;
    width:100vw;
    background-color:#4c5c3f;
    position: fixed;
    top:0px;
    z-index: 500;
}

.leftborder {
    height: 100vh;
    width:10px;
    background-color:#4c5c3f;
    position: fixed;
    left:0px;
    z-index: 500;
}

.perfume{
    height: 100vh;
    position: fixed;
    background-color: white;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

}

.text{
    font-family: SuisseIntl-Regular;
    font-size: 3rem;
    line-height: 1.1;
    background: white;
    color: #4c5c3f;
    text-align: left;
    display: flex;
    overflow-y: scroll;
    padding-left: 20px;
    margin-top: 0px;
    padding-right: 20px;
    z-index: 100;
}

.text::-webkit-scrollbar {
    display: none;
}

.text p{
	margin-bottom: 10px;
}

h1{
    font-family: IKANSEEYOUALL-Web;
    font-size: 7rem;
    line-height: 1;
    margin-top: 100px;
    margin-bottom: 18px;
}

.picture {
    height: 100vh;
    margin-bottom: 20px;  
    z-index: 10;
}

.picture img{
	height: 99vh;
}

.home {
    position: fixed;
    top:20px;
    width:100vw;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
}

.home a {
	text-decoration: none;
	font-family: IKANSEEYOUALL-Web;
    font-size: 2.1rem;
    color: white;
    text-shadow: 0 0 12px #4c5c3f, 0 0 20px #4c5c3f;
}

.prev {
    position: fixed;
    top:20px;
    left:30px;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
}

.prev a {
    text-decoration: none;
    font-family: IKANSEEYOUALL-Web;
    font-size: 2.1rem;
    color: white;
    text-shadow: 0 0 12px #4c5c3f, 0 0 20px #4c5c3f;
}

.next {
    position: fixed;
    top:20px;
    right:30px;
    margin: 0 auto;
    text-align: center;
    z-index: 105;
}

.next a {
    text-decoration: none;
    font-family: IKANSEEYOUALL-Web;
    font-size: 2.1rem;
    color: white;
    text-shadow: 0 0 12px #4c5c3f, 0 0 20px #4c5c3f;
}

#play {
    height: 100px;
    fill: #4c5c3f;
}

#play { transition: all .2s ease-in-out; }
#play:hover { transform: scale(1.05); }

.text #rightarrow {
display: none;
}

.text #leftarrow {
display: none;
}


/*/* Smartphones (portrait) ----------- */

@media screen and (max-width: 1036px) {
.perfume{
	background-color: #4c5c3f;
    height: 100vh;
    position: absolute;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}


body {
    margin: 0px;
    background-color: #4c5c3f;
}

section {
    display: block;
}

.picture {
    position: absolute;
    z-index: 500;
    top:0;
    margin: 0 auto;
    text-align: center;
    z-index: 90;
}

.picture img{
width: 100%;
height: auto;


}

.text {
    font-size: 1.25em;
    line-height: 1.29;
    position: relative;
    top: 33vh;
    z-index: 400;
    overflow-y: scroll;
    background: transparent;
    z-index: 600;
    color:white;
    margin-left: 0px;
    padding-left: 20px;
    padding-bottom: 10px;
}

h1{
    font-size: 2.2rem;
    line-height: 1.15;
    color:white;
    text-shadow:0 0 12px #4c5c3f, 0 0 20px #4c5c3f;
}

.links {
  display: none;
  z-index: 1;
}

.home {
    top:4vw;
    height: 150px;
}

.home a {
    font-size: 1.5rem;
}

.bottomborder {
display: none;
}

.leftborder {
display: none;
}

.topborder {
display: none;
}

#play {
    height: 40px;
    fill:white;
}

.rightborder {
display: none;
}

.text #rightarrow { 
    height: 30px;
    fill:white;
    display:inline-block;
    position: absolute;
    right:20px;
    bottom:20px;
}

.text #leftarrow { 
    height: 30px;
    fill:white;
    display:inline-block;
    position: absolute;
    left:20px;
    bottom:20px;
}

.prev {
    display: none;
}

.next {
    display: none;
}
}

/*more specific phone queries*/



/*pixel 2xl*/
@media screen and (max-height: 824px) {
.text {
    top: 48vh;
}
}

/*iphone X*/
@media screen and (max-height: 816px) {
.text {
    top: 43vh;
}
}

/*iphone 6,7,8*/
@media screen and (max-height: 737px) {
.text {
    top: 52vh;
}
}

/*iphone 6,7,8+*/
@media screen and (max-width:415px) and (max-height: 737px) {
.text {
    top: 54vh;
}
}

/*iphone 5*/
@media screen and (max-height: 569px) {
.text {
    top: 50vh;
}
}

/*surface duo*/
@media screen and (width: 540px) and (height: 720px) {
.text {
    top: 77vh;
}
}

/*galaxy fold*/
@media screen and (width: 280px) and (height: 653px) {
.text {
    top: 35vh;
}
}

/*Pixel 2*/
@media screen and (width:411px) and (height: 731px) {
.text {
    top: 54vh;
}
}

/*galaxyS5*/
@media screen and (width:360px) and (height: 640px) {
.text {
    top: 52vh;
}
}

/*ipad pro*/
@media screen and (width:1024px) and (height: 1366px) {
.text {
    top: 84vh;
    font-size: 1.25rem;
}

.text #rightarrow { 
    height: 30px;
    bottom:22px;
}

.text #leftarrow { 
    height: 30px;
    bottom:22px;
}

#play {
    height: 60px;
    fill:white;
}

.home a {
    font-size: 2.25rem;
}

h1{
    font-size: 3.3rem;
    line-height: 1.1;
}
}

/*ipad*/
@media screen and (width:768px) and (height: 1024px) {
.text {
    top: 81vh;
    font-size: 1.25rem;
}

.home a {
    font-size: 2.25rem;
}

h1{
    font-size: 3.3rem;
    line-height: 1.1;
}
}










