
body {
    background-color: #4c5c3f;
}

.bottomborder {
    background-color:#4c5c3f;
}

.rightborder {
    background-color:#4c5c3f;
}

.topborder {
    background-color:#4c5c3f;
}

.leftborder {
    background-color:#4c5c3f;
}

.text{
    color: #4c5c3f;
}

.home a {
    text-shadow: 0 0 12px #4c5c3f, 0 0 20px #4c5c3f;
}

.prev a {
    text-shadow: 0 0 12px #4c5c3f, 0 0 20px #4c5c3f;
}

.next a {
    text-shadow: 0 0 12px #4c5c3f, 0 0 20px #4c5c3f;
}

#play {
    fill: #4c5c3f;
}

