
body {
    background-color: #e16d2c;
}

.bottomborder {
    background-color:#e16d2c;
}

.rightborder {
    background-color:#e16d2c;
}

.topborder {
    background-color:#e16d2c;
}

.leftborder {
    background-color:#e16d2c;
}

.text{
    color: #e16d2c;
}

.home a {
    text-shadow: 0 0 2px #e16d2c, 0 0 6px #e16d2c, 0 0 10px #e16d2c;
}

.prev a {
    text-shadow: 0 0 2px #e16d2c, 0 0 6px #e16d2c, 0 0 10px #e16d2c;
}

.next a {
    text-shadow: 0 0 2px #e16d2c, 0 0 6px #e16d2c, 0 0 10px #e16d2c;
}

#play {
    fill: #e16d2c;
}

