
body {
    background-color: #f1462f;
}

.bottomborder {
    background-color:#f1462f;
}

.rightborder {
    background-color:#f1462f;
}

.topborder {
    background-color:#f1462f;
}

.leftborder {
    background-color:#f1462f;
}

.text{
    color: #f1462f;
}

.home a {
    text-shadow: 0 0 12px #f1462f, 0 0 20px #f1462f;
}

.prev a {
    text-shadow: 0 0 12px #f1462f, 0 0 20px #f1462f;
}

.next a {
    text-shadow: 0 0 12px #f1462f, 0 0 20px #f1462f;
}

#play {
    fill: #f1462f;
}

