
* { 
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

.boxes {
	display: inline-block;
}

#red {
	width:100vw;
	background-color: #f90c08;
	height:100vh;
	float: left;
	position: absolute;
	animation-name: redguy;
  	animation-duration: 10s;
  	 z-index: 50;
  	 top:0px;
  	 left:-150vw;
  	 animation-iteration-count: infinite;
  	 animation-timing-function: ease-out; 
}

#blue {
	width:100vw;
	background-color: #0052f7;
	height:100vh;
	float: left;
	position: absolute;
	right:-150vw;
	  animation-name: blueguy;
  animation-duration: 10s;
  mix-blend-mode:lighten;
  z-index: 100;
  top:0px;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out; 

}

@keyframes redguy {
  0%   {left:-150%;}
  100% {left:0%;}
}

@keyframes blueguy {
  0%   {right:-150%;}
  100% {right:0%;}
}

}*/

