
body {
    background-color: #fcba03;
}

.bottomborder {
    background-color:#fcba03;
}

.rightborder {
    background-color:#fcba03;
}

.topborder {
    background-color:#fcba03;
}

.leftborder {
    background-color:#fcba03;
}

.text{
    color: #fcba03;
}

.home a {
    text-shadow: 0 0 12px #fcba03, 0 0 20px #fcba03;
}

.prev a {
    text-shadow: 0 0 12px #fcba03, 0 0 20px #fcba03;
}

.next a {
    text-shadow: 0 0 12px #fcba03, 0 0 20px #fcba03;
}

#play {
    fill: #fcba03;
}

