
body {
    background-color: #104bcb;
}

.bottomborder {
    background-color:#104bcb;
}

.rightborder {
    background-color:#104bcb;
}

.topborder {
    background-color:#104bcb;
}

.leftborder {
    background-color:#104bcb;
}

.text{
    color: #104bcb;
}

.home a {
    text-shadow: 0 0 2px #104bcb, 0 0 6px #104bcb, 0 0 10px #104bcb;
}

.prev a {
    text-shadow: 0 0 2px #104bcb, 0 0 6px #104bcb, 0 0 10px #104bcb;
}

.next a {
    text-shadow: 0 0 2px #104bcb, 0 0 6px #104bcb, 0 0 10px #104bcb;
}

#play {
    fill: #104bcb;
}

