
body {
    background-color: #ff5533;
}

.bottomborder {
    background-color:#ff5533;
}

.rightborder {
    background-color:#ff5533;
}

.topborder {
    background-color:#ff5533;
}

.leftborder {
    background-color:#ff5533;
}

.text{
    color: #ff5533;
}

.home a {
    text-shadow: 0 0 2px #ff5533, 0 0 6px #ff5533, 0 0 10px #ff5533;
}

.prev a {
    text-shadow: 0 0 2px #ff5533, 0 0 6px #ff5533, 0 0 10px #ff5533;
}

.next a {
    text-shadow: 0 0 2px #ff5533, 0 0 6px #ff5533, 0 0 10px #ff5533;
}

#play {
    fill: #ff5533;
}

