* {
	margin:0;
  display: inline-grid;
}

body {
border-width: 10px;
background-image: url('images/sky.gif');
background-size: cover;
background-position: center center;
background-attachment: fixed;
}

.images img{
  position: relative;
  top:-500px;

}

#flag img{
  width:120px;
  left:400px;
}

#bunny img{
  width:300px;
  left:800px;
}

#ariel img{
  width:150px;
  left:600px;
}

#cheese img{
  width:250px;
  left:400px;
}

#heathers img{
  width:300px;
}

#fire13 img{
  width:100px;
}

#shadows img{
  width:250px;
}

#cd img{
  width:100px;
}


#stv img{
  width:230px;
  left:1200px;
}

#darko img{
  width:100px;
}

#dorito img{
  width:250px;
}

#sicksad img{
  width:150px;
}

#skeleton img{
  width:90px;
}

#republican img{
  width:250px;
}

#olive img{
  width:120px;
}

#braces img{
  width:110px;
}

#hell img{
  width:400px;
}

#gumby img{
  width:90px;
}

#lisa img{
  width:80px;
}

#online img{
  width:150px;
}

#grinch img{
  width:130px;
}

#ncaa img{
  width:80px;
}

#pizza img{
  width:200px;
}

#kingp img{
  width:150px;
}

#sexcity img{
  width:350px;
}

#starbucks img{
  width:150px;
}

#subjective img{
  width:200px;
}

#trophy img{
  width:100px;
}

#veronica img{
  width:280px;
}

#lena img{
  width:180px;
  left:700px;
  top:-50px;
}

#peter img{
  width:130px;
}

#roses img{
  width:180px;
}

#bballsilvanas img{
  width:300px;
}

#cherry img{
  width:100px;
}

#online img{
  width:100px;
}

#t70s img{
  width:300px;
}

#average img{
  width:180px;
}

#sistine img{
  width:500px;
}

#jumanji img{
  width:200px;
}

#sriracha img{
  width:100px;
}

#bill img{
  width:100px;
}

#cake img{
  width:100px;
}

#eggsgood img{
  width:100px;
}

#judgejudy img{
  width:100px;
}

#kruger img{
  width:100px;
}

#bushpainting img{
  width:400px;
}

#marie img{
  width:100px;
}

#hell img{
  width:350px;
}

#OJ img{
  width:300px;
}

#whales img{
  width:400px;
}

#coke img{
  width:170px;
}

#jellosalad img{
  width:200px;
}

#jess img{
  width:300px;
}

#bball img{
  width:125px;
}

.links{
  width: 250px;
  height: 400px;
  margin: 100px;
  margin-top: 160px;
  position: relative;
}

.links a{
  color: white; 
  margin-top: 30px;
}

a:hover{
  color: #ff11a4; 
}

#lightlinks {
  position: absolute;
}

#lightlinks img{
  width: 500px;
}
