* {
	margin:0;
  display: inline-grid;
}

body {
border-width: 10px;
background-image: url('images/sky.gif');
background-size: cover;
background-position: center center;
background-attachment: fixed;
}

.images img{
  width:100px;
  position: absolute;
}

#flag img{
  width:120px;
  left:400px;
}

#bunny img{
  width:300px;
  left:800px;
}

#ariel img{
  width:150px;
  left:600px;
}

#cheese img{
  width:250px;
  left:400px;
}

#heathers img{
  width:300px;
}

#fire13 img{
  width:100px;
}

#shadows img{
  width:250px;
}

#cd img{
  width:130px;
}

#stv img{
  width:230px;
}

#darko img{
  width:100px;
}

#dorito img{
  width:250px;
}

#sicksad img{
  width:150px;
}

#skeleton img{
  width:90px;
}

#republican img{
  width:250px;
}

#olive img{
  width:120px;
}

#braces img{
  width:110px;
}

#hell img{
  width:400px;
}

#gumby img{
  width:90px;
}

#lisa img{
  width:80px;
}

#online img{
  width:150px;
}

#grinch img{
  width:130px;
}

#ncaa img{
  width:80px;
}

#pizza img{
  width:200px;
}

#kingp img{
  width:150px;
}

#sexcity img{
  width:350px;
}

#starbucks img{
  width:150px;
}

#subjective img{
  width:200px;
}

#trophy img{
  width:100px;
}

#veronica img{
  width:280px;
}


.links{
  width: 250px;
  height: 400px;
  margin: 100px;
  margin-top: 160px;
  position: relative;
}

.links a{
  color: white; 
  margin-top: 30px;
}

a:hover{
  color: #ff11a4; 
}

#lightlinks {
  position: absolute;
}

#lightlinks img{
  width: 500px;
}
