
body {
    background-color: #39b1af;
}

.bottomborder {
    background-color:#39b1af;
}

.rightborder {
    background-color:#39b1af;
}

.topborder {
    background-color:#39b1af;
}

.leftborder {
    background-color:#39b1af;
}

.text{
    color: #39b1af;
}

.home a {
    text-shadow: 0 0 12px #39b1af, 0 0 20px #39b1af;
}

.prev a {
    text-shadow: 0 0 12px #39b1af, 0 0 20px #39b1af;
}

.next a {
    text-shadow: 0 0 12px #39b1af, 0 0 20px #39b1af;
}

#play {
    fill: #39b1af;
}

