
body {
    background-color: #0af5a3;
}

.bottomborder {
    background-color:#0af5a3;
}

.rightborder {
    background-color:#0af5a3;
}

.topborder {
    background-color:#0af5a3;
}

.leftborder {
    background-color:#0af5a3;
}

.text{
    color: #0af5a3;
}

.home a {
    text-shadow: 0 0 2px #0af5a3, 0 0 6px #0af5a3, 0 0 10px #0af5a3;
}

.prev a {
    text-shadow: 0 0 2px #0af5a3, 0 0 6px #0af5a3, 0 0 10px #0af5a3;
}

.next a {
    text-shadow: 0 0 2px #0af5a3, 0 0 6px #0af5a3, 0 0 10px #0af5a3;
}

#play {
    fill: #0af5a3;
}

