\*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: IKANSEEYOUALL-Web;
    src: url("../../fonts/IKANSEEYOUALL-Web.ttf") format("truetype");
}

@font-face {
    font-family: SuisseIntl-Regular;
    src: url("../../fonts/SuisseIntl-Regular.otf") format("opentype");
}

@font-face {
    font-family: SuisseIntl-RegularItalic;
    src: url("../../onts/SuisseIntl-RegularItalic.otf") format("opentype");
}


body {
    margin: 0px;
    background-color: #ffa531;
}

section {
    display: flex;
}

.bottomborder {
    height: 20px;
    width:100vw;
    background-color:#ffa531;
    position: fixed;
    bottom:0px;
    z-index: 500;
}

.link, .text{
    flex: 1;
}

.links {
	height: 100vh;
	overflow-y: scroll;
	padding-left: 20px;
	z-index: 115;
}

.links::-webkit-scrollbar {
    display: none;
}

.links a{
    font-family: SuisseIntl-Regular;
    font-size: .8rem;
    line-height: 1;
    color: #ffa531;
    text-align: left;
    text-decoration: none;
}

.perfume{
    height: 100vh;
    position: fixed;
    background-color: white;
    padding;left: 20px;
    padding;right: 20px;
    padding;bottom: 20px;
    padding;top: 20px;
    z-index: 10;
}

.text{
    font-family: SuisseIntl-Regular;
    font-size: 1.5rem;
    line-height: 1.25;
    background: white;
    color: #ffa531;
    text-align: left;
    display: flex;
    overflow-y: scroll;
    margin-left: 20px;
    margin-right: 20px;
}

.text::-webkit-scrollbar {
    display: none;
}

.text p{
	margin-bottom: 10;
}

h1{
    font-family: IKANSEEYOUALL-Web;
    font-size: 3.65rem;
    line-height: 1.15;
    margin-top: 1.52rem;
    margin-bottom: 1rem;
}

h2{
    font-family: IKANSEEYOUALL-Web;
    font-size: 1.75rem;
    line-height: 1.15;
        color: white;
    text-shadow:0 0 12px #ffa531, 0 0 20px #ffa531;
    margin-top: 1.52rem;
    margin-bottom: .5rem;
}

.picture {
    height: 100vh;
    margin-bottom: 20px;  
}

.picture img{
	height: 97vh;
}

.home {
	position: fixed;
	bottom:3vh;
	width:100vw;
	margin: 0 auto;
	text-align: center;
	z-index: 100;
}

.home a {
	text-decoration: none;
	font-family: IKANSEEYOUALL-Web;
    font-size: 2.1rem;
    color: white;
    text-shadow: 0 0 12px #ffa531, 0 0 20px #ffa531;
}

#play {
    height: 65px;
    fill: #ffa531;
}

/*/* Smartphones (portrait) ----------- */

@media screen and (max-width: 700px) {
.perfume{
	background-color: #ffa531;
    height: 100vh;
    position: absolute;
    padding;left: 0px;
    padding;right: 0px;
    padding;bottom: 0px;
    padding;top: 0px;
}

body {
    margin: 0px;
    background-color: #ffa531;
}

section {
    display: block;
}

.picture {
    position: absolute;
    z-index: 500;
    top:3vw;
    margin: 0 auto;
text-align: center;
}

.picture img{
width: 94%;
height: auto;
z-index: 100;

}

.text {
    font-size: .9rem;
    line-height: 1.25;
    position: absolute;
    top: 66vh;
    z-index: 400;
    margin-left: 20px;
    margin-right: 20px;
    overflow-y: scroll;
    background: transparent;
    z-index: 600;
    color:white;
}

h1{
    font-size: 1.25rem;
    line-height: 1.15;
    margin-bottom: 1rem;
    padding-top:10px;
    color:white;
    text-shadow:0 0 12px #ffa531, 0 0 20px #ffa531;
}

.links {
  display: none;
  z-index: 1;
}

.home {
    top:20px;
    height: 150px;
}

.home a {
    font-size: 2rem;
}

.bottomborder {
    display: none;
}

#play {
    height: 45px;
    fill:white;
}

}*/







