
body {
    background-color: #44687c;
}

.bottomborder {
    background-color:#44687c;
}

.rightborder {
    background-color:#44687c;
}

.topborder {
    background-color:#44687c;
}

.leftborder {
    background-color:#44687c;
}

.text{
    color: #44687c;
}

.home a {
    text-shadow: 0 0 12px #44687c, 0 0 20px #44687c;
}

.prev a {
    text-shadow: 0 0 12px #44687c, 0 0 20px #44687c;
}

.next a {
    text-shadow: 0 0 12px #44687c, 0 0 20px #44687c;
}

#play {
    fill: #44687c;
}

/*/* Smartphones (portrait) ----------- */

@media screen and (max-width: 1036px) {
.perfume{
    background-color: #44687c;
}

body {
    background-color: #44687c;
}

h1{
    text-shadow:0 0 12px #44687c, 0 0 20px #44687c;
}