
body {
    background-color: #4554eb;
}

.bottomborder {
    background-color:#4554eb;
}

.rightborder {
    background-color:#4554eb;
}

.topborder {
    background-color:#4554eb;
}

.leftborder {
    background-color:#4554eb;
}

.text{
    color: #4554eb;
}

.home a {
    text-shadow: 0 0 2px #4554eb, 0 0 6px #4554eb, 0 0 10px #4554eb;
}

.prev a {
    text-shadow: 0 0 2px #4554eb, 0 0 6px #4554eb, 0 0 10px #4554eb;
}

.next a {
    text-shadow: 0 0 2px #4554eb, 0 0 6px #4554eb, 0 0 10px #4554eb;
}

#play {
    fill: #4554eb;
}

